{% if paginate.pages > 1 %}
<div class="pagination clearfix">
  <p class="pagination-showing">
    {{'general.pagination.showing' | t }} {{ paginate.current_offset | plus: 1 }} - {% if paginate.next %}{{ paginate.current_offset | plus: paginate.page_size }}{% else %}{{ paginate.items }}{% endif %} {{'general.pagination.of' | t }} {{ paginate.items }}
  </p>
  <ul class="pagination-page list-inline">
    {% if paginate.previous %}
    <li class="page-prev"><a href="{{ paginate.previous.url }}" title="{{'general.pagination.previous' | t }}"><i class="fa fa-angle-left"></i></a></li>
    {% else %}
    <li class="page-prev"><a class="disabled" href="javascript:;"><i class="fa fa-angle-left"></i></a></li>
    {% endif %}

    {% for part in paginate.parts %}
    {% if part.is_link %}
    <li><a href="{{ part.url }}">{{ part.title }}</a></li>
    {% else %}
    {% if part.title == '&hellip;' %}
    <li class="ellipsis"><span>{{ part.title }}</span></li>
    {% else %}
    <li class="active"><a href="javascript:;">{{ part.title }}</a></li>
    {% endif %}
    {% endif %}
    {% endfor %}

    {% if paginate.next %}
    <li class="page-next"><a href="{{ paginate.next.url }}" title="{{'general.pagination.next' | t }}"><i class="fa fa-angle-right"></i></a></li>
    {% else %}
    <li class="page-next"><a class="disabled" href="javascript:;"><i class="fa fa-angle-right"></i></a></li>
    {% endif %}   
  </ul>

</div>
{% endif %}
