{% unless settings.shipping_calculator == 'Disabled' %}

<div id="shipping-calculator" class="col-sm-4">

  <div class="cart-left">
    <div class="shipping-title">{{'cart.shipping_calculator.title' | t}}</div>

    <div class="shipping-calculator-form">
      <div class="control-wrapper">
        <label for="address_country">{{'cart.shipping_calculator.country' | t}}</label>
        <select id="address_country" class="col-sm-12 col-xs-12" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}">{{ country_option_tags }}</select>
      </div>
      <div class="control-wrapper field" id="address_province_container" style="display:none;">
        <label for="address_province" id="address_province_label">{{'cart.shipping_calculator.state' | t}}</label>
        <select id="address_province" class="col-sm-12 col-xs-12" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
      </div>  
      <div class="control-wrapper">
        <label for="address_zip">{{'cart.shipping_calculator.zip' | t}}</label>
        <input type="text" id="address_zip" class="col-sm-12 col-xs-12" name="address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} />
      </div>
      <div class="control-wrapper">
        <input type="button" class="get-rates btn-3" value="{{'cart.shipping_calculator.submit_button' | t}}" />
      </div>
    </div>

    <div id="wrapper-response"></div>
  </div>

</div>


{% endunless %}