{% if settings.show_recent_articles %}
<div class="sb-widget">

  {% if settings.recent_articles_title != blank %}
  <div class="sb-title">
    <h4 class="title">{{ settings.recent_articles_title }}</h4>
  </div>
  {% endif %}

  <ul class="list-unstyled list-recent-article">
    {% for article in blog.articles limit:settings.recent_articles_number %}
    <li>
      <span class="article-title">{{ article.title | link_to: article.url }}</span>
      <p class="article-date" style="font-style: italic;">{{ article.created_at | date: " %B %d, %Y " }}</p>
    </li>
    {% endfor %}
  </ul>

</div>
{% endif %}

{% if settings.show_tags_in_blog %}
<div class="sb-widget">

  {% if settings.tags_in_blog_title != blank %}
  <div class="sb-title">
    <h4 class="title">{{ settings.tags_in_blog_title }}</h4>
  </div>
  {% endif %}
  <ul class="list-inline sb-blog-tags">
    {% for tag in blog.all_tags %}
    {% if current_tags contains tag %}
    <li class="active">{{ tag | link_to_remove_tag: tag }}{% if forloop.last %}{% else %},{% endif%}</li>
    {% else %}
    <li>{{ tag | link_to_add_tag: tag }}{% if forloop.last %}{% else %},{% endif%}</li>
    {% endif %}
    {% endfor %}
  </ul>

</div>
{% endif %}

{% if settings.show_sidebar_blog_image %}
<div class="sb-widget">

  <a href="{{ settings.sidebar_blog_image_link }}">
    <img src="{{ 'sidebar_blog_image.jpg' | asset_url }}" alt="" />
  </a>

</div>
{% endif %}

{% if settings.show_sidebar_blog_custom %}
<div class="sb-widget">

  {% if settings.sidebar_blog_custom_title != blank %}
  <div class="sb-title">
    <h4 class="title">{{ settings.sidebar_blog_custom_title }}</h4>
  </div>
  {% endif %}

  {% if settings.sidebar_blog_custom_caption != blank %}
  <div class="sb-caption">
    {{ settings.sidebar_blog_custom_caption }}
  </div>
  {% endif %}

</div>
{% endif %}