{% comment %}
  Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation
{% endcomment %}
{% unless template == 'index' %}
<nav class="breadcrumb" aria-label="breadcrumbs">
 


  {% if template contains 'product' %}
<h1>{{ product.title }}</h1>
    {% if collection %}
   <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
      <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
      {% if collection.handle %}
        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        {{ collection.title | link_to: url }}
      {% endif %}
  {% else %}
  <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
  <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
    <span>{{ product.title }}</span>
    {% endif %}

    
   

  {% elsif template contains 'collection' and collection.handle %}
<h1>{{ collection.title }}</h1>
    <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>

    <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
    {% if current_tags %}
      {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
      {{ collection.title | link_to: url }}
      <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
      <span>{{ current_tags | join: " + " }}</span>
    {% else %}
      <span>{{ collection.title }}</span>
   
    {% endif %}

  {% elsif template == 'blog' %}
 <h1>{{ blog.title }}</h1>
    <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>

    <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
    {% if current_tags %}
      {{ blog.title | link_to: blog.url }}
      <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
      <span>{{ current_tags | join: " + " }}</span>
    {% else %}
 
    <span>{{ blog.title }}</span>
   
    {% endif %}

  {% elsif template == 'article' %}
<h1>{{ article.title }}</h1>
    <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>

    <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
    {{ blog.title | link_to: blog.url }}
    <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
    <span>{{ article.title }}</span>

  {% elsif template contains 'page' %}
<h1>{{ page.title }}</h1>
    <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>

   <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
   <span>{{ page.title }}</span>

  {% else %}
<h1>{{ page_title }}</h1>
    <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>

   <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
   <span>{{ page_title }}</span>

  {% endif %}
</nav>
{% endunless %}
