<!-- Mini Cart Start -->
<div class="baskettop">
  <div class="wrapper-top-cart">
    <a href="javascript:void(0)" id="ToggleDown" class="icon-cart-arrow">
      {% if settings.header_style_1 == 'style_8' or settings.header_style_1 == 'style_7'  %}
      <i class="fa fa-shopping-basket" aria-hidden="true"></i>
      <div class="detail">
        <div id="cartCount"> 
          {{ cart.item_count }}
        </div>
      </div>
      {% endif %}

      {% if settings.header_style_1 == 'style_1' %}
      <i class="fa fa-shopping-bag" aria-hidden="true"></i>
      <div class="detail">
        <div id="cartCount"> 
          {{ cart.item_count }}
        </div>
        {% if cart.item_count == 0 or cart.item_count == 1 %}
        <span class="cartCountspan">{{ 'cart.general.item' | t }}</span>
        {% else %}  
        <span class="cartCountspan">{{ 'cart.general.items' | t }} </span>
        {% endif %}
        <div id="minicart_total">
          <span> {{ cart.total_price | money_without_currency }}</span>
        </div>
      </div>
      {% endif %}
      {% if settings.header_style_1 == 'style_2' %}
      <i class="fa fa-shopping-bag" aria-hidden="true"></i>
      <div class="detail">
        <div id="cartCount"> 
          {{ cart.item_count }}
        </div>
        {% if cart.item_count == 0 or cart.item_count == 1 %}
        <span class="cartCountspan">{{ 'cart.general.item' | t }}</span>
        {% else %}  
        <span class="cartCountspan">{{ 'cart.general.items' | t }} </span>
        {% endif %}
        <div id="minicart_total">
          <span> {{ cart.total_price | money_without_currency }}</span>
        </div>
      </div>
      {% endif %}
      {% if settings.header_style_1 == 'style_3' or settings.header_style_1 == 'style_12'  %}
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <div id="cartCount"> 
        {{ cart.item_count }}
      </div>
      {% endif %}
     
       {% if settings.header_style_1 == 'style_5' %}
      <i class="fa fa-shopping-bag" aria-hidden="true"></i>
      <div class="detail">
        <div id="cartCount"> 
          {{ cart.item_count }}
        </div>
        {% if cart.item_count == 0 or cart.item_count == 1 %}
        <span class="cartCountspan">{{ 'cart.general.item' | t }}</span>
        {% else %}  
        <span class="cartCountspan">{{ 'cart.general.items' | t }} </span>
       
        {% endif %}
        <div id="minicart_total">
         <span> {{ cart.total_price | money_without_currency }}</span>
        </div>
      </div>
      {% endif %}
      
     
      
      {% if settings.header_style_1 == 'style_9' %}
       <i class="fa fa-shopping-basket" aria-hidden="true"></i>
      <div class="detail">
        <div id="cartCount"> 
          {{ cart.item_count }}
        </div>
        {% if cart.item_count == 0 or cart.item_count == 1 %}
        <span class="cartCountspan">{{ 'cart.general.item' | t }}</span>
        {% else %}  
        <span class="cartCountspan">{{ 'cart.general.items' | t }} </span>
        {% endif %}
        <div id="minicart_total">
          <span> {{ cart.total_price | money_without_currency }}</span>
        </div>
      </div>
      {% endif %}
     
     
      {% if settings.header_style_1 == 'style_6'  or settings.header_style_1 == 'style_4' or settings.header_style_1 == 'style_11' or settings.header_style_1 == 'style_10'  %}
      
      <div class="detail">
        <div id="cartCount"> 
          {{ cart.item_count }} 
        </div>
       
        
      </div>
      {% endif %}
    </a> 
    <div id="slidedown-cart" style="display:none"> 
      <!--  <h3>{{ 'cart.general.mini_cart_title' | t }}</h3>-->
      <div class="no-items">
        <p>{{ 'cart.general.empty' | t }}</p>
      </div>
      <div class="has-items">
        <ul class="mini-products-list">  
          {% for item in cart.items %}
          <li class="item" id="cart-item-{{item.id}}">
            <a href="{{item.url}}" title="{{item.title}}" class="product-image">
              <img src="{{ item.image | product_img_url: 'small' }}" alt="{{item.title}}"></a>
            <div class="product-details">
              <p class="product-name"><a href="{{item.url}}">{{ item.product.title }}
                {% if item.product.variants.size != 0 %}
                {% unless item.variant.title contains 'Default' %}
                {{ item.variant.title }}
                {% endunless %}
                {% endif %}</a></p>
              <div class="cart-collateral"><span class="price">{{item.price | money}}</span> x {{item.quantity}}</div>
            </div>
            <a href="javascript:void(0)" title="Remove This Item" class="btn-remove"><span class="zmdi zmdi-close"></span></a>
          </li>
          {% endfor %}
        </ul>
        <div class="summary">                
          <p class="total">
            <span class="label">{{ 'cart.general.cart_total' | t }}</span>
            <span class="price">{{cart.total_price | money}}</span> 
          </p>
        </div>
        <div class="actions">
          <button class="btn" onclick="window.location='/checkout'"><i class="icon-check"></i>{{ 'cart.general.checkout' | t }}</button>
          <button class="btn text-cart" onclick="window.location='/cart'"><i class="icon-basket"></i>{{ 'cart.general.view_cart' | t }}</button>
        </div>
      </div>
    </div>
  </div>
</div> <!-- End Top Header --> 