<ul id="MobileNav" class="mobile-nav wide--hide post-large--hide large--hide">  
  {% for link in linklists.main-menu.links %}   
  {% assign child_list_handle = link.title | handleize %}
  <li class="mobile-nav__link" aria-haspopup="true">
    {% if linklists[child_list_handle].links != blank %}
    <a href="{{ link.url }}">
      {{ link.title }}

    </a>
    <span class="mobile-nav__sublist-trigger">{% include 'mobile-nav-icons' %}</span>
    <ul class="mobile-nav__sublist">  
      {% for child in linklists[child_list_handle].links %}
      {% assign sibil = child.title | handleize %}   
      {% if linklists[sibil].links != blank %}    
      <li class="mobile-nav__link" aria-haspopup="true">

        <a href="{{ child.url }}">
          {{ child.title }}
        </a>
        <span class="mobile-nav__sublist-trigger">{% include 'mobile-nav-icons' %}</span>

        <ul class="mobile-nav__sublist">  
          {% for sibil in linklists[sibil].links %}            
          <li class="mobile-nav__sublist-link">
            <a href="{{ sibil.url }}">{{ sibil.title }}</a>
          </li>
          {% endfor %}
        </ul> 

      </li>
      {% else %}
      <li class="mobile-nav__sublist-link">
        <a href="{{ child.url }}">{{ child.title }}</a>
      </li>

      {% endif %}
      {% endfor %}
    </ul>
    {% else %}
    <a href="{{ link.url }}" class="mobile-nav">
      {{ link.title }}
    </a>
    {% endif %}
  </li>
  {% endfor %}



</ul>
