{{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
{{ 'jquery.products.min.js' | asset_url | script_tag }}
          <div class="dt-sc-hr-invisible-large"></div>

<section class="recently-viewed-products">
   {% if settings.recently_viewed_products_title != '' %} 
  <div class="section-header section-header--small">
        <div class="border-title">
    
    <h2>{{ settings.recently_viewed_products_title  }}</h2>    
  
    </div>
  </div>
  {% endif %}
  <div class="products-grid" id="recently-viewed-products-grid">
  </div>
</section>


{% raw %}
<script id="recently-viewed-product-grid-template"  type="text/x-jquery-tmpl">
{% endraw %}
<div class="grid__item{% raw %} wide--one-quarter post-large--one-quarter large--one-quarter">
  <div id="product-${id}" class="inner product-item{{if !available}} sold-out {{/if}}{{if compare_at_price_min > price_min}} on-sale {{/if}}">
    <div class="inner-top products">
      <div class="product-top">
        <div class="product-image">
          <a href="${url}" class="product-grid-image">
            <img src="${Shopify.Products.resizeImage(featured_image, "master")}" alt="${featured_image.alt}"/>
            
          </a>
        </div>
        
        {{if compare_at_price_min > price_min || !available}}
        <div class="product-label">
          {{if compare_at_price_min > price_min}} 
            <strong class="label" {% endraw %}{{ 'products.product.sale' | t }}{% raw %}</strong>
          {{/if}}
          {{if !available}}
            <strong class="sold-out-label" {% endraw %}>{{ 'products.product.sold_out' | t }}{% raw %}</strong>
          {{/if}}
        </div>
        {{/if}}
      </div>
  
      <div class="product-bottom product-detail">
        {% endraw %}        
        {% raw %}
          <a class="product-title grid-link__title" href="${url}">${title}</a>
        {% endraw %}        
        {% raw %}

        <span class="shopify-product-reviews-badge" data-id="${id}"></span>

        <div class="price-box grid-link__meta">   
        {{if compare_at_price_min > price_min}} 
          <p class="sale">
            <del class="old-price grid-link__sale_price"> {{html Shopify.formatMoney(compare_at_price_min, window.money_format)}}</del>
            <span class="special-price grid-link__org_price">{{if price_varies}}{% endraw %}{% include 'varies_from' %}{% raw %}{{/if}}{{html Shopify.formatMoney(price_min, window.money_format)}}</span>
            </p>
        {{else}}
          <p class="regular-product">
            <span >{{if price_varies}}{% endraw %}{% include 'varies_from' %}{% raw %}{{/if}}{{html Shopify.formatMoney(price_min, window.money_format)}}</span>
          </p>
        {{/if}}
        </div>
    
        <div class="action">
          <form action="/cart/add" method="post" class="variants" id="product-actions-${id}" enctype="multipart/form-data" style="padding:0px;">    
            {{if !available}} 
            <input class="btn add-to-cart-btn" type="submit" {% endraw %} value="{{ 'products.product.unavailable' | t }}{% raw %}" disabled="disabled"/>
            {{else variants.length > 1 }}
            <input class="btn" type="button" onclick="window.location.href='${url}'" {% endraw %} value="{{ 'products.product.select_options' | t }}{% raw %}"/>
            {{else}}
            <input type="hidden" name="id" value="${variants[0].id}" />      
            <input class="btn add-to-cart-btn" type="submit" {% endraw %} value="{{ 'products.product.add_to_cart' | t }}{% raw %}"/>
            {{/if}}
          </form>
        </div>    
      </div>
    </div>
  </div>
</div>
</script>
{% endraw %}

<script>
Shopify.Products.showRecentlyViewed({ 
  howManyToShow: {{ settings.number_of_recently_viewed_products }}, 
  wrapperId: 'recently-viewed-products-grid', 
  templateId: 'recently-viewed-product-grid-template',
  onComplete: function() {
  if (jQuery("#recently-viewed-products-grid").children().length > 0) {
  jQuery(".recently-viewed-products").show();  
}
  }
});
</script>

  