<div
  id="collection-slideshow-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="collection-slideshow"
  style="background-color: {{ section.settings.background }}"
  >
  {% if section.settings.use_container %} <div class="page-width"> {% endif %}
    <div
      class="collection-slideshow js-collection-slideshow"
      data-fade="{{ section.settings.fade }}"
      data-infinite="{{ section.settings.infinite }}"
      data-arrows="{{ section.settings.arrows }}"
      {% if section.settings.arrows %}
        data-arrow-type="{{ section.settings.arrow_type }}"
      {% endif %}
      data-dots="{{ section.settings.dots }}"
      data-autoplay="{{ section.settings.autoplay }}"
      {% if section.settings.autoplay %}
        data-autoplay-speed="{{ section.settings.autoplay_speed }}"
      {% endif %}
      >
      {% for block in section.blocks %}
        <div class="collection-slideshow__item">
          {% if block.settings.image == blank %}
            <div class="placeholder-background">
              {% capture current %}{% cycle 1, 2 %}{% endcapture %}
              {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {% else %}
            <div
              class="collection-slideshow__image"
              style="background-image: url({{ block.settings.image | img_url: '2048x' }});"
              >
              <img
                src="{{ block.settings.image | img_url: '2048x' }}"
                alt="Collection slideshow"
                class="slider-{{ block.id }} slide-{{ section.id }}">
            </div>
          {% endif %}
          <div class="collection-slideshow__content-wrapper">
          {% unless section.settings.use_container %} <div class="page-width"> {% endunless %}
            <div class="collection-slideshow__content collection-slideshow__content--{{ block.settings.alignment }} collection-slideshow__content--{{ block.settings.color_scheme }}">
              {% unless block.settings.subheading == blank %}
                <div class="collection-slideshow__subtitle">
                  <p>{{ block.settings.subheading }}</p>
                </div>
              {% endunless %}

              {% unless block.settings.heading == blank %}
                <h2 class="collection-slideshow__title">{{ block.settings.heading }}</h2>
              {% endunless %}

              {% unless block.settings.description == blank %}
                <div class="collection-slideshow__description">
                  <p>{{ block.settings.description }}</p>
                </div>
              {% endunless %}

              {% if block.settings.link != blank %}
                <a
                  href="{{ block.settings.link }}"
                  class="btn hero__button"
                  >
                  {{ block.settings.link_label }}
                </a>
              {% endif %}
            </div>
          {% unless section.settings.use_container %} </div> {% endunless %}
          </div>
        </div>
      {% else %}
        <div class="page-width">
          <p>{{ 'homepage.onboarding.no_content' | t }}</p>
        </div>
      {% endfor %}
    </div>
  {% if section.settings.use_container %} </div> {% endif %}
</div>

<style>
  .collection-slideshow__item {
    height: {{ section.settings.height }};
  }
  .slick-dots {
    margin-bottom: {{ section.settings.dots_margin_bottom }};
  }
</style>

{% schema %}
  {
    "name": "Collection Slideshow",
    "class": "gemini-hero collection-slideshow",
    "max_blocks": 5,
    "settings": [
      {
        "type": "header",
        "content": "Slideshow Options"
      },
      {
        "type": "checkbox",
        "id": "fade",
        "default": true,
        "label": "Fade animation",
        "info": "Enable fade"
      },
      {
        "type": "checkbox",
        "id": "arrows",
        "default": true,
        "label": "Show arrows",
        "info": "Show Prev/Next Arrows"
      },
      {
        "type": "select",
        "id": "arrow_type",
        "default": "arrow",
        "label": "Choose arrows type",
        "options": [
          {
            "value": "arrow",
            "label": "Default"
          },
          {
            "value": "square",
            "label": "Squared arrows"
          },
          {
            "value": "circle",
            "label": "Circle arrows"
          },
          {
            "value": "half-circle",
            "label": "Half circle arrows"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "dots",
        "default": false,
        "label": "Show dots",
        "info": "Show dot indicators"
      },
      {
        "type": "text",
        "id": "dots_margin_bottom",
        "default": "15px",
        "label": "Dot indicators margin bottom"
      },
      {
        "type": "checkbox",
        "id": "infinite",
        "default": true,
        "label": "Infinite",
        "info": "Infinite loop sliding"
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "default": true,
        "label": "Autoplay",
        "info": "Enables autoplay mode."
      },
      {
        "type": "text",
        "id": "autoplay_speed",
        "default": "3000",
        "label": "Autoplay Speed",
        "info": "Autoplay speed in milliseconds. Default: 3000."
      },
      {
        "type": "header",
        "content": "Design options"
      },
      {
        "type": "checkbox",
        "id": "use_container",
        "default": true,
        "label": "Use container"
      },
      {
        "type": "text",
        "id": "height",
        "default": "500px",
        "label": "Slideshow height",
        "info": "Set height for slideshow."
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background",
        "default": "#e8e8e8"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "color_scheme",
            "label": "Text color scheme",
            "default": "dark",
            "options": [
              {
                "value": "dark",
                "label": "Dark"
              },
              {
                "value": "light",
                "label": "Light"
              }
            ]
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading text"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading text"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "Description text",
            "default": "Tell your brand's story through video and images"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Slide link"
          },
          {
            "type": "text",
            "id": "link_label",
            "label": "Slide link label",
            "default": "Shop Now",
            "info": "Label of slide link."
          }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  }
{% endschema %}
