<div class="imagetext" data-section-id="{{ section.id }}" data-section-type="imagetext" style="background-color: {{ section.settings.background }}">
  {% if section.settings.use_container %} <div class="page-width"> {% endif %}
  <div class="grid">
    {% for block in section.blocks %}
      {%- case block.settings.width -%}
      {% when '1' %}
        {% assign block_width = 'medium-up--one-quarter' %}
        {% if section.settings.use_container %}
           {% assign image_size = '270x' %}
        {% else %}
           {% assign image_size = 'master' %}
        {% endif %}
      {% when '2' %}
        {% assign block_width = 'medium-up--one-third' %}
        {% if section.settings.use_container %}
          {% assign image_size = '370x' %}
        {% else %}
          {% assign image_size = 'master' %}
        {% endif %}
      {% when '3' %}
        {% assign block_width = 'medium-up--one-half' %}
        {% if section.settings.use_container %}
          {% assign image_size = '570x' %}
        {% else %}
          {% assign image_size = 'master' %}
        {% endif %}
      {% when '4' %}
        {%- assign block_width = 'medium-up--two-thirds' -%}
        {% if section.settings.use_container %}
          {%- assign image_size = '770x' -%}
        {% else %}
          {% assign image_size = 'master' %}
        {% endif %}
      {% when '5' %}
        {% assign block_width = '' %}
        {% if section.settings.use_container %}
          {% assign image_size = '1170x' %}
        {% else %}
          {% assign image_size = 'master' %}
        {% endif %}
      {%- endcase -%}
      <div class="grid__item {{ block_width }} one-whole">
        {%- if block.type == 'image' -%}
          <div class="imagetext--image">
            {%- if block.settings.image != blank -%}
              <img src="{{ block.settings.image | img_url: image_size, format: 'pjpg' | split:'?' | first }}" alt="{{ block.settings.image.alt }}" width="{{ image_size | split: 'x'| first }}" height="{{ image_size | split: 'x'| last }}" />
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
        {%- elsif block.type == 'text' -%}
          <div
            class="imagetext--text imagetext__content--{{ block.settings.alignment }}"
            {% if block.settings.text_color %}
              style="color: {{ block.settings.text_color }}"
            {% endif %}
            >
            {%- if block.settings.title != blank -%}
              <h2>{{ block.settings.title }}</h2>
            {%- endif -%}
            {%- if block.settings.content != blank -%}
              <div class="rte imagetext__paragraph">{{ block.settings.content }}</div>
            {%- endif -%}
            {% if block.settings.link != blank and block.settings.btn_label != blank %}
              <a href="{{ block.settings.link }}" class="btn btn--circled">{{ block.settings.btn_label }}</a>
            {% endif %}
          </div>
        {%- endif -%}
      </div>
    {% endfor %}
  </div>
  {% if section.settings.use_container %} </div> {% endif %}
</div>

{% include 'section-spacing' %}

{% schema %}
  {
    "name": "Image with text",
    "class": "gemini-imagetext",
    "max_blocks": 10,
    "presets": [
      {
        "name": "Image with text",
        "category": "Image",
        "blocks" : [
          {
            "type": "image"
          },
          {
            "type": "text"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "Design options"
      },
      {
        "type": "paragraph",
        "content": "To horizontally center a element use margin: auto;"
      },
      {
        "type": "checkbox",
        "id": "use_container",
        "label": "Use container",
        "default": true
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "text",
        "id": "margin",
        "label": "Margin (top right bottom left)",
        "info": "60px auto 60px auto"
      },
      {
        "type": "text",
        "id": "padding",
        "label": "Padding (top right bottom left)",
        "info": "60px 0 60px 0"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "select",
            "id": "width",
            "label": "width: ",
            "default": "3",
            "options": [
                {
                  "value": "1",
                  "label": "25%"
                },
                {
                  "value": "2",
                  "label": "33.33333333%"
                },
                {
                  "value": "3",
                  "label": "50%"
                },
                {
                  "value": "4",
                  "label": "66.66666667%"
                },
                {
                  "value": "5",
                  "label": "100%"
                }
              ]
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "select",
            "id": "width",
            "label": "width: ",
            "default": "3",
            "options": [
                {
                  "value": "1",
                  "label": "25%"
                },
                {
                  "value": "2",
                  "label": "33.33333333%"
                },
                {
                  "value": "3",
                  "label": "50%"
                },
                {
                  "value": "4",
                  "label": "66.66666667%"
                },
                {
                  "value": "5",
                  "label": "100%"
                }
              ]
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text color"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title 1"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
          },
          {
            "type": "text",
            "id": "btn_label",
            "label": "Button label"
          },
          {
            "type":"url",
            "id":"link",
            "label":"Link",
            "info": "Optional"
          }
        ]
      }
    ]
  }
{% endschema %}
