<div
  id="shopinfo-{{ section.id }}"
  class="shopinfo"
  data-section-id="{{ section.id }}"
  data-section-type="shopinfo"
  >
  <div class="page-width">

    {% include 'section-heading' %}

    {% if section.blocks.size > 0 %}
      {%- assign columns = section.blocks.size -%}

      {%- if columns >= 2 -%}
        {% assign image_size = '480x' %}
      {%- else -%}
        {% assign image_size = '600x' %}
      {%- endif -%}

      {%- case columns -%}
        {% when 1 %}
          {%- assign block_width = 'one-whole' -%}
        {% when 2 %}
          {%- assign block_width = 'one-half small--one-whole' -%}
        {% when 3 %}
          {%- assign block_width = 'one-third small--one-whole' -%}
        {% when 4 %}
          {%- assign block_width = 'one-quarter small--one-whole' -%}
        {% when 5 %}
          {%- assign block_width = 'one-fifth small--one-whole' -%}
        {% when 6 %}
          {%- assign block_width = 'one-sixth small--one-whole' -%}
      {%- endcase -%}

      <div
        class="grid {% if columns > 2 %}grid--carousel js-slick-carousel{% endif %}"
        {% if columns > 2 %}
          data-arrow-type="arrow"
          data-slick='{"slidesToShow": {{ columns }}, "responsive": [{"breakpoint": 1025, "settings": {"slidesToShow": 3}}, {"breakpoint": 768, "settings": {"slidesToShow": 2}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'
        {% endif %}
        >
        {% for block in section.blocks %}
          <div class="grid__item {{ block_width }}">
            <div class="shopinfo__item">
              <div class="shopinfo__item__media">
                {%- if block.settings.link != blank -%}
                  <a
                    href="{{ block.settings.link }}"
                    class="shopinfo__item__media__inner"
                    >
                {%- else -%}
                  <div class="shopinfo__item__media__inner">
                {%- endif -%}
                  {% if block.settings.image != blank %}
                    <img
                      src="{{ block.settings.image | img_url: image_size }}"
                      width="{{ image_size | split: 'x'| first }}"
                      height="{{ image_size | split: 'x'| last }}"
                      alt="{{ block.settings.image.alt }}">
                  {% elsif block.settings.icon != blank %}
                    <i class="fa {{ block.settings.icon }}"></i>
                  {% else %}
                    {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
                  {% endif %}
                {%- if block.settings.link != blank -%}
                  </a>
                {%- else -%}
                  </div>
                {%- endif -%}
              </div>
              <div class="shopinfo__item__content">
                {% unless block.settings.heading == blank %}
                  <h5 class="shopinfo__item__title">
                    {%- if block.settings.link != blank -%}
                      <a href="{{ block.settings.link }}">
                    {%- endif -%}
                      {{ block.settings.heading }}
                    {%- if block.settings.link != blank -%}
                      </a>
                    {%- endif -%}
                  </h5>
                {% endunless %}
                {% unless block.settings.describe == blank %}
                  <div class="shopinfo__item__describe">
                    {{ block.settings.describe }}
                  </div>
                {% endunless %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div>{{ 'homepage.onboarding.no_content' | t }}</div>
    {% endif %}
  </div>
</div>

{% include 'section-spacing' %}

{% schema %}
  {
    "name": "Store information",
    "class": "gemini-shopinfo",
    "max_blocks": 6,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "SubHeading",
        "default": "Subtitle"
      },
      {
        "type": "header",
        "content": "Design options"
      },
      {
        "type": "paragraph",
        "content": "To horizontally center a element use margin: auto;"
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "text",
        "id": "margin",
        "label": "Margin (top right bottom left)",
        "info": "60px auto 60px auto"
      },
      {
        "type": "text",
        "id": "padding",
        "label": "Padding (top right bottom left)",
        "info": "60px 0 60px 0"
      }
    ],
    "blocks": [
      {
        "type": "iconbox",
        "name": "Store information",
        "settings": [
          {
            "type": "header",
            "content": "Use image or icon"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image ( high priority )"
          },
          {
            "type": "text",
            "id": "icon",
            "label": "Icons font for shipping icons",
            "info": "Example: fa-gift  [Get icons fontawesome](http:\/\/fontawesome.io\/icons/)",
            "default": "fa-gift"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Free Shipping"
          },
          {
            "type": "textarea",
            "id": "describe",
            "label": "Describe",
            "default": "Tell your store infomartion"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Store information",
        "category": "Store information",
        "blocks": [
          {
            "type": "iconbox"
          },
          {
            "type": "iconbox"
          },
          {
            "type": "iconbox"
          },
          {
            "type": "iconbox"
          }
        ]
      }
    ]
  }
{% endschema %}
