{% layout settings.customer_layout %}

<div id="customer-register">
  <header class="page-header">
    <div class="container">
      <h2 {% if settings.enable_multilang %}data-translate="customer.register.title"{% endif %}>
        {{ 'customer.register.title' | t }}
      </h2>
      {% include 'breadcrumb' %}
    </div>
  </header>
  
  <div class="container">    
    <p class="title">{% include 'multilang' with settings.register_text_desc %}</p>

    {% form 'create_customer' %}
    {{ form.errors | default_errors }}  
      <div id="first_name">
        <label for="first_name"><span {% if settings.enable_multilang %}data-translate="customer.register.first_name"{% endif %}>{{ 'customer.register.first_name' | t }}</span></label>
        <input type="text" value="" name="customer[first_name]" id="first_name" {% if form.errors contains "first_name" %}class="error"{% endif %} >
      </div>

      <div id="last_name">
        <label for="last_name"><span {% if settings.enable_multilang %}data-translate="customer.register.last_name"{% endif %}>{{ 'customer.register.last_name' | t }}</span></label>
        <input type="text" value="" name="customer[last_name]" id="last_name" {% if form.errors contains "last_name" %}class="error"{% endif %} >
      </div>

      <div id="email">
        <label for="email"><span {% if settings.enable_multilang %}data-translate="customer.register.email"{% endif %}>{{ 'customer.register.email' | t }}</span><em>*</em></label>
        <input type="email" value="" name="customer[email]" id="email" {% if form.errors contains "email" %}class="error"{% endif %}  >
      </div>

      <div id="create_password">
        <label for="password"><span {% if settings.enable_multilang %}data-translate="customer.register.password"{% endif %}>{{ 'customer.register.password' | t }}</span><em>*</em></label>
        <input type="password" value="" name="customer[password]" id="create_password" {% if form.errors contains "password" %}class="error"{% endif %}>
      </div>

      <div class="action-btn">
        <p><input type="submit" {% if settings.enable_multilang %}data-translate="customer.register.submit"{% endif %} value="{{ 'customer.register.submit' | t }}" class="btn"></p>
      </div>
    {% endform %}
  </div>
</div>