<nav role="navigation">
  <ul class="site-nav">
    {%- for link in linklists[section.settings.main_linklist].links -%}
      {%- assign extra_label  = link.title | split: '[' | last  | split: ']' | first -%}
      {%- assign link_title  = link.title | split: '[' | first | escape -%}
      {%- assign child_list_handle = link_title | handleize -%}
      {%- if menus[child_list_handle].links != blank -%}
        {%- assign parent_level = 'parent' -%}
        {%- assign columns = 0 -%}
        {%- for childlink in menus[child_list_handle].links -%}
          {%- assign another_child_list_handle = childlink.title | handleize -%}
          {%- if menus[another_child_list_handle].links != blank -%}
            {%- assign parent_level = 'grandparent' -%}
          {%- endif -%}
          {%- assign columns = columns | plus: 1  -%}
        {%- endfor -%}

        {%- if section.settings.mega_image != blank -%}
          {%- assign columns = columns | plus: 1  -%}
        {%- endif -%}

        <li class="{{ extra_label }} site-nav--has-submenu {{ parent_level }} columns-{{ columns }} {% if link.active %} site-nav--active{% endif %} {% if forloop.last == true %} site-nav--last {% endif %}">
          <a href="{{ link.url }}" class="site-nav__link">
            {{ link_title }}
            {% include 'icon-arrow-down' %}
          </a>
          <ul class="site-nav__submenu">
            {%- for childlink in menus[child_list_handle].links -%}
              {%- assign another_child_list_handle = childlink.title | handleize -%}
              {%- if menus[another_child_list_handle].links != blank -%}
                <li class="site-nav--has-submenu{% if childlink.active %} site-nav--active{% endif %}">
                  <a href="{{ childlink.url }}" class="site-nav__link">
                    {{ childlink.title }}
                  </a>
                  <ul class="site-nav__submenu">
                    {% for another_childlink in menus[another_child_list_handle].links %}
                      {%- assign link_item = another_childlink -%}
                      {% include 'navigation-item' %}
                    {%- endfor -%}
                  </ul>
                </li>
              {%- else -%}
                {%- assign link_item = childlink -%}
                {% include 'navigation-item' %}
              {%- endif -%}
            {%- endfor -%}

            {%- if parent_level == 'grandparent' -%}
            {% if section.settings.mega_image != blank %}
            <li class="site-nav--mega">
              <div class="site-nav--mega-image">
                <a href="{{ section.settings.mega_link }}">
                  <img src="{{ section.settings.mega_image | img_url: 'master' }}"
                   srcset="{{ section.settings.mega_image | img_url: 'master' }} 1x, {{ section.settings.mega_image | img_url: 'master', scale: 2 }} 2x"
                   alt="{{ section.settings.mega_image.alt | default: shop.name }}" />
                </a>
              </div>
            </li>
            {% endif %}
            {%- endif -%}
          </ul>
        </li>
      {%- else -%}
        <li class="{{ extra_label }} {% if link.active %}site-nav--active{% endif %}">
          <a href="{{ link.url }}" class="site-nav__link">{{ link_title }}</a>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</nav>
