<div class="sixteen columns">
  <div class="section clearfix">
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="contact_form {% if section.settings.contact_address != blank %}contact_text_position--{{ section.settings.contact_text_position }}{% endif %}">
  {% if section.settings.contact_address != blank %}
    <div class="eight columns contact_image">
      <iframe width="100%" height="340" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q={{ section.settings.contact_address | replace: ' ', '+' | escape }}&amp;z={{ section.settings.zoom_level }}&amp;output=embed"></iframe>
    </div>
  {% endif %}
  <div class="eight columns {% if section.settings.contact_address == blank %}offset-by-four{% endif %} contact_content">
    {% if page.content != blank %}
      <div class="contact_text">
        {{ page.content }}
      </div>
    {% endif %}
    {% form 'contact' %}
      {% if form.posted_successfully? %}
        <p class="quote">{{ 'contact.form.post_success' | t }}</p>
      {% endif %}

      {% if form.errors %}
        <p class="quote">{{ 'general.forms.post_error' | t }}</p>

       {% assign message = 'contact.form.message' | t %}
        <ul class="center">
          {% for field in form.errors %}
            {% if field == 'form' %}
              <li>
                {{ form.errors.messages[field] }}
              </li>
            {% else %}
              <li>
                {% assign field_name = field | replace: 'body', message %}
                {{ 'general.forms.post_field_error_html' | t: field: field_name, error: form.errors.messages[field] }}
              </li>
            {% endif %}
          {% endfor %}
         </ul>
      {% endif %}

       <div class="four columns alpha">
        {% assign name_attr = 'contact.form.name' | handle %}
        <label for="contactFormName">{{ 'contact.form.name' | t }} <span class="red">*</span></label>
        <input type="text" id="contactFormName" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}" required="required">
       </div>
       <div class="four columns omega">
        <label for="contactFormEmail">{{ 'contact.form.email' | t }} <span class="red">*</span></label>
        <input type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required="required">
       </div>

      <label for="contactFormMessage">{{ 'contact.form.message' | t }} <span class="red">*</span></label>
      <textarea rows="5" id="contactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}" required="required">{% if form.body %}{{ form.body }}{% endif %}</textarea>

      <input type="submit" class="submit action_button" value="{{ 'contact.form.send' | t }}" />
    {% endform %}
  </div>
</div>

{% schema %}

{
  "name": "Contact form",
  "class": "contact-section",
  "settings": [
    {
     "type": "text",
     "id": "contact_address",
     "label": "Street address",
     "info": "The full address that will be placed on the map."
    },
    {
      "type": "select",
      "id": "contact_text_position",
      "label": "Map position",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },      
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },    
    {
      "type": "range",
      "id": "zoom_level",
      "label": "Map zoom level",
      "min": 1,
      "max": 20,
      "step": 1,
      "default": 12
    }    
  ]
}

{% endschema %}
