<style>
  {% if section.settings.full_width %}
    #section-{{ section.id }} .box{
      padding-bottom: 0px;
      
      {% if section.settings.title == blank and section.settings.subtitle == blank %}
        padding-top: 0px; 
      {% endif %}
    }
  {% endif %}
</style>

{% include 'block-width', width: 'full' %}

<div id="section-{{ section.id }}" class="{% if section.settings.background_section %}bg-section {% endif %}" data-section-id="{{ section.id }}" data-section-type="gallery-section">
  <div class="box">
    {% unless section.settings.title == blank and section.settings.subtitle == blank %}
      <div class="wrapper">
        <div class="section-header text-center">
          <h2 class="section-header__title">{{ section.settings.title | escape }}</h2>
          <p class="section-header__subtitle">{{ section.settings.subtitle | escape }}</p>
        </div>
      </div>
    {% endunless %}
      
    <div class="{% if section.settings.full_width %}wrapper--full {% else %}wrapper {% endif %}">

      {% if section.blocks.size > 0 %}
        <div class="{% if section.settings.full_width %}grid--full {% else %}grid grid--spacer {% endif %} grid-uniform">
          
          <!-- Blocks -->
          {% for block in section.blocks %}
            <div class="grid__item {{ column_width }}" {{ block.shopify_attributes }}>
              
              {% if block.settings.link %}
              <a href="{{ block.settings.link }}" class="collection_grid-link">
              {% endif %}  
              
              <div class="collection_grid-item collection_grid--{{ section.settings.section_height }} lazyload {% if block.settings.cta_label != blank or block.settings.link != blank %}overlay{% endif %}"
                 {% if block.settings.image %}
                 data-bgset="{% include 'bgset', image: block.settings.image %}"
                 data-sizes="auto"
                 data-parent-fit="cover"
                 style="background-position: {{ block.settings.alignment }}; background-image: url('{{ block.settings.image | img_url: '300x300' }});"
                 {% endif %}
                 {{ block.shopify_attributes }}
              >
                {% if block.settings.image == blank %}
                  <div class="placeholder-background">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {% endif %}

                <div class="collection_grid-inner">
                  <div class="collection_grid-text-wrapper">
                    {% if block.settings.cta_label != blank %}
                      <h3 class="collection_grid-title">{{ block.settings.cta_label | escape }}</h3>
                    {% endif %}
                  </div>
                </div>
              </div>
              
              {% if block.settings.link %}
              </a>
              {% endif %}
              
            </div>
          {% endfor %}
            
        </div>
      {% endif %}
          
      {% if section.blocks.size == 0 %}
        {% include 'no-blocks' %}
      {% endif %}
     
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Gallery",
    "class": "gallery-section",
    "max_blocks": 6,
    "settings": [
      {
        "type": "checkbox",
        "id": "background_section",
        "label": "Add background"
      },
	  {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width",
		"default": true
      },
	  {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
	  {
        "type": "text",
        "id": "subtitle",
        "label": "Subheading"
      },
	  {
        "type": "select",
        "id": "section_height",
        "label": "Section height",
        "default": "small",
        "options": [
          {
            "label": "Extra Small",
            "value": "xsmall"
          },
		  {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          },
		  {
            "label": "Extra Large",
            "value": "xlarge"
          }
        ]
      }
	],
	"blocks" : [
	  {
        "type": "image",
        "name": "Image",
        "settings": [
		  {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
		  {
            "type": "select",
            "id": "alignment",
            "label": "Image alignment",
            "default": "middle",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "middle",
                "label": "Midlde"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ]
          },
		  {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "cta_label",
            "label":"Caption"
          }
        ]
      }
    ],
	"presets": [
      {
        "name":  "Gallery",
        "category":"Image",
		"blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}