{% if settings.display_three_block_banner %}
<section class="banner-home-top text-center container">
  <ul class="row">
    {% for i in (1..3) %}
    {% capture top_banner_home %}top-banner-home-{{ i }}.jpg{% endcapture %}
    {% capture three_block_banner_link %}three_block_banner_link_{{ i }}{% endcapture %}
    
    {% assign repeat = forloop.index | minus: 1 %}
    {% assign delayTime = settings.time_lazy_load | times : repeat %}
    <li class="col-xs-12 col-sm-4 wow fadeInUp" data-wow-delay="{{ delayTime }}ms">
      <a href="{{ settings[three_block_banner_link] }}">
        <img src="{{ top_banner_home | asset_url }}" alt="" />
      </a>
	</li>
    {% endfor %}
  </ul>
</section>
{% endif %}