{% unless template == 'index' or template == 'cart' or template == 'list-collections' %}
<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
  <a href="/" class="homepage-link" title="{{ 'general.breadcrumbs.home_link_title' | t }}">
      <img src="{{ 'home.png' | asset_url }}" alt="Home" class="no-border home-icon ratina-img" />
      &nbsp;{{ 'general.breadcrumbs.home' | t }}</a>
  {% if template contains 'product' %}
    {% if collection %}            
  	  <span class="separator" aria-hidden="true">&nbsp;</span>
      {% if collection.handle %}
        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        {{ collection.title | link_to: url }}
      {% elsif collection.all_products_count > 0 and collection.products.first.type == collection.title %}
        {{ collection.title | link_to_type }}
      {% elsif collection.all_products_count > 0 and collection.products.first.vendor == collection.title %}
        {{ collection.title | link_to_vendor }}
      {% endif %}
    {% elsif product.collections[0] %}
      <span class="separator" aria-hidden="true">&nbsp;</span>
      {{ product.collections[0].title | link_to: product.collections[0].url }}
    {% else %}
      <span class="separator" aria-hidden="true">&nbsp;</span>
      {{ product.type | link_to_type }}
    {% endif %}
    <span class="separator" aria-hidden="true">&nbsp;</span>
    <span class="page-title">{{ page_title }}</span>
  {% elsif template == "article" %}
    <span class="separator" aria-hidden="true">&nbsp;</span>
    {{ blog.title | link_to: blog.url }}
    <span class="separator" aria-hidden="true">&nbsp;</span>
    <span class="page-title">{{ page_title }}</span>
  {% elsif template contains "collection" %}
    {% if current_tags.size > 0 %}
      <span class="separator" aria-hidden="true">&nbsp;</span>
      {{ collection.title | link_to: collection.url }}
      <span class="separator" aria-hidden="true">&nbsp;</span>
      <span class="page-title">{{ current_tags.first }}</span>
    {% else %}
      <span class="separator" aria-hidden="true">&nbsp;</span>
      <span class="page-title">{{ page_title }}</span>
    {% endif %}
  {% else %}
    <span class="separator" aria-hidden="true">&nbsp;</span>
    <span class="page-title">{{ page_title }}</span>
  {% endif %}
</nav>
{% endunless %}
