<div class="product-reasons">
  {% if settings.display_topreasons_counter %}
    {% assign countreasons = 0 %}
    {% for i in (1..7) %}
      {% assign reason-image-display = 'topreasons_' | append: i | append: '_display' %}
      {% if settings[reason-image-display] %}
          {% assign countreasons = countreasons | plus: 1 %}
      {% endif %}
    {% endfor %}
  {% endif %}
  <h4>{% if settings.display_topreasons_counter %}{{ countreasons }} {% endif %}{{ settings.topreasons_text }}</h4>
  <ul class="clearfix">
    {% for i in (1..7) %}
      {% assign reason = 'topreasons_' | append: i %}
      {% assign reason-image-display = 'topreasons_' | append: i | append: '_display' %}
      {% assign reason-image = 'topreasons_' | append: i | append: '_image.png' %}
      {% if settings[reason-image-display] %}
      <li>
        <img src="{{ reason-image | asset_url }}" class="ratina-img" alt="Image of {{ settings[reason] | escape }}" />
        {% if settings.display_topreasons_text %}
          <br />{{ settings[reason] }}
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
