{% layout settings.customer_layout %}

<div id="col-main" class="page-reset">
  <div class="row">
    <div class="col-sm-12">

      <h4 class="title">{{ 'customer.reset_password.title' | t }}</h4>
      <p class="note">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
      {% form 'reset_customer_password' %}

      {% if form.errors %}
      <div class="alert alert-danger">
        <button type="button" class="close" title="{{'customer.general.close' | t }}" data-dismiss="alert">×</button>
        {{ form.errors | default_errors }}
      </div>
      {% endif %}

      <div id="reset-form">

        <div class="control-wrapper">
          <label class="control-label" for="customer_password">{{ 'customer.reset_password.password' | t }}<span class="req">*</span></label>
          <input type="password" value="" name="customer[password]" id="customer_password" class="col-sm-5 col-xs-12" />
        </div>

        <div class="control-wrapper">
          <label class="control-label" for="password_confirmation">{{ 'customer.reset_password.password_confirm' | t }}<span class="req">*</span></label>
          <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="col-sm-5 col-xs-12" />
        </div>

        <div class="control-wrapper last">
          <button class="btn-3" type="submit">{{ 'customer.reset_password.Submit' | t }}</button>
        </div>
      </div>
      {% endform %}

    </div>
  </div>
</div>
