{% assign number_of_comments = article.comments_count %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}
{% paginate article.comments by 5 %}
<div class="grid blog-design-4 blog-detail-section">
<div class="blog-section">
  <div class="container">
  <article class="grid__item" itemscope itemtype="http://schema.org/Article">
    {% if article.image %}
    {% assign image_alt = article.title | escape %}
   {{ article | img_url: 'master' | img_tag: image_alt, 'article__image' | link_to: article.url }}
    {% endif %}
    <div class="blog-description">
      {% if settings.show_blog_4_date %}
      <p class="blog-date">
        <span datetime="{{ article.published_at | date: '%Y-%m-%d' }}"><span class="date">{{ article.published_at | date: '%b' }} {{ article.published_at | date: '%d' }} , {{ article.published_at | date: '%Y' }}</span></span>             
      </p>
      {% endif %}
              


      <div class="blog_section_detail">       
        {% if article.excerpt.size > 0 %}
        {{ article.excerpt }}
        {% else %}
        <p class="desc">{{ article.content }}</p>
        {% endif %}


        {% if settings.show_blog_4_tag %}
        <div class="tag-section">
        {% if article.tags.size > 0 %}
        <label>{{ 'blogs.article.tags' | t }}</label>
        {% for tag in article.tags %}
        <a class="blog-tags" href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %} <span class="meta-sep">&#8226;</span> {% endunless %}
        {% endfor %}
        {% endif %}
        </div>
        {% endif %}

		
        {% if settings.social_sharing_blog %}  
        
        {% include 'social-sharing' %}
        {% endif %}
        {% comment %}
        Create links to the next and previous articles, if available.
        {% endcomment %}
        {% if blog.next_article or blog.previous_article %}
        <hr class="hr--clear hr--small">
        <p class="clearfix">
          {% if blog.previous_article %}
          <span class="left">
            {{ 'blogs.article.older_post' | t | link_to: blog.previous_article }}
          </span>
          {% endif %}
          {% if blog.next_article %}
          <span class="right">
            {{ 'blogs.article.newer_post' | t | link_to: blog.next_article }} 
          </span>
          {% endif %}
        </p>
        {% endif %}

        {% if blog.comments_enabled? %}
        <hr class="hr--clear hr--small">

        {% comment %}
        Just like blog.liquid page, define how many comments should be on each page.
        {% endcomment %}

        {% comment %}
        #comments is required, it is used as an anchor link by Shopify.
        {% endcomment %}
        <div id="comments">

          {% if comment and comment.created_at %}
          <p class="note form-success">
            {% if blog.moderated? %}
            {{ 'blogs.comments.success_moderated' | t }}
            {% else %}
            {{ 'blogs.comments.success' | t }}
            {% endif %}
          </p>
          {% endif %}

          {% if number_of_comments > 0 %}

          <h3> {% if blog.comments_enabled? %}
      {% assign number_of_comments = article.comments_count %}
      <p class="comments-count">{{  number_of_comments }} {{ 'blogs.comments.comments' | t }}</p>
      {% endif %}   </h3>
          <ul>
            {% comment %}
            If a comment was just submitted with no blank field, show it.
            {% endcomment %}
            {% if comment and comment.created_at %}
            <li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">
              {% include 'comment' %}
            </li>
            {% endif %}

            {% comment %}
            Showing the rest of the comments.
            {% endcomment %}
            {% for comment in article.comments %}
            <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
              {% include 'comment' %}
            </li>
            {% endfor %}
          </ul>

          {% if paginate.pages > 1 %}
          <hr class="--clear hr--small">
          <div class="text-center">
            {% include 'pagination-custom' %}
          </div>
          {% endif %}

          <hr class="hr--clear hr--small">

          {% endif %}

          {% comment %}
          Comment submission form
          {% endcomment %}
          {% form 'new_comment', article %}

          <h3>{{ 'blogs.comments.title' | t }}</h3>

          {{ form.errors | default_errors }}

          <div class="grid">
            <p class="grid__item wide--one-half post-large--one-half large--one-half">

              <label for="CommentAuthor" class="label--hidden">{{ 'blogs.comments.name' | t }}</label>
              <input {% if form.errors contains "author" %} class="error"{% endif %} type="text" name="comment[author]" placeholder="{{ 'blogs.comments.name' | t }}" id="CommentAuthor" value="{{ form.author }}" autocapitalize="words">
            </p>
             <p class="grid__item wide--one-half post-large--one-half large--one-half">
            <label for="CommentEmail" class="label--hidden">{{ 'blogs.comments.email' | t }}</label>
            <input {% if form.errors contains "email" %} class="error"{% endif %} type="email" name="comment[email]" placeholder="{{ 'blogs.comments.email' | t }}" id="CommentEmail" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
            </p>


            <label for="CommentBody" class="label--hidden">{{ 'blogs.comments.message' | t }}</label>
            <textarea {% if form.errors contains "body" %} class="error"{% endif %} name="comment[body]" id="CommentBody" placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>


          </div>

          {% if blog.moderated? %}
          <p><small>{{ 'blogs.comments.moderated' | t }}</small></p>
          {% endif %}

          <button type="submit" class="btn"><span>{{ 'blogs.comments.post' | t }}</span></button>

          {% endform %}

        </div>

        {% endif %}
      </div>

    </div>
  </article>
  </div>
  </div>
</div>
{% endpaginate %}

 

<script type="text/javascript">
  $(document).ready(function(){
   var post_count = $('.related-posts li.post-row').length;
      if(post_count > 2) { $('.nav_featured').css('display','block');}
      else {$('.nav_featured').css('display','none');}
      var post = $(".related-posts");
      post.owlCarousel({
        items: 2,
        itemsCustom: false,
        itemsDesktop: [1199, 2],
        itemsDesktopSmall: [980, 2],
        itemsTablet: [630, 2],
        itemsTabletSmall: false,
        itemsMobile: [479, 1],
        singleItem: false,
        itemsScaleUp: false,
        responsive: true,
        responsiveRefreshRate: 200,
        responsiveBaseWidth: window,
        autoPlay: false,
        stopOnHover: false,
        navigation: false,
        pagination:false
      });
      // Custom Navigation Events
      $(".nav_featured .next").click(function(){
        post.trigger('owl.next');
      })
      $(".nav_featured .prev").click(function(){
        post.trigger('owl.prev');
      }) 
  });
      
</script>


  
  