<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="{{shop.locale }}"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="{{shop.locale }}"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="{{shop.locale }}"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="{{shop.locale }}"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="{{shop.locale }}"> <!--<![endif]-->


  <head>
    
    {% include 'SEOMetaManager' %}
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113474479-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113474479-1');
</script>    
    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta name="robots" content="index,follow">
    
    

    <!-- Custom Fonts -->
    {% if settings.logo_font contains 'Google' or settings.headline_font contains 'Google' or settings.nav_font contains 'Google' or settings.slideshow_subtitle_font contains 'Google' or settings.regular_font contains 'Google' or settings.top_bar_font contains 'Google' %}
      <link href="//fonts.googleapis.com/css?family=.|{% if settings.logo_font contains 'Google' %}{{settings.logo_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.headline_font contains 'Google' %}{{settings.headline_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.nav_font contains 'Google' %}{{settings.nav_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.slideshow_subtitle_font contains 'Google' %}{{settings.slideshow_subtitle_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.top_bar_font contains 'Google' %}{{settings.top_bar_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.regular_font contains 'Google' %}{{settings.regular_font | replace: 'Google_', ''  }}:light,normal,bold{% endif %}" rel="stylesheet" type="text/css" />
    {% endif %}

    {% include 'social-meta-info' %}

    {% if collection.previous_product %}
      <link rel="prev" href="{{collection.previous_product }}">
    {% endif %}
    {% if collection.next_product %}
      <link rel="next" href="{{collection.next_product }}">
    {% endif %}

    <!-- Mobile Specific Metas -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{settings.shop_bg_color }}">

    <!-- Stylesheets for Responsive 6.2.2 -->
    {{'styles.scss.css' | asset_url | stylesheet_tag }}

    <!-- Icons -->
    {% if settings.favicon != nil %}
      <link rel="shortcut icon" type="image/x-icon" href="{{settings.favicon | img_url: '32x32' }}">
    {% else %}
      <link rel="shortcut icon" type="image/x-icon" href="{{'favicon.png' | asset_url }}">
    {% endif %}
    <link rel="canonical" href="{{canonical_url }}" />
    
    {% include 'customify-item' %}

    {% if template contains 'customer' %}
      {{"shopify_common.js" | shopify_asset_url | script_tag }}
      {{"customer_area.js"  | shopify_asset_url | script_tag }}
    {% endif %}
{% unless template == blank %}
    {{'app.js' | asset_url | script_tag }}{% endunless %}
    {% comment %} Appsonrent - Under Construction  {% endcomment %}{% capture CFH %}{% comment %} Appsonrent - Under Construction  {% endcomment %}{% capture CFH %}{{ content_for_header }}{% endcapture %}{{ CFH }}{% if CFH contains "admin_bar_iframe" or theme.role == "unpublished" %} {% assign is_Admire = true %} {% endif %}{% if CFH contains "design_mode" %}{% assign is_Designer = true %}{% endif %}{% unless is_Admire %}{% unless is_Designer %}<style>body{display:none;}</style><script>window.location.pathname == "/apps/under-construction" ? "":window.location.href = "{{shop.url}}/apps/under-construction";</script>{% endunless %}{% endunless %}{% endcapture %}{{CFH }}{% if CFH contains "admin_bar_iframe" or theme.role == "unpublished" %} {% assign is_Admire = true %} {% endif %}{% if CFH contains "design_mode" %}{% assign is_Designer = true %}{% endif %}{% unless is_Admire %}{% unless is_Designer %}<style>body{display:none;}</style><script>window.location.pathname == "/apps/under-construction" ? "":window.location.href = "{{shop.url}}/apps/under-construction";</script>{% endunless %}{% endunless %}
 
{% include 'customify-source' %}
    
{{ 'ba-po-common.scss' | asset_url | stylesheet_tag }}</head>
  <body class="{{template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
    {% section 'header' %}

    <div {% unless template contains "index" or template contains "article" or template contains "banner" %}class="container"{% endunless %}>
      {{content_for_layout }}
      {% include 'cart-shipping-calculator' %}
    </div>

    {% section 'footer' %}
    {% if settings.size_chart != blank %}
      <div id="size-chart" class="size_chart_content">
        <h5 class="center">{{pages[settings.size_chart].title }}</h5>
        {{pages[settings.size_chart].content }}
      </div>
    {% endif %}

    {% include 'newsletter-popup' %}
    {% include 'currencies' %}
    {% if settings.disqus_enabled %}
      {% if template contains "blog" or template contains "article" or template contains "index" %}
        <script id="dsq-count-scr" src="//{{settings.disqus_shortname }}.disqus.com/count.js" async></script>
      {% endif %}
    {% endif %}
    
    <div id="evm_shopify_app"></div><script src="https://expertvillagemedia.com/shopbyinstagram_with_tag/shopify/js/embed.js" data-shop-id="imagesip-com.myshopify.com" type="text/javascript"></script>
    
   
  </body>
</html>
