<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <meta name="keywords" content="{{ 'general.meta.keywords' | t }}">
  <meta name="author" content="{{ 'general.meta.author' | t }}">
  <meta name="format-detection" content="telephone=no">
  <link rel="canonical" href="{{ canonical_url }}">
  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x' }}" type="image/png">
  {% endif %}
   {%- if settings.favicon_apple != blank -%}
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ settings.favicon_apple | img_url: '152x' }}">
  {%- endif -%}
    <title>
    {{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
  </title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}
  {%- include 'social-meta-tags' -%}
  {%- capture check_admin -%}{{ content_for_header  }}{%- endcapture -%}
  {%- capture check_tab -%}{{ content_for_layout  }}{%- endcapture -%}
  <link rel="preload" href="{{ 'tab_shopify.min.css' | asset_url }}" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ 'tab_shopify.min.css' | asset_url }}"></noscript>
  <link rel="preload" href="{{ 'gl_linecons_icons.min.css' | asset_url }}" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ 'gl_linecons_icons.min.css' | asset_url }}"></noscript>
  {%- if check_admin contains 'design_mode' -%}{%- assign admin_shopify = true -%}{%- endif -%}
  {%- if check_tab contains 'section_tab_gl_css' -%}
  {%- assign section_tab_css_enable = true -%}
  {%- endif -%}
  {%- assign section_js_enable = false -%}
  {%- if check_tab contains 'gl_has_youtube' or check_tab contains 'has_section_gl_js' -%}
  {%- assign section_js_enable = true -%}
  {%- endif -%}
  {%- include 'gl_header_css' -%}
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  {{ 'web_font_loader.js' | asset_url | script_tag }}
  {%- include 'load-css' -%}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}
  {% if admin_shopify -%}
  <script async="async" src="//partner.teathemes.net/shopify-assets/js/shopify-slider.min.js" ></script>
  <script async="async" src="//partner.teathemes.net/shopify-assets/js/shopify-slider-tool.min.js" ></script>
  {%- else %}
  <script async="async" src="//partner.teathemes.net/shopify-assets/js/shopify-slider.min.js" ></script>
  <script async="async" src="//partner.teathemes.net/shopify-assets/js/shopify-slider-tool.min.js" ></script>
  {%- endif -%}
  <!-- Logo CSS -->
  {%- include 'inc_css_home' -%}
  <style type="text/css">@media (min-width: 768px) {.mc4wp-form div { margin: 0}.mc4wp-form,.mc4wp-form p { margin-bottom: 0}}.spb_wrapper.color-scheme-light h2,.spb_wrapper.color-scheme-light p.mailchimp-input-icon{color: #fff!important}.pass_gl p.password__form-heading.h4 {margin: 20px 30px}input#Password{ width: 200px}.pass_gl p.text_password{font-size: 15px}.input-group.password__input-group{margin-bottom: 20px}.popup-added_to_cart:after {content: "\f234"}.mc4wp-form{ text-align: left}.site-header__logo-image{margin-bottom: 20px;display: inline-block}.gl_custom_1487005023315{background-color: #f2f2f2 !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.gl_custom_1468876024276{margin-bottom: 5px !important;}.gl_custom_1468876004160{margin-bottom: 20px !important;}.gl_custom_1468876143458{margin-bottom: 10px !important;}</style>
  <style type="text/css">.tp-caption.Agency-LogoText,.Agency-LogoText{color:#ffffff;font-size:12px;line-height:20px;font-weight:400;font-style:normal;font-family:Lato;text-decoration:none;background-color:transparent;border-color:transparent;border-style:none;border-width:0px;border-radius:0 0 0 0px;letter-spacing:1px}.tp-caption.ComingSoon-Highlight,.ComingSoon-Highlight{color:#ffffff;font-size:20px;line-height:37px;font-weight:400;font-style:normal;font-family:Lato;text-decoration:none;background-color:#009aee;border-color:transparent;border-style:none;border-width:0px;border-radius:0 0 0 0px}.tp-caption.ComingSoon-Count,.ComingSoon-Count{color:#ffffff;font-size:50px;line-height:50px;font-weight:900;font-style:normal;font-family:Lato;text-decoration:none;background-color:transparent;border-color:transparent;border-style:none;border-width:0px;border-radius:0 0 0 0px}.tp-caption.ComingSoon-CountUnit,.ComingSoon-CountUnit{color:#ffffff;font-size:20px;line-height:20px;font-weight:400;font-style:normal;font-family:Lato;text-decoration:none;background-color:transparent;border-color:transparent;border-style:none;border-width:0px;border-radius:0 0 0 0px}.tp-caption.ComingSoon-NotifyMe,.ComingSoon-NotifyMe{color:#a49d8f;font-size:27px;line-height:35px;font-weight:600;font-style:normal;font-family:Lato;text-decoration:none;background-color:transparent;border-color:transparent;border-style:none;border-width:0px;border-radius:0 0 0 0px}</style>
  {{ content_for_header }}
</head>
{%- include 'class_body_theme' -%}
<body class="{%- if settings.ajax_shop -%}basel-ajax-shop-on{%- endif %} template-{{ template | split: '.' | first }} {{header_class }} {{footer_layout}} {{ general_layout }} {{ search_layout }} {{ tab_class }} {{ design_products }} global-header-{{settings.header_design}} global-cart-design-{{settings.cart_design}}{%- if customer %} logged-in{%- endif %}{%- if settings.catalog_mode %} catalog-mode-on{%- else %} catalog-mode-off{%- endif %}{%- unless template contains 'index' %} shopify shopify-page{%- endunless %}{%- if template contains '404' %} error404{%- endif-%}">
  <div class="website-wrapper">
      {%- include 'password_content' -%}
  </div>
  <!-- end wrapper -->
   {% if admin_shopify -%}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'js_cp_gl_section.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'js_cp_gl_section.min.js' | asset_url }}"></script><![endif]-->
  {%- elsif section_js_enable -%}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'js_cp_gl.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'js_cp_gl.min.js' | asset_url }}"></script><![endif]-->
  {%- endif -%}
   {%- include 'gl-currencies' -%}
   {%- include 'gl_bottom_js'-%}
   <script type="text/javascript">
   jQuery( document ).ready(function( $ ) {
       $('.open-popup-link').magnificPopup({
        type:'inline',
        midClick: true,
        callbacks: {
            beforeOpen: function() {
                this.st.mainClass = 'basel-popup-effect';
            }
        }
      });
     });
   </script>
</body>
</html>