{%- if section.blocks.size > 0 -%}
   {%- assign footer_design = settings.footer_design -%}
   {%- assign break = false -%}
   {%- assign visible_sm = false -%}
   {%- assign visible_lg = false -%}
   <aside class="footer-sidebar widget-area row" role="complementary">
      {%- for block in section.blocks -%}
         {%- if footer_design == '1' -%}
            {%- case forloop.index -%}
               {%- when 1 -%}
                  {%- assign class_col = 'col-sm-12' -%}
                  {%- assign break = true -%}
            {%- endcase -%} 
         {%- elsif footer_design == '2' -%}
            {%- case forloop.index -%}
               {%- when 1 -%}
                  {%- assign class_col = 'col-sm-6' -%}
               {%- when 2 -%}
                  {%- assign class_col = 'col-sm-6' -%}
                  {%- assign break = true -%}
            {%- endcase -%} 
         {%- elsif footer_design == '3' -%}
            {%- case forloop.index -%}
               {%- when 3 -%}
                  {%- assign class_col = 'col-sm-4' -%}
                  {%- assign break = true -%}
               {%- else -%}
                  {%- assign class_col = 'col-sm-4' -%}
            {%- endcase -%} 
         {%- elsif footer_design == '4' -%}
            {%- case forloop.index -%}
               {%- when 2 -%}
                  {%- assign class_col = 'col-md-3 col-sm-6' -%}
                  {%- assign visible_sm = true -%}
               {%- when 4 -%}
                  {%- assign class_col = 'col-md-3 col-sm-6' -%}
                  {%- assign break = true -%}
               {%- else -%}
                  {%- assign visible_sm = false -%}
                  {%- assign class_col = 'col-md-3 col-sm-6' -%}
            {%- endcase -%} 
         {%- elsif footer_design == '5' -%}
            {%- case forloop.index -%}
               {%- when 3 -%}
                  {%- assign class_col = 'col-md-2 col-sm-4' -%}
                  {%- assign visible_sm = true -%}
               {%- when 6 -%}
                  {%- assign class_col = 'col-md-2 col-sm-4' -%}
                  {%- assign break = true -%}
               {%- else -%}
                  {%- assign visible_sm = false -%}
                  {%- assign class_col = 'col-md-2 col-sm-4' -%}
            {%- endcase -%} 
         {%- elsif footer_design == '6' -%}
            {%- case forloop.index -%}
               {%- when 1 -%}
                  {%- assign class_col = 'col-md-3 col-sm-4' -%}
               {%- when 2 -%}
                  {%- assign class_col = 'col-md-6 col-sm-4' -%}
               {%- when 3 -%}
                  {%- assign class_col = 'col-md-3 col-sm-4' -%}
                  {%- assign break = true -%}
            {%- endcase -%}
         {%- elsif footer_design == '7' -%}
            {%- case forloop.index -%}
               {%- when 1 -%}
                  {%- assign class_col = 'col-md-6 col-sm-4' -%}
               {%- when 2 -%}
                  {%- assign class_col = 'col-md-3 col-sm-4' -%}
               {%- when 3 -%}
                  {%- assign class_col = 'col-md-3 col-sm-4' -%}
                  {%- assign break = true -%}
            {%- endcase -%}
         {%- elsif footer_design == '8' -%}
            {%- case forloop.index -%}
               {%- when 3 -%}
                  {%- assign class_col = 'col-md-6 col-sm-4' -%}
                  {%- assign break = true -%}
               {%- else -%}
                  {%- assign class_col = 'col-md-3 col-sm-4' -%}
            {%- endcase -%}
         {%- elsif footer_design == '9' -%}
            {%- case forloop.index -%}
               {%- when 1 -%}
                  {%- assign class_col = 'col-md-12 col-sm-12' -%}
                  {%- assign visible_lg = true -%}
               {%- when 3 -%}
                  {%- assign class_col = 'col-md-3 col-sm-6' -%}
                  {%- assign visible_sm = true -%}
               {%- when 5 -%}
                  {%- assign class_col = 'col-md-3 col-sm-6' -%}
                  {%- assign break = true -%}
               {%- else -%}
                  {%- assign visible_sm = false -%}
                  {%- assign visible_lg = false -%}
                  {%- assign class_col = 'col-md-3 col-sm-6' -%}
            {%- endcase -%}
         {%- elsif footer_design == '10' -%}
            {%- case forloop.index -%}
               {%- when 1 -%}
                  {%- assign class_col = 'col-md-6 col-sm-12' -%}
               {%- when 2 -%}
                  {%- assign class_col = 'col-md-6 col-sm-12' -%}
                  {%- assign visible_lg = true -%}
               {%- when 4 -%}
                  {%- assign class_col = 'col-md-3 col-sm-6' -%}
                  {%- assign visible_sm = true -%}
               {%- when 6 -%}
                  {%- assign class_col = 'col-md-3 col-sm-6' -%}
                  {%- assign break = true -%}
               {%- else -%}
                  {%- assign visible_sm = false -%}
                  {%- assign visible_lg = false -%}
                  {%- assign class_col = 'col-md-3 col-sm-6' -%}
            {%- endcase -%}
         {%- elsif footer_design == '11' -%}
            {%- case forloop.index -%}
               {%- when 1 -%}
                  {%- assign class_col = 'col-md-6 col-sm-12' -%}
               {%- when 2 -%}
                  {%- assign class_col = 'col-md-6 col-sm-12' -%}
                  {%- assign visible_lg = true -%}
               {%- when 4 -%}
                  {%- assign class_col = 'col-md-2 col-sm-6' -%}
                  {%- assign visible_sm = true -%}
               {%- when 7 -%}
                  {%- assign class_col = 'col-md-4 col-sm-12' -%}
               {%- else -%}
                  {%- assign visible_sm = false -%}
                  {%- assign visible_lg = false -%}
                  {%- assign class_col = 'col-md-2 col-sm-6' -%}
            {%- endcase -%}
         {%- elsif footer_design == '13' -%}
             {%- case forloop.index -%}
               {%- when 2 -%}
                  {%- assign class_col = 'col-md-6 col-sm-12' -%}
                  {%- assign visible_lg = true -%}
               {%- when 4 -%}
                  {%- assign class_col = 'col-md-6 col-sm-12' -%}
                  {%- assign visible_lg = true -%}
                  {%- assign break = true -%}
               {%- else -%}
                   {%- assign class_col = 'col-md-6 col-sm-12' -%}
                   {%- assign visible_lg = false -%}
            {%- endcase -%}
         {%- else -%}
            {%- case forloop.index -%}
               {%- when 1 -%}
                  {%- assign class_col = 'col-md-12 col-sm-12' -%}
                  {%- assign visible_lg = true -%}
               {%- when 3 -%}
                  {%- assign class_col = 'col-md-2 col-sm-6' -%}
                  {%- assign visible_sm = true -%}
               {%- when 6 -%}
                  {%- assign class_col = 'col-md-4 col-sm-12' -%}
                  {%- assign break = true -%}
               {%- else -%}
                  {%- assign visible_sm = false -%}
                  {%- assign visible_lg = false -%}
                  {%- assign class_col = 'col-md-2 col-sm-6' -%}
            {%- endcase -%}
         {%- endif -%}
         {%- case block.type -%}
            {%- when 'menu' -%}
               <div class="footer-column footer-column-{{forloop.index}} {{class_col}}" {{ block.shopify_attributes }}>
                  <div id="text-{{block.id}}" class="footer-widget widget_text">
                    {%- if block.settings.title != blank -%}<h5 class="widget-title">{{block.settings.title}}</h5>{%- endif -%}
                     <div class="textwidget">
                        <ul class="menu">
                           {%- for link in linklists[block.settings.menu].links -%}
                           <li{% if link.active %} class="current-menu-item"{% endif %}><a href="{{ link.url }}">{{ link.title | split: '[' | first }}</a></li>
                         {%- else -%}
                           {% capture theme_settings_footer_linklist_path %}<strong>Footer</strong> > <strong>Quick links link list</strong>{% endcapture %}
                           {{ 'layout.footer.instructions_for_linklist_html' | t: theme_settings_link: theme_settings_link, theme_settings_footer_linklist_path: theme_settings_footer_linklist_path }}
                         {%- endfor -%}
                        </ul>
                     </div>
                  </div>
               </div>
               {%- if break -%}{%- break -%}{%- endif -%}
               {%- if visible_sm -%}<div class="clearfix visible-sm-block"></div>{%- endif -%}
               {%- if visible_lg -%}<div class="clearfix visible-lg-block"></div>{%- endif -%}
            {%- when 'logo' -%}
               <div class="footer-column footer-column-{{forloop.index}} {{class_col}}" {{ block.shopify_attributes }}>
                  <div id="text-{{block.id}}" class="footer-widget widget_text">
                     <div class="textwidget">
                     {%- if block.settings.footer_logo_image != blank -%}
                        {%- assign image = block.settings.footer_logo_image -%}
                        {%- assign image_width = image.width | append:'x' -%}
                        {%- if image.width > 600 -%}
                        {%- assign image_width = '600x' -%}
                        {%- endif -%}
                        <p style="text-align:center; margin-bottom:0px;"><img src="{%-include 'gl_image_format',src: image , size: image_width -%}" alt="{{ image.alt | default: shop.name }}" title="{{shop.name}}" style="max-width:{{ block.settings.logo_max_width | escape | default: '300' | remove: 'px' | append: 'px' }}"></p>
                     {%-endif-%}
                        {%- if block.settings.share_type == '1' -%}
                           {%- assign gl_follow_social = false -%}
                        {%- elsif block.settings.share_type == '2' -%}
                           {%- assign gl_follow_social = true -%}
                        {%- endif -%}
                        {%- if block.settings.social_enabled -%}
                        {%- include 'social-sharing', gl_design:settings.footer_social_design, gl_size:settings.footer_social_size, follow_social:gl_follow_social -%}
                        <br>
                        {%- endif -%}
                        {%- if block.settings.logo_custom_html != blank -%}{{block.settings.logo_custom_html}}{%- endif -%}
                     </div>
                  </div>
               </div>
               {%- if break -%}{%- break -%}{%- endif -%}
               {%- if visible_sm -%}<div class="clearfix visible-sm-block"></div>{%- endif -%}
               {%- if visible_lg -%}<div class="clearfix visible-lg-block"></div>{%- endif -%}
            {%- when 'newsletter' -%}
               <div class="footer-column footer-column-{{forloop.index}} {{class_col}}" {{ block.shopify_attributes }}>
                  <div id="text-{{block.id}}" class="footer-widget widget_text">
                     {%- if block.settings.title != blank -%}<h5 class="widget-title">{{block.settings.title}}</h5>{%- endif -%}
                     <div class="textwidget">
                        {%- include 'gl_form_newlester' -%}
                     </div>
                  </div>
               </div>
               {%- if break -%}{%- break -%}{%- endif -%}
               {%- if visible_sm -%}<div class="clearfix visible-sm-block"></div>{%- endif -%}
               {%- if visible_lg -%}<div class="clearfix visible-lg-block"></div>{%- endif -%}
            {%- when 'html' -%}
               <div class="footer-column footer-column-{{forloop.index}} {{class_col}}" {{ block.shopify_attributes }}>
                  <div id="text-{{block.id}}" class="footer-widget widget_text">
                     {%- if block.settings.title != blank -%}<h5 class="widget-title">{{block.settings.title}}</h5>{%- endif -%}
                     <div class="textwidget">
                        {{block.settings.html}}
                        {%- if block.settings.enabled_payment_types and block.settings.footer_payment_image != blank -%}
                        {%- assign image = block.settings.footer_payment_image -%}
                        {%- assign image_width = image.width | append:'x' -%}
                        <br>
                        <p><img src="{%-include 'gl_image_format',src: image , size: image_width -%}" alt="{{ image.alt | default: shop.name }}"></p>
                        {%- endif -%}
                     </div>
                  </div>
               </div>
               {%- if break -%}{%- break -%}{%- endif -%}
               {%- if visible_sm -%}<div class="clearfix visible-sm-block"></div>{%- endif -%}
               {%- if visible_lg -%}<div class="clearfix visible-lg-block"></div>{%- endif -%}
         {%- endcase -%}
      {%- endfor -%}
   </aside>
{%- endif -%}
{%- schema -%}
  {
    "name": "Footer layout",
    "class": "container main-footer",
    "max_blocks": 7,
    "blocks": [
      {
        "type": "menu",
        "name": "Add Menu",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Quick links"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Add menu"
          }
        ]
      },
      {
        "type": "logo",
        "name": "Logo",
         "limit": 1,
        "settings": [
         {
           "type": "header",
           "content": "Logo"
         },
         {
           "type": "image_picker",
           "id": "footer_logo_image",
           "label": "Logo image",
           "info": "Upload image: png, jpg or gif file"
         },
         {
           "type": "text",
           "id": "logo_max_width",
           "label": "___ Logo image maximum width",
           "info": "Set maximum width for logo image in the footer. In pixels, min-width:50px, max-width:600px",
           "default": "300"
         },
         {
           "type": "checkbox",
           "id": "social_enabled",
           "label": "Show social media icons"
         },
         {
           "type": "radio",
           "id": "share_type",
           "default":"2",
           "options": [
             {
               "value": "1",
               "label": "Share"
             },
             {
               "value": "2",
               "label": "Follow"
             }
           ],
           "label": "== Share buttons type"
         },
         {
            "type": "html",
            "id": "logo_custom_html",
            "label": "Custom HTML"
         }
        ]
      },
      {
        "type": "html",
        "name": "Custom HTML",
        "settings": [
         {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "About The Store"
         },
         {
            "type": "html",
            "id": "html",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers.</p>"
         },
         {
           "type": "checkbox",
           "id": "enabled_payment_types",
           "label": "Show image payment",
            "default": true
         },
         {
           "type": "image_picker",
           "id": "footer_payment_image",
           "label": "upload image payment"
         }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter signup",
        "limit": 1,
        "settings": [
         {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Newsletter"
         },
         {
           "type": "checkbox",
           "id": "use_mailchimp",
           "label": "Use Mailchimp?",
           "default": true
         }
        ]
      }
   ]
  }
{% endschema %}