{%- if section.settings.hidden_section -%}{%- capture check_admin -%}{{ content_for_header  }}{%- endcapture -%}<style> #shopify-section-{{ section.id }} { {%- if check_admin contains 'design_mode' -%}opacity: .5;filter: alpha(opacity=50){%- else -%}display: none !important{%- endif -%}}</style>{%- endif -%}
{%- if section.settings.section_margin_top != blank or section.settings.section_margin_bottom != blank or section.settings.section_border != blank -%}
{%- assign s_margin_top = section.settings.section_margin_top | remove: ' ' | join: ' ' -%}
{%- assign s_margin_bottom = section.settings.section_margin_bottom | remove: ' ' | join: ' ' -%}
{%- assign s_border = section.settings.section_border | remove: ' ' | split: '-' | join: ' ' -%}
{%- endif -%}
{%- capture style_block_section -%}
   {%- if section.settings.section_margin_top != blank or section.settings.section_margin_bottom != blank or section.settings.section_padding_top != blank or section.settings.section_padding_right != blank or section.settings.section_padding_left != blank or section.settings.section_padding_bottom != blank or section.settings.section_bg_color != blank or section.settings.section_bg_image != blank or section.settings.section_border != blank -%}
   <style type="text/css">.gl_custom_{{section.id}}{ {%- if section.settings.section_margin_top != blank -%} margin-top: {{s_margin_top}} !important;{%- endif -%}{%- if section.settings.section_margin_bottom != blank -%} margin-bottom: {{s_margin_bottom}} !important;{%- endif -%}{%- if section.settings.section_padding_top != blank -%}padding-top: {{section.settings.section_padding_top}} !important;{%- endif-%}{%- if section.settings.section_padding_right != blank -%}padding-right: {{section.settings.section_padding_right}} !important;{%- endif-%}{%- if section.settings.section_padding_bottom != blank -%}padding-bottom: {{section.settings.section_padding_bottom}} !important;{%- endif-%}{%- if section.settings.section_padding_left != blank -%}padding-left: {{section.settings.section_padding_left}} !important; {%- endif -%}{%- if section.settings.section_bg_color != blank -%}background-color: {{ section.settings.section_bg_color }} !important;{%- endif -%}{%- if section.settings.section_bg_image != blank -%}{%- assign image = section.settings.section_bg_image -%}{%- assign image_size = image.width | append:'x' -%} background-image: url({%-include 'gl_image_format',src: image , size: image_size -%}) !important; background-position: center !important; background-repeat: no-repeat !important; background-size: cover !important;{%- endif -%}{%- if section.settings.section_border != blank and section.settings.section_border_color != blank -%}border-width: {{ s_border }} !important; border-color: {{section.settings.section_border_color}} !important; border-style: {{section.settings.section_border_style}} !important{%- endif -%} }</style>
   {%- endif -%}
{%- endcapture -%}
{%- capture data_section -%}
  {%- if section.settings.row_stretch == 'stretch_row' -%}
   {%- assign class_has_fill = 'gl_row-has-fill' -%}
   data-gl='has_section_gl_js' data-gl-full-width='true' data-gl-full-width-init='true'
  {%- elsif section.settings.row_stretch == 'stretch_row_content' or section.settings.row_stretch == 'stretch_row_content_no_spaces' -%}
   {%- assign class_has_fill = 'gl_row-has-fill' -%}
   data-gl='has_section_gl_js' data-gl-full-width='true' data-gl-full-width-init='true' data-gl-stretch-content='true'
  {%- else -%}
  {%- assign class_has_fill = '' -%}
  {%- endif -%}
{%- endcapture -%}
{%- capture data_grid -%}
  {%- if section.settings.photo_design == 'grid' -%}
  instagram-grid
  {%- elsif section.settings.photo_design == 'slider' -%}
  instagram-slider
  {%- else -%}
  {%- endif -%}
{%- endcapture -%}
{%- capture style_title -%}
  {%- if section.settings.bg_title != blank -%}
  style="background-color: {{section.settings.bg_title}} !important"
  {%- endif -%}
{%- endcapture -%}
{%- unless image_size != blank -%}
  {%- assign image_size = 'master' -%}
{%- endunless -%}
{%- case section.settings.width -%}
   {%- when '4' -%}
      {%- assign class_phu = '4' -%}
   {%- when '6' -%}
      {%- assign class_phu = '3' -%}
   {%- when '8' -%}
      {%- assign class_phu = '2' -%}
   {%- when '10' -%}
      {%- assign class_phu = '1' -%}
   {%- when '12' -%}
      {%- assign class_phu = '12' -%}
{%- endcase -%}
{%- assign number = section.settings.silder_per_view | plus: 0 -%}
{{style_block_section}}
<div {{ data_section }}{%- if section.settings.use_video and section.settings.video_url != blank %} data-gl-video-bg="{{ section.settings.video_url }}"{%- endif %} class="gl_custom_{{section.id}} {% if section.settings.row_stretch == 'stretch_row_content_no_spaces' %}gl_row-no-padding{%- endif %} gl_row spb_row gl_row-fluid {{class_has_fill}} {%- if section.settings.use_video and section.settings.video_url != blank %} opacity-video-bg gl_video-bg-container gl_has_youtube{%- endif %}{%- if section.settings.full_height %} gl_row-o-full-height gl_row-o-columns-{{section.settings.columns_position}}{%- endif %}{%- if section.settings.equal_height %} gl_row-o-equal-height{%- endif %}{%- unless section.settings.content_position == 'default' %} gl_row-o-content-{{section.settings.content_position}}{%- endunless %}{%- if section.settings.equal_height or section.settings.full_height or section.settings.content_position != 'default' %} gl_row-flex{%- endif %}{%- if section.settings.use_parallax %} basel-parallax{%- endif -%}">
   {%- case section.settings.text_alignment -%}
      {%- when 'left' -%}
      <div class="spb_column gl_column_container gl_col-sm-6 text-left">
         <div class="gl_column-inner gl_pl_30 gl_pr_30">
            <div class="spb_wrapper">
               {%- if section.settings.text_after_title != blank -%}<p style="font-size: 22px;color: #f7f7f7;font-weight:400;font-style:normal" class="font-alt gl_custom_heading gl_mb_10">{{ section.settings.text_after_title }}</p>{%- endif -%}
               {%- if section.settings.title != blank -%}<h2 style="font-size: 40px;color: #ffffff;font-weight:900;font-style:normal" class="gl_custom_heading gl_mb_15">{{section.settings.title}}</h2>{%- endif -%}
               {%- if section.settings.sub_title != blank -%}
               <div class="spb_text_column spb_content_element gl_mb_25 color-scheme-light">
                  <div class="spb_wrapper">
                     <p style="line-height: 1.8; font-size: 15px;">{{ section.settings.sub_title }}</p>
                  </div>
               </div>
               {%- endif -%}
               {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
               <div class="gl_btn3-container weight-bold gl_btn3-inline">
                  <a href="{{ section.settings.button_link }}" class="gl_general gl_btn3 gl_btn3-size-md gl_btn3-shape-{{ section.settings.button_shape }} gl_btn3-style-{{ section.settings.button_style }} gl_btn3-color-white" title="">{{ section.settings.button_label }}</a>
               </div>
               {%- endif -%}
            </div>
         </div>
      </div>
      <div class="spb_column gl_column_container gl_col-sm-6"><div class="gl_column-inner"><div class="spb_wrapper"></div></div></div>
      {%- when 'right' -%}
      <div class="spb_column gl_column_container gl_col-sm-6"><div class="gl_column-inner"><div class="spb_wrapper"></div></div></div>
      <div class="spb_column gl_column_container gl_col-sm-6 text-left">
         <div class="gl_column-inner gl_pl_30 gl_pr_30">
            <div class="spb_wrapper">
               {%- if section.settings.text_after_title != blank -%}<p style="font-size: 22px;color: #f7f7f7;font-weight:400;font-style:normal" class="font-alt gl_custom_heading gl_mb_10">{{ section.settings.text_after_title }}</p>{%- endif -%}
               {%- if section.settings.title != blank -%}<h2 style="font-size: 42px;color: #ffffff;font-weight:900;font-style:normal" class="gl_custom_heading gl_mb_15">{{section.settings.title}}</h2>{%- endif -%}
               {%- if section.settings.sub_title != blank -%}
               <div class="spb_text_column spb_content_element gl_mb_25 color-scheme-light">
                  <div class="spb_wrapper">
                     <p style="line-height: 1.8; font-size: 15px;">{{ section.settings.sub_title }}</p>
                  </div>
               </div>
               {%- endif -%}
               {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
               <div class="gl_btn3-container weight-bold gl_btn3-inline">
                  <a href="{{ section.settings.button_link }}" class="gl_general gl_btn3 gl_btn3-size-md gl_btn3-shape-{{ section.settings.button_shape }} gl_btn3-style-{{ section.settings.button_style }} gl_btn3-color-white" title="">{{ section.settings.button_label }}</a>
               </div>
               {%- endif -%}
            </div>
         </div>
      </div>
      {%- when 'center' -%}
      <div class="spb_column gl_column_container gl_col-sm-3"><div class="gl_column-inner"><div class="spb_wrapper"></div></div></div>
      <div class="spb_column gl_column_container gl_col-sm-6 text-center">
         <div class="gl_column-inner gl_pl_30 gl_pr_30">
            <div class="spb_wrapper">
               {%- if section.settings.text_after_title != blank -%}<p style="font-size: 22px;color: #f7f7f7;font-weight:400;font-style:normal" class="font-alt gl_custom_heading gl_mb_10">{{ section.settings.text_after_title }}</p>{%- endif -%}
               {%- if section.settings.title != blank -%}<h2 style="font-size: 42px;color: #ffffff;font-weight:900;font-style:normal" class="gl_custom_heading gl_mb_15">{{section.settings.title}}</h2>{%- endif -%}
               {%- if section.settings.sub_title != blank -%}
               <div class="spb_text_column spb_content_element gl_mb_25 color-scheme-light">
                  <div class="spb_wrapper">
                     <p style="line-height: 1.8; font-size: 15px;">{{ section.settings.sub_title }}</p>
                  </div>
               </div>
               {%- endif -%}
               {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
               <div class="gl_btn3-container weight-bold gl_btn3-inline">
                  <a href="{{ section.settings.button_link }}" class="gl_general gl_btn3 gl_btn3-size-md gl_btn3-shape-{{ section.settings.button_shape }} gl_btn3-style-{{ section.settings.button_style }} gl_btn3-color-white" title="">{{ section.settings.button_label }}</a>
               </div>
               {%- endif -%}
            </div>
         </div>
      </div>
      <div class="spb_column gl_column_container gl_col-sm-3"><div class="gl_column-inner"><div class="spb_wrapper"></div></div></div>
   {%- endcase -%}
</div>
{%- unless section.settings.row_stretch == 'default' -%}
  <div class="gl_row-full-width gl_clearfix"></div>
{%- endunless -%}
{%- if section.settings.button_style == 'gradient' and section.settings.gradient_color != blank and section.settings.gradient_color_two != blank -%}
<style>
   #shopify-section-{{ section.id }} .gl_btn3.gl_btn3-color-white.gl_btn3-style-gradient {
    color: {{ section.settings.btn_color }};
    border: none;
    background-color: {{ section.settings.gradient_color }};
    background-image: -webkit-linear-gradient(left, {{ section.settings.gradient_color }} 0%, {{ section.settings.gradient_color_two }} 50%,{{ section.settings.gradient_color }} 100%);
    background-image: linear-gradient(to right, {{ section.settings.gradient_color }} 0%, {{ section.settings.gradient_color_two }} 50%,{{ section.settings.gradient_color }} 100%);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-size: 200% 100%;
}
#shopify-section-{{ section.id }} .gl_btn3.gl_btn3-color-white.gl_btn3-style-gradient:hover {
    color: {{ section.settings.btn_color }};
    background-color: {{ section.settings.gradient_color_two }};
    border: none;
    background-position: 100% 0;
}
</style>
{%- endif -%}
{%- schema -%}
  {
    "name": "Testimonials",
    "class": "index-section index-section_parallax",
    "settings": [
      {
      "type": "header",
      "content": "== General Settings"
      },
      {
        "type": "select",
        "id": "row_stretch",
        "options": [
         {
            "value": "default",
            "label": "Default"
          },
         {
            "value": "stretch_row",
            "label": "Stretch row"
          },
          {
            "value": "stretch_row_content",
            "label": "Stretch row and content"
          },
          {
            "value": "stretch_row_content_no_spaces",
            "label": "Stretch row and content (no paddings)"
          }
        ],
        "label": "___ Row stretch",
        "info": "Select stretching options for row and content (Note: stretched may not work properly if parent container has 'overflow: hidden' CSS property).",
        "default": "stretch_row"
      },
      {
        "type": "checkbox",
        "id": "full_height",
        "label": "Full height row?",
        "info": "if checked row will be set to full height.",
        "default": true
      },
      {
        "type": "select",
        "id": "columns_position",
        "options": [
         {
            "value": "middle",
            "label": "Middle"
          },
         {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          },
          {
            "value": "stretch",
            "label": "Stretch"
          }
        ],
        "label": "___ Columns position (only for full height)",
        "info": "Select columns position within row.",
        "default": "middle"
      },
      {
        "type": "checkbox",
        "id": "equal_height",
        "label": "Equal height?",
        "info": "If checked columns will be set to equal height.",
        "default": false
      },
      {
        "type": "select",
        "id": "content_position",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
         {
            "value": "middle",
            "label": "Middle"
          },
         {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ],
        "label": "___ Content position",
        "info": "Select content position within columns.",
        "default": "default"
      },
      {
        "type": "header",
        "content": "== Text Content Options"
      },
      {
      "type": "select",
      "id": "text_alignment",
      "options": [
       {
          "value": "left",
          "label": "Align left"
        },
        {
          "value": "right",
          "label": "Align right"
        },
        {
          "value": "center",
          "label": "Align center"
        }
      ],
      "label": "=== Text alignment",
      "info": "Select Text alignment.",
      "default": "center"
    },
      {
        "type": "text",
        "id": "title",
        "label": "=== Title",
        "default":"COLORFUL PICTURES MAKE IMPRESSION"
      },
      {
        "type": "textarea",
        "id": "sub_title",
        "label": "=== Sub Title",
        "default":"Cum rhoncus adipiscing a vestibulum blandit suspendisse a diam maecenas habitant sit in pretium rutrum ac luctus duis vulputate parturient."
      },
      {
        "type": "text",
        "id": "text_after_title",
        "label": "=== Text after title",
        "default":"Premium Shopify theme"
      },
      {
        "type": "header",
        "content": "=== Button Settings"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "___ Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "___ Button link"
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "___ Button style",
        "default": "modern",
        "options": [
          {
            "label": "Modern",
            "value": "modern"
          },
          {
            "label": "Outline",
            "value": "outline"
          },
          {
            "label": "3d",
            "value": "3d"
          },
          {
            "label": "Gradient Custom",
            "value": "gradient"
          }
        ]
      },
      {
        "type": "color",
        "id": "gradient_color",
        "label": "Gradient Color 1",
        "info": "Select first color for gradient.",
        "default": "#dd3333"
      },
      {
        "type": "color",
        "id": "gradient_color_two",
        "label": "Gradient Color 2",
        "info": "Select second color for gradient.",
        "default": "#eeee22"
      },
      {
        "type": "color",
        "id": "btn_color",
        "label": "Button Text Color",
        "info": "Select button text color.",
        "default": "#fff"
      },
      {
        "type": "select",
        "id": "button_shape",
        "label": "___ Shape",
        "default": "square",
        "options": [
          {
            "label": "Rounded",
            "value": "rounded"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Round",
            "value": "round"
          }
        ]
      },
      {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "image_picker",
        "id": "section_bg_image",
        "label": "Background Image"
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background color",
        "default": "#3cc9c3"
      },
      {
        "type": "color",
        "id": "section_border_color",
        "label": "Border color"
      },
      {
        "type": "select",
        "id": "section_border_style",
        "options": [
         {
            "value": "solid",
            "label": "Solid"
          },
         {
            "value": "dotted",
            "label": "Dotted"
          },
          {
            "value": "dashed",
            "label": "Dashed"
          },
          {
            "value": "double",
            "label": "Double"
          },
          {
            "value": "groove",
            "label": "Groove"
          },
          {
            "value": "Ridge",
            "label": "Ridge"
          },
          {
            "value": "inset",
            "label": "Inset"
          },
          {
            "value": "outset",
            "label": "Outset"
          }
        ],
        "label": "Border style",
        "default": "solid"
      },
      {
        "type": "text",
        "id": "section_border",
        "label": "Borders Integer px ( top-right-bottom-left )",
        "info": "0-0-1px-0"
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_padding_top",
        "label": "Padding top",
        "info": "60px"
      },
{
        "type": "text",
        "id": "section_padding_right",
        "label": "Padding right",
        "info": "60px"
      },
{
        "type": "text",
        "id": "section_padding_bottom",
        "label": "Padding bottom",
        "info": "60px"
      },
{
        "type": "text",
        "id": "section_padding_left",
        "label": "Padding left",
        "info": "60px"
      },
      {
        "type": "header",
        "content": "== Basel Extras"
      },
      {
        "type": "checkbox",
        "id": "hidden_section",
        "label": "Disable Section?",
        "info": "If checked the section won't be visible on the public side of your website. You can switch it back any time.",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "use_parallax",
        "label": "Use Basel parallax?",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Banner Parallax",
        "category": "Image"
      }
    ]
  }
{% endschema %}
