{%- if section.settings.section_margin_top != blank or section.settings.section_margin_bottom != blank or section.settings.section_border != blank -%}
{%- assign s_margin_top = section.settings.section_margin_top | remove: ' ' | join: ' ' -%}
{%- assign s_margin_bottom = section.settings.section_margin_bottom | remove: ' ' | join: ' ' -%}
{%- assign s_border = section.settings.section_border | remove: ' ' | split: '-' | join: ' ' -%}
{%- endif -%}
{%- capture style_block_section -%}
   {%- if section.settings.section_margin_top != blank or section.settings.section_margin_bottom != blank or section.settings.section_padding_top != blank or section.settings.section_padding_right != blank or section.settings.section_padding_left != blank or section.settings.section_padding_bottom != blank or section.settings.section_bg_color != blank or section.settings.section_bg_image != blank or section.settings.section_border != blank -%}
   <style type="text/css">.gl_custom_{{section.id}}{ {%- if section.settings.section_margin_top != blank -%} margin-top: {{s_margin_top}} !important;{%- endif -%}{%- if section.settings.section_margin_bottom != blank -%} margin-bottom: {{s_margin_bottom}} !important;{%- endif -%}{%- if section.settings.section_padding_top != blank -%}padding-top: {{section.settings.section_padding_top}} !important;{%- endif-%}{%- if section.settings.section_padding_right != blank -%}padding-right: {{section.settings.section_padding_right}} !important;{%- endif-%}{%- if section.settings.section_padding_bottom != blank -%}padding-bottom: {{section.settings.section_padding_bottom}} !important;{%- endif-%}{%- if section.settings.section_padding_left != blank -%}padding-left: {{section.settings.section_padding_left}} !important; {%- endif -%}{%- if section.settings.section_bg_color != blank -%}background-color: {{ section.settings.section_bg_color }} !important;{%- endif -%}{%- if section.settings.section_bg_image != blank -%}{%- assign image = section.settings.section_bg_image -%}{%- assign image_size = image.width | append:'x' -%} background-image: url({%-include 'gl_image_format',src: image , size: image_size -%}) !important; background-position: center !important; background-repeat: no-repeat !important; background-size: cover !important;{%- endif -%}{%- if section.settings.section_border != blank and section.settings.section_border_color != blank -%}border-width: {{ s_border }} !important; border-color: {{section.settings.section_border_color}} !important; border-style: {{section.settings.section_border_style}} !important{%- endif -%} }</style>
   {%- endif -%}
{%- endcapture -%}
{%- capture data_section -%}
  {%- if section.settings.row_stretch == 'stretch_row' -%}
   {%- assign class_has_fill = 'gl_row-has-fill' -%}
   data-gl='has_section_gl_js' data-gl-full-width='true' data-gl-full-width-init='true'
  {%- elsif section.settings.row_stretch == 'stretch_row_content' or section.settings.row_stretch == 'stretch_row_content_no_spaces' -%}
   {%- assign class_has_fill = 'gl_row-has-fill' -%}
   data-gl='has_section_gl_js' data-gl-full-width='true' data-gl-full-width-init='true' data-gl-stretch-content='true'
  {%- else -%}
  {%- assign class_has_fill = '' -%}
  {%- endif -%}
{%- endcapture -%}
{{style_block_section}}
{%- assign grid_width = section.settings.grid_width -%}
{%- assign title_style = section.settings.title_style -%}
{%- case grid_width -%}
   {%- when '4' -%}
    {%- assign class_phu = '4'-%}
   {%- when '6' -%}
     {%- assign class_phu = '3'-%}
   {%- when '8' -%}
     {%- assign class_phu = '2'-%}
   {%- when '10' -%}
     {%- assign class_phu = '1'-%}
{%- endcase -%}
<div {{ data_section }}{%- if section.settings.use_video and section.settings.video_url != blank %} data-gl-video-bg="{{ section.settings.video_url }}"{%- endif %} class="gl_custom_{{section.id}} {{class_has_fill}}{%- if section.settings.row_stretch == 'stretch_row_content_no_spaces' %} gl_row-no-padding{%- endif %}{%- if section.settings.use_parallax %} basel-parallax{%- endif %} gl_row spb_row gl_row-fluid {{class_has_fill}} {%- if section.settings.use_video and section.settings.video_url != blank %} opacity-video-bg gl_video-bg-container gl_has_youtube{%- endif %}{%- if section.settings.full_height %} gl_row-o-full-height gl_row-o-columns-{{section.settings.columns_position}}{%- endif %}{%- if section.settings.equal_height %} gl_row-o-equal-height{%- endif -%}">
  {%- if grid_width != '12' -%} 
  <div class="spb_column gl_column_container gl_col-sm-{{class_phu}}">
      <div class="gl_column-inner">
         <div class="spb_wrapper"></div>
      </div>
   </div>
   {%- endif -%}
  <div class="spb_column gl_column_container gl_col-sm-{{grid_width}}">
    <div class="gl_column-inner gl_pt_0">
      <div class="spb_wrapper">
      {%- if title_style != 'simple_car' -%}  
        <div class="title-wrapper basel-title-color-{{ section.settings.title_color }} basel-title-style-{{ section.settings.title_style }} basel-title-size-{{ section.settings.title_size }} text-{{ section.settings.title_align }}">
           {%- if section.settings.sub_title != blank -%}
           <span class="title-subtitle font-{{ section.settings.subtitle_font }}">{{ section.settings.sub_title }}</span>
           {%- endif -%}
           {%- if section.settings.title != blank -%}
           {%- assign section_title = section.settings.title -%}
           <div class="liner-continer"> 
        	   <span class="left-line"></span> 
        	   <h4 class="title">{%- if section_title contains ']' -%}{%- assign _section_title = section_title | split:'[' -%}{{_section_title[0]}} <span class="color-primary">{{ _section_title[1] | split:']' | first }}</span>{%- else -%}{{ section_title }}{%- endif -%}<span class="title-separator"><span></span></span></h4> 
        	   <span class="right-line"></span> 
           </div>
           {%- endif -%}
           {%- if section.settings.text_after_title != blank -%}
           <span class="title-after_title">{{ section.settings.text_after_title }}</span>
           {%- endif -%}
        </div>
      {%- else -%}
         {%- if section.settings.title != blank -%}
         {%- assign section_title = section.settings.title -%}
         <div class="spb_wrapper">
            <div class="spb_text_column spb_content_element gl_mb_15">
               <div class="spb_wrapper">
                  <h4 style="font-size: 42px; text-align: center;">{%- if section_title contains ']' -%}{%- assign _section_title = section_title | split:'[' -%}{{_section_title[0]}} <span class="color-primary">{{ _section_title[1] | split:']' | first }}</span>{%- else -%}{{ section_title }}{%- endif -%}</h4>
               </div>
            </div>
            {%- if section.settings.text_after_title != blank -%}
               <div class="gl_separator spb_content_element gl_separator_align_center gl_sep_width_10 gl_sep_border_width_2 gl_sep_pos_align_center gl_separator_no_text gl_sep_color_grey gl_mb_20"><span class="gl_sep_holder gl_sep_holder_l"><span class="gl_sep_line"></span></span><span class="gl_sep_holder gl_sep_holder_r"><span class="gl_sep_line"></span></span></div>
               <div class="spb_text_column spb_content_element gl_mb_20">
                  <div class="spb_wrapper">
                     <p style="text-align: center;">{{section.settings.text_after_title}}</p>
                  </div>
               </div>
            {%- endif -%}
         </div>
         {%- endif -%}
      {%- endif -%}
      </div>
    </div>
  </div>
  {%- if grid_width != '12' -%} 
  <div class="spb_column gl_column_container gl_col-sm-{{class_phu}}">
      <div class="gl_column-inner">
         <div class="spb_wrapper"></div>
      </div>
   </div>
   {%- endif -%}
  
</div>
{%- unless section.settings.row_stretch == 'default' -%}
<div class="gl_row-full-width gl_clearfix"></div>
{%- endunless -%}
{%- schema -%}
  {
    "name": "Section title",
    "class": "index-section tea_section_title",
    "presets": [{
      "name": "Section title",
      "category": "Text"
    }],
    "settings": [
    	{
        "type": "header",
        "content": "== Row Settings"
      },
      {
        "type": "select",
        "id": "row_stretch",
        "options": [
         {
            "value": "default",
            "label": "Default"
          },
         {
            "value": "stretch_row",
            "label": "Stretch row"
          },
          {
            "value": "stretch_row_content",
            "label": "Stretch row and content"
          },
          {
            "value": "stretch_row_content_no_spaces",
            "label": "Stretch row and content (no paddings)"
          }
        ],
        "label": "___ Row stretch",
        "info": "Select stretching options for row and content (Note: stretched may not work properly if parent container has 'overflow: hidden' CSS property).",
        "default": "default"
      },
      {
       "type": "select",
       "id": "grid_width",
       "options": [
         {
           "value": "4",
           "label": "4 columns - 1/3"
         },
         {
           "value": "6",
           "label": "6 columns - 1/2"
         },
         {
           "value": "8",
           "label": "8 columns - 2/3"
         },
         {
           "value": "10",
           "label": "10 columns - 5/6"
         },
         {
           "value": "12",
           "label": "12 columns - 1/1"
         }
       ],
       "label": "___ Select column width",
       "default": "12"
     },
      {
        "type": "header",
        "content": "== General Settings"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "info": "MADE THE HARD WAY[highlight]",
        "default": "FEATURED CATEGORIES"
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "Sub Title",
        "default": "MADE THE HARD WAY"
      },
      {
        "type": "textarea",
        "id": "text_after_title",
        "label": "Text after title"
      },
      {
        "type": "select",
        "id": "title_style",
        "label": "Title style",
        "options": [
        {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "simple",
            "label": "Simple"
          },
          {
            "value": "simple_car",
            "label": "Simple Car"
          },
          {
            "value": "cross",
            "label": "X sign"
          },
          {
            "value": "bordered",
            "label": "Bordered"
          },
          {
            "value": "shadow",
            "label": "Shadow"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "title_color",
        "label": "Title color",
        "options": [
        	{
            "value": "default",
            "label": "Default"
          },
          {
            "value": "primary",
            "label": "Primary color"
          },
          {
            "value": "alt",
            "label": "Alternative color"
          },
          {
            "value": "black",
            "label": "Black"
          },
          {
            "value": "white",
            "label": "White"
          },
          {
            "value": "gradient",
            "label": "Gradient"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "title_size",
        "label": "Title size",
        "options": [
        	{
            "value": "default",
            "label": "Default"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "extra-large",
            "label": "Extra Large"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "subtitle_font",
        "label": "Subtitle font",
        "options": [
        	{
            "value": "default",
            "label": "Default"
          },
          {
            "value": "alt",
            "label": "Alternative"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "title_align",
        "label": "Title align",
        "options": [
        	{
            "value": "center",
            "label": "Center"
          },
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background color"
      },
      {
        "type": "color",
        "id": "section_border_color",
        "label": "Border color"
      },
      {
        "type": "select",
        "id": "section_border_style",
        "options": [
         {
            "value": "solid",
            "label": "Solid"
          },
         {
            "value": "dotted",
            "label": "Dotted"
          },
          {
            "value": "dashed",
            "label": "Dashed"
          },
          {
            "value": "double",
            "label": "Double"
          },
          {
            "value": "groove",
            "label": "Groove"
          },
          {
            "value": "Ridge",
            "label": "Ridge"
          },
          {
            "value": "inset",
            "label": "Inset"
          },
          {
            "value": "outset",
            "label": "Outset"
          }
        ],
        "label": "Border style",
        "default": "solid"
      },
      {
        "type": "text",
        "id": "section_border",
        "label": "Borders Integer px ( top-right-bottom-left )",
        "info": "0-0-1px-0"
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "60px"
      },
{
        "type": "text",
        "id": "section_padding_top",
        "label": "Padding top",
        "info": "60px"
      },
{
        "type": "text",
        "id": "section_padding_right",
        "label": "Padding right",
        "info": "60px"
      },
{
        "type": "text",
        "id": "section_padding_bottom",
        "label": "Padding bottom",
        "info": "60px"
      },
{
        "type": "text",
        "id": "section_padding_left",
        "label": "Padding left",
        "info": "60px"
      }
    ]
  }
{% endschema %}