{%- if section.settings.section_margin_top != blank or section.settings.section_margin_bottom != blank or section.settings.section_border != blank -%}
{%- assign s_margin_top = section.settings.section_margin_top | remove: ' ' | join: ' ' -%}
{%- assign s_margin_bottom = section.settings.section_margin_bottom | remove: ' ' | join: ' ' -%}
{%- assign s_border = section.settings.section_border | remove: ' ' | split: '-' | join: ' ' -%}
{%- endif -%}
{%- capture style_block_section -%}
   {%- if section.settings.section_margin_top != blank or section.settings.section_margin_bottom != blank or section.settings.section_padding_top != blank or section.settings.section_padding_right != blank or section.settings.section_padding_left != blank or section.settings.section_padding_bottom != blank or section.settings.section_bg_color != blank or section.settings.section_bg_image != blank or section.settings.section_border != blank -%}
   <style type="text/css">.gl_custom_{{section.id}}{ {%- if section.settings.section_margin_top != blank -%} margin-top: {{s_margin_top}} !important;{%- endif -%}{%- if section.settings.section_margin_bottom != blank -%} margin-bottom: {{s_margin_bottom}} !important;{%- endif -%}{%- if section.settings.section_padding_top != blank -%}padding-top: {{section.settings.section_padding_top}} !important;{%- endif-%}{%- if section.settings.section_padding_right != blank -%}padding-right: {{section.settings.section_padding_right}} !important;{%- endif-%}{%- if section.settings.section_padding_bottom != blank -%}padding-bottom: {{section.settings.section_padding_bottom}} !important;{%- endif-%}{%- if section.settings.section_padding_left != blank -%}padding-left: {{section.settings.section_padding_left}} !important; {%- endif -%}{%- if section.settings.section_bg_color != blank -%}background-color: {{ section.settings.section_bg_color }} !important;{%- endif -%}{%- if section.settings.section_bg_image != blank -%}{%- assign image = section.settings.section_bg_image -%}{%- assign image_size = image.width | append:'x' -%} background-image: url({%-include 'gl_image_format',src: image , size: image_size -%}) !important; background-position: center !important; background-repeat: no-repeat !important; background-size: cover !important;{%- endif -%}{%- if section.settings.section_border != blank and section.settings.section_border_color != blank -%}border-width: {{ s_border }} !important; border-color: {{section.settings.section_border_color}} !important; border-style: {{section.settings.section_border_style}} !important{%- endif -%} }</style>
   {%- endif -%}
{%- endcapture -%}
{%- capture data_section -%}
  {%- if section.settings.row_stretch == 'stretch_row' -%}
   {%- assign class_has_fill = 'gl_row-has-fill' -%}
   data-gl='has_section_gl_js' data-gl-full-width='true' data-gl-full-width-init='true'
  {%- elsif section.settings.row_stretch == 'stretch_row_content' or section.settings.row_stretch == 'stretch_row_content_no_spaces' -%}
   {%- assign class_has_fill = 'gl_row-has-fill' -%}
   data-gl='has_section_gl_js' data-gl-full-width='true' data-gl-full-width-init='true' data-gl-stretch-content='true'
  {%- else -%}
  {%- assign class_has_fill = '' -%}
  {%- endif -%}
{%- endcapture -%}
{{ style_block_section }}
<div {{ data_section }}{%- if section.settings.use_video and section.settings.video_url != blank %} data-gl-video-bg="{{ section.settings.video_url }}"{%- endif %} class="gl_custom_{{section.id}} {% if section.settings.row_stretch == 'stretch_row_content_no_spaces' %}gl_row-no-padding{%- endif %}{%- if section.settings.use_parallax -%} basel-parallax{%- endif %} gl_row spb_row gl_row-fluid {{class_has_fill}} {%- if section.settings.use_video and section.settings.video_url != blank %} opacity-video-bg gl_video-bg-container gl_has_youtube{%- endif %}{%- if section.settings.full_height %} gl_row-o-full-height gl_row-o-columns-{{section.settings.columns_position}}{%- endif %}{%- if section.settings.equal_height %} gl_row-o-equal-height{%- endif %}{%- unless section.settings.content_position == 'default' %} gl_row-o-content-{{section.settings.content_position}}{%- endunless %}{%- if section.settings.equal_height or section.settings.content_position != 'default' %} gl_row-flex{%- endif -%}">
   {%- if section.settings.align_img == '1' -%}
   <div class="spb_column gl_column_container gl_col-sm-6">
      <div class="gl_column-inner">
         <div class="spb_wrapper">
            <div id="gallery_{{section.id}}" class="basel-images-gallery spacing-0 view-carousel photoswipe-images">
               {%- assign index = 0 -%}
               {%- for block in section.blocks -%}
                  {%- if block.type == 'image' -%}
                     {%- for i in (1..10) -%}
                       {%- assign img = 'block_image_' | append:i-%}
                       {%- assign image = block.settings[img]  -%}
                       {%- assign link = block.settings.link -%}
                       {%- assign image_size = image.width | append:'x' -%}
                       {%- if image != blank -%}
                         {%- assign index = index | plus:1 -%}
                         {%- if index == 2 -%}{%- break -%}{%- endif -%}
                       {%- endif -%}
                     {%- endfor -%}
                  {%- endif -%}
               {%- endfor -%}
               {%- if index < 2 -%}
               <div class="gallery-images">
               {%- else -%}
               <div class="gallery-images owl-carousel ins-owl-carousel" data-time='5000' data-nav='{%- if section.settings.hide_button -%}false{%- else -%}true{%- endif -%}' data-items='1' data-dots='{%- if section.settings.hide_pagination -%}false{%- else -%}true{%- endif -%}' data-autoplay='{%- if section.settings.autoplay -%}true{%- else -%}false{%- endif -%}' data-loop='{%- if section.settings.slider_loop -%}true{%- else -%}false{%- endif -%}'>
               {%- endif -%}
               {%- for block in section.blocks -%}
                  {%- if block.type == 'image' -%}
                     {%- if index > 0 -%}
                        {%- for i in (1..10) -%}
                           {%- assign img = 'block_image_' | append:i -%}
                           {%- assign image = block.settings[img]  -%}
                           {%- assign link = block.settings.link -%}
                           {%- assign image_size = image.width | append:'x' -%}
                           {%- if image != blank -%}
                           <div class="basel-gallery-item">
                               <img width="{{ image.width }}" height="{{ image.height }}" src="{%-include 'gl_image_format',src: image , size: image_size -%}" alt="{{ image.alt }}" class="basel-gallery-image image-1 attachment-full">                           
                           </div>
                           {%- endif -%}
                        {%- endfor -%}
                     {%- else -%}
                         <img src="https://via.placeholder.com/700x625" alt="">
                     {%- endif -%}
                  {%- endif -%}
               {%- endfor -%}
              </div>
            </div>
         </div>
      </div>
   </div>
   <div class="spb_column gl_column_container gl_col-sm-6 color-scheme-{{section.settings.color_scheme}}">
      <div class="gl_column-inner">
         <div class="spb_wrapper">
            {%- for block in section.blocks -%}
               {%- if block.type == 'text' -%}
                 {{block.settings.text_block}}
               {%- endif -%}
            {%- endfor -%}
            {%- if section.settings.use_countdown -%}
            <div class="basel-countdown-timer color-scheme-{{section.settings.countdown_color_scheme}} timer-align-{{section.settings.align}} timer-size-{{section.settings.size}} timer-style-{{section.settings.style}}">
               <div class="basel-timer" data-end-date="{{section.settings.date}}"></div>
            </div>
            {%- endif -%}
            {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
            <div class="gl_empty_space" style="height: 25px"><span class="gl_empty_space_inner"></span></div>
             <div class="basel-button-wrapper text-{{ section.settings.text_alignment }}">
                <a href="{{ section.settings.button_link }}" class="btn btn-color-{{ section.settings.button_color }} btn-style-{{ section.settings.button_style }} btn-size-{{ section.settings.button_size }}">{{ section.settings.button_label }}</a>
             </div>
             {%- endif -%}
         </div>
      </div>
   </div>
   {%- else -%}
   <div class="spb_column gl_column_container gl_col-sm-6 color-scheme-{{section.settings.color_scheme}}">
      <div class="gl_column-inner">
         <div class="spb_wrapper">
            {%- for block in section.blocks -%}
               {%- if block.type == 'text' -%}
                 {{block.settings.text_block}}
               {%- endif -%}
            {%- endfor -%}
            {%- if section.settings.use_countdown -%}
            <div class="basel-countdown-timer color-scheme-{{section.settings.countdown_color_scheme}} timer-align-{{section.settings.align}} timer-size-{{section.settings.size}} timer-style-{{section.settings.style}}">
               <div class="basel-timer" data-end-date="{{section.settings.date}}"></div>
            </div>
            {%- endif -%}
            {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
            <div class="gl_empty_space" style="height: 25px"><span class="gl_empty_space_inner"></span></div>
             <div class="basel-button-wrapper text-{{ section.settings.text_alignment }}">
                <a href="{{ section.settings.button_link }}" class="btn btn-color-{{ section.settings.button_color }} btn-style-{{ section.settings.button_style }} btn-size-{{ section.settings.button_size }}">{{ section.settings.button_label }}</a>
             </div>
             {%- endif -%}
         </div>
      </div>
   </div>
   <div class="spb_column gl_column_container gl_col-sm-6">
      <div class="gl_column-inner">
         <div class="spb_wrapper">
            <div id="gallery_{{section.id}}" class="basel-images-gallery spacing-0 view-carousel photoswipe-images">
               {%- assign index = 0 -%}
               {%- for block in section.blocks -%}
                  {%- if block.type == 'image' -%}
                     {%- for i in (1..10) -%}
                       {%- assign img = 'block_image_' | append:i-%}
                       {%- assign image = block.settings[img]  -%}
                       {%- assign link = block.settings.link -%}
                       {%- assign image_size = image.width | append:'x' -%}
                       {%- if image != blank -%}
                         {%- assign index = index | plus:1 -%}
                         {%- if index == 2 -%}{%- break -%}{%- endif -%}
                       {%- endif -%}
                     {%- endfor -%}
                  {%- endif -%}
               {%- endfor -%}
               {%- if index < 2 -%}
               <div class="gallery-images">
               {%- else -%}
               <div class="gallery-images owl-carousel ins-owl-carousel" data-time='5000' data-nav='{%- if section.settings.hide_button -%}false{%- else -%}true{%- endif -%}' data-items='1' data-dots='{%- if section.settings.hide_pagination -%}false{%- else -%}true{%- endif -%}' data-autoplay='{%- if section.settings.autoplay -%}true{%- else -%}false{%- endif -%}' data-loop='{%- if section.settings.slider_loop -%}true{%- else -%}false{%- endif -%}'>
               {%- endif -%}
               {%- for block in section.blocks -%}
                  {%- if block.type == 'image' -%}
                     {%- if index > 0 -%}
                        {%- for i in (1..10) -%}
                           {%- assign img = 'block_image_' | append:i -%}
                           {%- assign image = block.settings[img]  -%}
                           {%- assign link = block.settings.link -%}
                           {%- assign image_size = image.width | append:'x' -%}
                           {%- if image != blank -%}
                           <div class="basel-gallery-item">
                               <img width="{{ image.width }}" height="{{ image.height }}" src="{%-include 'gl_image_format',src: image , size: image_size -%}" alt="{{ image.alt }}" class="basel-gallery-image image-1 attachment-full">                           
                           </div>
                           {%- endif -%}
                        {%- endfor -%}
                     {%- else -%}
                         <img src="https://via.placeholder.com/700x625" alt="">
                     {%- endif -%}
                  {%- endif -%}
               {%- endfor -%}
              </div>
            </div>
         </div>
      </div>
   </div>
   {%- endif -%}       
</div>
{%- unless section.settings.row_stretch == 'default' -%}
  <div class="gl_row-full-width gl_clearfix"></div>
  {%- endunless -%}
{%- schema -%}
  {
    "name": "Image with text",
    "class": "index-section section_gallery_text",
    "settings": [
      {
      "type": "header",
      "content": "== General"
      },
      {
        "type": "select",
        "id": "row_stretch",
        "options": [
         {
            "value": "default",
            "label": "Default"
          },
         {
            "value": "stretch_row",
            "label": "Stretch row"
          },
          {
            "value": "stretch_row_content",
            "label": "Stretch row and content"
          },
          {
            "value": "stretch_row_content_no_spaces",
            "label": "Stretch row and content (no paddings)"
          }
        ],
        "label": "___ Row stretch",
        "info": "Select stretching options for row and content (Note: stretched may not work properly if parent container has 'overflow: hidden' CSS property).",
        "default": "default"
      },
      {
        "type": "checkbox",
        "id": "full_height",
        "label": "Full height row?",
        "info": "if checked row will be set to full height.",
        "default": false
      },
      {
        "type": "select",
        "id": "columns_position",
        "options": [
         {
            "value": "middle",
            "label": "Middle"
          },
         {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          },
          {
            "value": "stretch",
            "label": "Stretch"
          }
        ],
        "label": "___ Columns position (only for full height)",
        "info": "Select columns position within row.",
        "default": "middle"
      },
      {
        "type": "checkbox",
        "id": "equal_height",
        "label": "Equal height?",
        "info": "If checked columns will be set to equal height.",
        "default": false
      },
      {
        "type": "select",
        "id": "content_position",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
         {
            "value": "middle",
            "label": "Middle"
          },
         {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ],
        "label": "___ Content position",
        "info": "Select content position within columns.",
        "default": "default"
      },
{
        "type": "header",
        "content": "== Countdown timer Settings"
      },
      {
        "type": "checkbox",
        "id": "use_countdown",
        "default": false,
        "label": "Use countdown?"
      },
      {
        "type": "text",
        "id": "date",
        "label": "Date",
        "info": "Final date in the format Y/m/d. For example 2017/12/12",
        "default": "2018/12/12"
      },
      {
        "type": "select",
        "id": "countdown_color_scheme",
        "options": [
          {
            "value": "light",
            "label": "Light"
          },
         {
            "value": "dark",
            "label": "Dark"
          }
        ],
        "label": "Color Scheme",
        "default": "dark"
      },
      {
        "type": "select",
        "id": "size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
         {
            "value": "medium",
            "label": "Medium"
          },
         {
            "value": "large",
            "label": "Large"
          }
        ],
        "label": "Size",
        "default": "small"
      },
      {
        "type": "select",
        "id": "align",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
         {
            "value": "center",
            "label": "Center"
          },
         {
            "value": "right",
            "label": "Right"
          }
        ],
        "label": "Align",
        "default": "left"
      },
      {
        "type": "select",
        "id": "style",
        "options": [
         {
            "value": "standard",
            "label": "Standard"
          },
         {
            "value": "transparent",
            "label": "Transparent"
          }
        ],
        "label": "Style",
        "default": "standard"
      },
      {
        "type": "header",
        "content": "== Button Settings"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "___ Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "___ Button link"
      },
      {
        "type": "select",
        "id": "button_color",
        "label": "___ Button color",
        "default": "white",
        "options": [
          {
            "label": "Default",
            "value": "default"
          },
          {
            "label": "Primary color",
            "value": "primary"
          },
          {
            "label": "Alternative color",
            "value": "alt"
          },
          {
            "label": "Black",
            "value": "black"
          },
          {
            "label": "White",
            "value": "white"
          }
        ]
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "___ Button style",
        "default": "default",
        "options": [
          {
            "label": "Default",
            "value": "default"
          },
          {
            "label": "Bordered",
            "value": "bordered"
          },
          {
            "label": "Link button",
            "value": "link"
          },
          {
            "label": "Rounded",
            "value": "round"
          }
        ]
      },
      {
        "type": "select",
        "id": "button_size",
        "label": "___ Button size",
        "default": "default",
        "options": [
          {
            "label": "Default",
            "value": "default"
          },
          {
            "label": "Extra Small",
            "value": "extra-small"
          },
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Large",
            "value": "large"
          },
          {
            "label": "extra-large",
            "value": "Extra Large"
          }
        ]
      },
      {
        "type": "header",
        "content": "___ Carousel Settings"
      },
      {
        "type": "checkbox",
        "id": "hide_pagination",
        "default": false,
        "label": "Hide pagination control?",
        "info": "pagination control will be removed"
      },
       {
        "type": "checkbox",
        "id": "hide_button",
        "default": false,
        "label": "Hide prev/next buttons?",
        "info": "prev/next control will be removed"
      },
       {
        "type": "checkbox",
        "id": "slider_loop",
        "default": false,
        "label": "Slider loop?",
        "info": "Enables loop mode."
      },
      {
       "type": "checkbox",
       "id": "autoplay",
       "label": "___ Slider autoplay",
       "info": "Enables autoplay mode.",
       "default": false
     },
      {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "radio",
        "id": "align_img",
        "options": [
          {
            "value": "1",
            "label": "image left"
          },
          {
            "value": "2",
            "label": "image right"
          }
        ],
        "label": "align image setting"
      },
            {
              "type": "select",
              "id": "color_scheme",
              "options": [
                {
                  "value": "light",
                  "label": "Light"
                },
               {
                  "value": "dark",
                  "label": "Dark"
                }
              ],
              "label": "Color Scheme",
              "default": "dark"
            },
     {
        "type": "image_picker",
        "id": "section_bg_image",
        "label": "Background Image"
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background color"
      },
      {
        "type": "color",
        "id": "section_border_color",
        "label": "Border color"
      },
      {
        "type": "select",
        "id": "section_border_style",
        "options": [
         {
            "value": "solid",
            "label": "Solid"
          },
         {
            "value": "dotted",
            "label": "Dotted"
          },
          {
            "value": "dashed",
            "label": "Dashed"
          },
          {
            "value": "double",
            "label": "Double"
          },
          {
            "value": "groove",
            "label": "Groove"
          },
          {
            "value": "Ridge",
            "label": "Ridge"
          },
          {
            "value": "inset",
            "label": "Inset"
          },
          {
            "value": "outset",
            "label": "Outset"
          }
        ],
        "label": "Border style",
        "default": "solid"
      },
      {
        "type": "text",
        "id": "section_border",
        "label": "Borders Integer px ( top-right-bottom-left )",
        "info": "0-0-1px-0"
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_padding_top",
        "label": "Padding top",
        "info": "60px"
      },
{
        "type": "text",
        "id": "section_padding_right",
        "label": "Padding right",
        "info": "60px"
      },
{
        "type": "text",
        "id": "section_padding_bottom",
        "label": "Padding bottom",
        "info": "60px"
      },
{
        "type": "text",
        "id": "section_padding_left",
        "label": "Padding left",
        "info": "60px"
      },
     {
        "type": "header",
        "content": "== Basel Extras"
      },
      {
        "type": "checkbox",
        "id": "use_parallax",
        "label": "Use Basel parallax?",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Images gallery",
        "limit": 1,
        "settings": [
            {
              "type": "image_picker",
              "id": "block_image_1",
              "label": "Image 1"
            },
            {
              "type": "image_picker",
              "id": "block_image_2",
              "label": "Image 2"
            },
            {
              "type": "image_picker",
              "id": "block_image_3",
              "label": "Image 3"
            },
            {
              "type": "image_picker",
              "id": "block_image_4",
              "label": "Image 4"
            },
            {
              "type": "image_picker",
              "id": "block_image_5",
              "label": "Image 5"
            },
            {
              "type": "image_picker",
              "id": "block_image_6",
              "label": "Image 6"
            },
            {
              "type": "image_picker",
              "id": "block_image_7",
              "label": "Image 7"
            },
            {
              "type": "image_picker",
              "id": "block_image_8",
              "label": "Image 8"
            },
            {
              "type": "image_picker",
              "id": "block_image_9",
              "label": "Image 9"
            },
            {
              "type": "image_picker",
              "id": "block_image_10",
              "label": "Image 10"
            }
         ]
      },
      {
        "type": "text",
        "name": "Text Block",
        "limit": 1,
        "settings": [
            {
              "type": "html",
              "id": "text_block",
              "label": "Text"
            }
         ]
      }
    ],
    "presets": [
      {
        "name": "Image with text (home pets)",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "text"
          }
         ]
      }
    ]
  }
{% endschema %}