{%- if section.settings.hidden_section -%}{%- capture check_admin -%}{{ content_for_header  }}{%- endcapture -%}<style> #shopify-section-{{ section.id }} { {%- if check_admin contains 'design_mode' -%}opacity: .5;filter: alpha(opacity=50){%- else -%}display: none !important{%- endif -%}}</style>{%- endif -%}
{%- if section.settings.section_margin_top != blank or section.settings.section_margin_bottom != blank or section.settings.section_border != blank -%}
{%- assign s_margin_top = section.settings.section_margin_top | remove: ' ' | join: ' ' -%}
{%- assign s_margin_bottom = section.settings.section_margin_bottom | remove: ' ' | join: ' ' -%}
{%- assign s_border = section.settings.section_border | remove: ' ' | split: '-' | join: ' ' -%}
{%- endif -%}
{%- capture style_block_section -%}
   {%- if section.settings.section_margin_top != blank or section.settings.section_margin_bottom != blank or section.settings.section_padding_top != blank or section.settings.section_padding_right != blank or section.settings.section_padding_left != blank or section.settings.section_padding_bottom != blank or section.settings.section_bg_color != blank or section.settings.section_bg_image != blank or section.settings.section_border != blank -%}
   <style type="text/css">.gl_custom_{{section.id}}{ {%- if section.settings.section_margin_top != blank -%} margin-top: {{s_margin_top}} !important;{%- endif -%}{%- if section.settings.section_margin_bottom != blank -%} margin-bottom: {{s_margin_bottom}} !important;{%- endif -%}{%- if section.settings.section_padding_top != blank -%}padding-top: {{section.settings.section_padding_top}} !important;{%- endif-%}{%- if section.settings.section_padding_right != blank -%}padding-right: {{section.settings.section_padding_right}} !important;{%- endif-%}{%- if section.settings.section_padding_bottom != blank -%}padding-bottom: {{section.settings.section_padding_bottom}} !important;{%- endif-%}{%- if section.settings.section_padding_left != blank -%}padding-left: {{section.settings.section_padding_left}} !important; {%- endif -%}{%- if section.settings.section_bg_color != blank -%}background-color: {{ section.settings.section_bg_color }} !important;{%- endif -%}{%- if section.settings.section_bg_image != blank -%}{%- assign image = section.settings.section_bg_image -%}{%- assign image_size = image.width | append:'x' -%} background-image: url({%-include 'gl_image_format',src: image , size: image_size -%}) !important; background-position: center !important; background-repeat: no-repeat !important; background-size: cover !important;{%- endif -%}{%- if section.settings.section_border != blank and section.settings.section_border_color != blank -%}border-width: {{ s_border }} !important; border-color: {{section.settings.section_border_color}} !important; border-style: {{section.settings.section_border_style}} !important{%- endif -%} }</style>
   {%- endif -%}
{%- endcapture -%}
{%- capture data_section -%}
  {%- if section.settings.row_stretch == 'stretch_row' -%}
   {%- assign class_has_fill = 'gl_row-has-fill' -%}
   data-gl='has_section_gl_js' data-gl-full-width='true' data-gl-full-width-init='true'
  {%- elsif section.settings.row_stretch == 'stretch_row_content' or section.settings.row_stretch == 'stretch_row_content_no_spaces' -%}
   {%- assign class_has_fill = 'gl_row-has-fill' -%}
   data-gl='has_section_gl_js' data-gl-full-width='true' data-gl-full-width-init='true' data-gl-stretch-content='true'
  {%- else -%}
  {%- assign class_has_fill = '' -%}
  {%- endif -%}
{%- endcapture -%}
{%- unless image_size != blank -%}
  {%- assign image_size = '2048x' -%}
{%- endunless -%}
{%- capture check_admin -%}{{ content_for_header  }}{%- endcapture -%}
{%- capture style_block_text -%}
   {%- if section.settings.section_information_color != blank or section.settings.section_information_image != blank -%}
   style="{%- if section.settings.section_information_color != blank -%}background-color: {{ section.settings.section_information_color }} !important;{%- endif -%}{%- if section.settings.section_information_image != blank -%} background-image: url({%-include 'gl_image_format',src: section.settings.section_information_image , size: '2048x' -%}) !important{%- endif -%}"
   {%- endif -%}
{%- endcapture -%}
{%- if check_admin contains 'design_mode' -%}{%- assign admin_shopify = true -%}{%- endif -%}
{{ style_block_section }}
<div {{ data_section }}{%- if section.settings.use_video and section.settings.video_url != blank %} data-gl-video-bg="{{ section.settings.video_url }}"{%- endif %} class="gl_custom_{{section.id}} {% if section.settings.row_stretch == 'stretch_row_content_no_spaces' %}gl_row-no-padding{%- endif %}{%- if section.settings.use_parallax %} basel-parallax{%- endif %} gl_row spb_row gl_row-fluid {{class_has_fill}} gl_row-flex{%- if section.settings.use_video and section.settings.video_url != blank %} opacity-video-bg gl_video-bg-container gl_has_youtube{%- endif %}{%- if section.settings.full_height %} gl_row-o-full-height gl_row-o-columns-{{section.settings.columns_position}}{%- endif %} gl_row-o-content-middle">
   <div class="gl_has_google_map spb_column gl_column_container gl_col-sm-12">
      <div class="gl_column-inner gl_pt_0">
         <div class="spb_wrapper">
            <div class="google-map-container google-map-container-with-content">
               <div class="basel-google-map-wrapper">
                  <div class="basel-google-map with-content google-map-{{ section.id }}" style="height:{{section.settings.height}}px;"></div>
               </div>
               {%- if section.settings.title != blank or section.settings.richtext != blank -%}
                  {%- if section.settings.style == '1' -%}
                  <div class="gl_row spb_row gl_inner gl_row-fluid gl_custom_map gl_row-o-content-middle gl_row-flex">
                     <div class="spb_column gl_column_container gl_col-sm-4 gl_col-has-fill">
                        <div class="gl_column-inner gl_custom_content" {{ style_block_text }}>
                           <div class="spb_wrapper">
                              <div class=" basel-info-box2 text-left icon-alignment-left box-style-base color-scheme-light  with-animation gl_mb_20">
                                 {%- if section.settings.image != blank -%}
                                 <div class="box-icon-wrapper">
                                    <div class="info-box-icon">
                                       {%- assign image = section.settings.image -%}
                                       {%- assign image_size = image.width | append:'x' -%}
                                       <img width="72" height="41" src="{%-include 'gl_image_format',src: image , size: image_size -%}" class="info-icon image-1 attachment-full" alt="">                                          
                                    </div>
                                 </div>
                                 {%- endif -%}
                                 <div class="info-box-content">
                                    <div class="info-box-inner gl_p_same_strong">
                                       <p></p>
                                       <h2>{{ section.settings.title }}</h2>
                                       {{ section.settings.richtext_html }}
                                    </div>
                                 </div>
                              </div>
                              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
                              <div class="basel-button-wrapper text-left">
                                 <a href="{{ section.settings.button_link }}" class="btn btn-color-{{ section.settings.button_color }} btn-style-{{ section.settings.button_style }} btn-size-{{ section.settings.button_size }}">{{ section.settings.button_label }}</a>
                              </div>
                              {%- endif -%}
                           </div>
                        </div>
                     </div>
                  </div>
                  {%- else -%}
                  <div class="gl_row spb_row gl_inner gl_row-fluid">
                     <div class="spb_column gl_column_container gl_col-sm-8 gl_col-lg-offset-2 gl_col-lg-3 gl_col-md-offset-2 gl_col-md-4 gl_col-sm-offset-2 gl_col-xs-offset-1 gl_col-xs-10">
                        <div class="gl_column-inner ">
                           <div class="spb_wrapper">
                              <div class=" basel-info-box text-center icon-alignment-top box-style-base color-scheme-dark  with-animation gl_custom_1484895441326_94_04" {{ style_block_text }}>
                                 {%- if section.settings.image != blank -%}
                                 <div class="box-icon-wrapper">
                                    <div class="info-box-icon">
                                       {%- assign image = section.settings.image -%}
                                       {%- assign image_size = image.width | append:'x' -%}
                                       <img width="72" height="41" src="{%-include 'gl_image_format',src: image , size: image_size -%}" class="info-icon image-1 attachment-full" alt="">                                          
                                    </div>
                                 </div>
                                 {%- endif -%}
                                 <div class="info-box-content">
                                    <div class="info-box-inner">
                                       <p></p>
                                       {%- if section.settings.title != blank -%}<h3 style="font-weight: 600;">{{section.settings.title}}</h3>{%- endif -%}
                                       {{section.settings.richtext_html}}
                                    </div>
                                 </div>
                              </div>
                              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
                              <div class="basel-button-wrapper text-left">
                                 <a href="{{ section.settings.button_link }}" class="btn btn-color-{{ section.settings.button_color }} btn-style-{{ section.settings.button_style }} btn-size-{{ section.settings.button_size }}">{{ section.settings.button_label }}</a>
                              </div>
                              {%- endif -%}
                           </div>
                        </div>
                     </div>
                  </div>
                  {%- endif -%}
               {%- endif -%}
            </div>
            {%- if section.settings.lat != blank and section.settings.lon != blank -%}
            {%- if admin_shopify -%}
               <script type="text/javascript">
                  function glMaplace() {
                     new Maplace({
                        locations: [
                            {
                              lat: {{ section.settings.lat }},
                              lon: {{ section.settings.lon }},
                              title: '',
                              animation: google.maps.Animation.DROP
                            }
                        ],
                        controls_on_map: false,
                        title: '',
                       map_div: '.google-map-{{section.id}}',
                       start: 1,
                       map_options: {
                        zoom: 15,
                        scrollwheel: false                   
                        }
                        {%- if section.settings.style_json != blank -%},
                       styles: {
                             'Custom style': {{ section.settings.style_json }}}
                        {%- endif %}
                     }).Load();
                  }
                  jQuery(document).ready(function() {
                     glMaplace();
               });
                  $(document)
                     .on('shopify:section:load', glMaplace)
                    .on('shopify:section:unload', glMaplace)
                    .on('shopify:section:select',glMaplace)
                    .on('shopify:section:deselect', glMaplace)
                    .on('shopify:block:select',glMaplace)
                    .on('shopify:block:deselect', glMaplace);
               </script>
            {%- else -%}
               <script type="text/javascript">
                  jQuery(document).ready(function() {
                     new Maplace({
                        locations: [
                            {
                              lat: {{ section.settings.lat }},
                              lon: {{ section.settings.lon }},
                              title: '',
                              animation: google.maps.Animation.DROP
                            }
                        ],
                        controls_on_map: false,
                        title: '',
                       map_div: '.google-map-{{section.id}}',
                       start: 1,
                       map_options: {
                        zoom: 15,
                        scrollwheel: false                   
                        }
                        {%- if section.settings.style_json != blank -%},
                       styles: {
                             'Custom style': {{ section.settings.style_json }}}
                        {%- endif %}
                     }).Load();
               });
               </script>
            {%- endif -%}
            {%- endif -%}
         </div>
      </div>
   </div>
</div>
{%- unless section.settings.row_stretch == 'default' -%}
  <div class="gl_row-full-width gl_clearfix"></div>
  {%- endunless -%}
{%- schema -%}
  {
    "name": "Map",
    "class": "index-section",
    "settings": [
      {
      "type": "header",
      "content": "== General"
      },
      {
        "type": "select",
        "id": "row_stretch",
        "options": [
         {
            "value": "default",
            "label": "Default"
          },
         {
            "value": "stretch_row",
            "label": "Stretch row"
          },
          {
            "value": "stretch_row_content",
            "label": "Stretch row and content"
          },
          {
            "value": "stretch_row_content_no_spaces",
            "label": "Stretch row and content (no paddings)"
          }
        ],
        "label": "___ Row stretch",
        "info": "Select stretching options for row and content (Note: stretched may not work properly if parent container has 'overflow: hidden' CSS property).",
        "default": "default"
      },
      {
        "type": "header",
        "content": "== Google Map Settings"
      },
      {
        "type": "text",
        "id": "lat",
        "label": "Latitude (required)",
        "default": "39.950557"
      },
      {
        "type": "text",
        "id": "lon",
        "label": "Longitude (required)",
        "default": "-75.140658"
      },
      {
        "type": "paragraph",
        "content": "You can use [this service](https:\/\/mycurrentlocation.net) to get coordinates of your location."
      },
      {
        "type": "text",
        "id": "height",
        "label": "Height (Integer)",
        "default": "450",
        "info": "Default: 400"
      },
      {
        "type": "html",
        "id": "style_json",
        "label": "Styles (JSON)"
      },
      {
        "type": "paragraph",
        "content": "Styled maps allow you to customize the presentation of the standard Google base maps, changing the visual display of such elements as roads, parks, and built-up areas.You can find more Google Maps styles on the website: [Snazzy Maps](https:\/\/snazzymaps.com\/explore) Just copy JSON code and paste it here"
      },
      {
        "type": "header",
        "content": "== Information box Settings"
      },
      {
       "type": "select",
       "id": "style",
       "options": [
        {
           "value": "1",
           "label": "Style 1"
         },
         {
           "value": "2",
           "label": "Style 2 (home bicycle)"
         }
       ],
       "label": "Style",
       "default": "1"
     },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "id": "title",
        "type": "text",
        "label": "Overlay heading",
        "default": "MINIMALISTIC AJAX E-COMMERCE THEME"
      },
      {
        "id": "richtext_html",
        "type": "html",
        "label": "Text intro shop",
        "default": "<p>20 Margaret St, London<br>Great Britain, 3NM98-LK</p>"
      },
      {
        "type": "color",
        "id": "section_information_color",
        "label": "Background color",
        "default": "#033463"
      },
      {
       "type": "image_picker",
       "id": "section_information_image",
       "label": "Background Image"
      },
      {
        "type": "header",
        "content": "== Button Settings"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "___ Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "___ Button link"
      },
      {
        "type": "select",
        "id": "button_color",
        "label": "___ Button color",
        "default": "white",
        "options": [
          {
            "label": "Default",
            "value": "default"
          },
          {
            "label": "Primary color",
            "value": "primary"
          },
          {
            "label": "Alternative color",
            "value": "alt"
          },
          {
            "label": "Black",
            "value": "black"
          },
          {
            "label": "White",
            "value": "white"
          }
        ]
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "___ Button style",
        "default": "bordered",
        "options": [
          {
            "label": "Default",
            "value": "default"
          },
          {
            "label": "Bordered",
            "value": "bordered"
          },
          {
            "label": "Link button",
            "value": "link"
          },
          {
            "label": "Rounded",
            "value": "round"
          }
        ]
      },
      {
        "type": "select",
        "id": "button_size",
        "label": "___ Button size",
        "default": "default",
        "options": [
          {
            "label": "Default",
            "value": "default"
          },
          {
            "label": "Extra Small",
            "value": "extra-small"
          },
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Large",
            "value": "large"
          },
          {
            "label": "extra-large",
            "value": "Extra Large"
          }
        ]
      },
      {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "color",
        "id": "section_border_color",
        "label": "Border color"
      },
      {
        "type": "select",
        "id": "section_border_style",
        "options": [
         {
            "value": "solid",
            "label": "Solid"
          },
         {
            "value": "dotted",
            "label": "Dotted"
          },
          {
            "value": "dashed",
            "label": "Dashed"
          },
          {
            "value": "double",
            "label": "Double"
          },
          {
            "value": "groove",
            "label": "Groove"
          },
          {
            "value": "Ridge",
            "label": "Ridge"
          },
          {
            "value": "inset",
            "label": "Inset"
          },
          {
            "value": "outset",
            "label": "Outset"
          }
        ],
        "label": "Border style",
        "default": "solid"
      },
      {
        "type": "text",
        "id": "section_border",
        "label": "Borders Integer px ( top-right-bottom-left )",
        "info": "0-0-1px-0"
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_padding_top",
        "label": "Padding top",
        "info": "60px"
      },
{
        "type": "text",
        "id": "section_padding_right",
        "label": "Padding right",
        "info": "60px"
      },
{
        "type": "text",
        "id": "section_padding_bottom",
        "label": "Padding bottom",
        "info": "60px"
      },
{
        "type": "text",
        "id": "section_padding_left",
        "label": "Padding left",
        "info": "60px"
      },
      {
        "type": "header",
        "content": "== Basel Extras"
      },
      {
        "type": "checkbox",
        "id": "hidden_section",
        "label": "Hidden Section?",
        "info": "if checked section will be set to hidden.",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Map",
        "category": "Store information"
      }
    ]
  }
{% endschema %}
