{%- assign check_design_mode = false -%}
{%- if section.settings.hidden_section -%}{%- capture check_admin -%}{{ content_for_header  }}{%- endcapture -%}{%- if check_admin contains 'design_mode' -%}{%- assign check_design_mode = true -%}<style> #shopify-section-{{ section.id }} { opacity: .5;filter: alpha(opacity=50)}</style>{%- endif -%}{%- endif -%}
{%- if check_design_mode or section.settings.hidden_section == false -%} 
  {%- if settings.use_wishlist -%}{%- include 'nitro-wishlist' -%}{%- endif -%}
  {%- assign paginate_index = section.settings.paginate_index | plus: 0 -%}
  {%- assign use_pagination = section.settings.use_pagination -%}
  {%- capture settings_pagination -%}
     {%- if use_pagination == 'arrows' -%}
     pagination-arrows
     {%- elsif use_pagination == 'more-btn' or use_pagination == 'more-btn-masonry' -%}
     pagination-more-btn 
     {%- else -%}
     no_pagination
     {%- endif -%}
  {%- endcapture -%}
  {%- capture settings_grid -%}
     {%- if use_pagination == 'arrows' or use_pagination == 'more-btn' -%}
     grid
     {%- elsif use_pagination == 'more-btn-masonry' -%}
    grid-masonry
     {%- else -%}
     no_pagination
     {%- endif -%}
  {%- endcapture -%}
  {%- if section.settings.home_featured_products == blank -%}
     {%- assign collection = collections["frontpage"] -%}
  {%- else -%}
     {%- assign collection = collections[section.settings.home_featured_products ] -%}
  {%- endif -%}
  {%- case section.settings.grid_columns -%}
      {%- when '2' -%}
        {%- assign gl_colum_width = 'col-xs-6 col-sm-4 col-md-6' -%}
        {%- if section.settings.row_stretch == 'default' or section.settings.row_stretch == 'stretch_row' -%}
           {%- assign image_size = '555x' -%}
        {%- else -%}
           {%- assign image_size = '1000x' -%}
        {%- endif -%}  
      {%- when '3' -%}
        {%- assign gl_colum_width = 'col-xs-6 col-sm-4 col-md-4' -%}
        {%- if section.settings.row_stretch == 'default' or section.settings.row_stretch == 'stretch_row' -%}
           {%- assign image_size = '370x' -%}
        {%- else -%}
           {%- assign image_size = '620x' -%}
        {%- endif -%}  
      {%- when '4' -%}
        {%- assign gl_colum_width = 'col-xs-6 col-sm-4 col-md-3' -%}
        {%- if section.settings.row_stretch == 'default' or section.settings.row_stretch == 'stretch_row' -%}
           {%- assign image_size = '263x' -%}
        {%- else -%}
           {%- assign image_size = '500x' -%}
        {%- endif -%}
     {%- when '6' -%}
        {%- assign gl_colum_width = 'col-xs-6 col-sm-4 col-md-2' -%}
        {%- if section.settings.row_stretch == 'default' or section.settings.row_stretch == 'stretch_row' -%}
           {%- assign image_size = '165x' -%}
        {%- else -%}
           {%- assign image_size = '300x' -%}
        {%- endif -%}
  {%- endcase -%}
  {%- case section.settings.products_hover -%}
      {%- when 'base' -%}
        {%- assign gl_include = 'section_loop_product_base' -%} 
      {%- when 'alt' -%}
        {%- assign gl_include = 'section_loop_product_alt' -%}
      {%- when 'button' -%}
        {%- assign gl_include = 'section_loop_product_button' -%}
     {%- when 'info' -%}
        {%- assign gl_include = 'section_loop_product_info' -%}
     {%- when 'link' -%}
        {%- assign gl_include = 'section_loop_product_link' -%}
     {%- when 'standard' -%}
        {%- assign gl_include = 'section_loop_product_standard' -%}
     {%- when 'excerpt' -%}
        {%- assign gl_include = 'section_loop_product_excerpt' -%}
     {%- when 'quick' -%}
        {%- assign gl_include = 'section_loop_product_quick' -%}
  {%- endcase -%}
  {%- assign loop_countdown = section.settings.loop_sale_countdown -%}
  {%- case section.settings.countdown_style -%}
      {%- when 'light' -%}
        {%- assign countdown_style = 'color-scheme-dark timer-size-small timer-style-standard' -%} 
      {%- when 'dark' -%}
        {%- assign countdown_style = 'color-scheme-light timer-size-small timer-style-standard' -%}
      {%- when 'transparent_1' -%}
        {%- assign countdown_style = 'color-scheme-light timer-size-small timer-style-transparent' -%}
     {%- when 'transparent_2' -%}
        {%- assign countdown_style = 'color-scheme-dark timer-size-small timer-style-transparent' -%}
  {%- endcase -%}
  {%- if section.settings.sale_countdown -%}
     {%- assign section_settings_countdown = true -%}
  {%- else -%}
     {%- assign section_settings_countdown = false -%}
  {%- endif -%}
  {%- if section.settings.shop_image_size != blank -%}
   {%- assign section_settings_crop_img = section.settings.shop_image_size -%}
{%- assign crop_nt = section.settings.shop_image_size -%}
{%- else -%}
   {%- assign section_settings_crop_img = 'none' -%}
{%- endif -%}
  {%- if section.settings.section_margin_top != blank or section.settings.section_margin_bottom != blank or section.settings.section_border != blank -%}
  {%- assign s_margin_top = section.settings.section_margin_top | remove: ' ' | join: ' ' -%}
  {%- assign s_margin_bottom = section.settings.section_margin_bottom | remove: ' ' | join: ' ' -%}
  {%- assign s_border = section.settings.section_border | remove: ' ' | split: '-' | join: ' ' -%}
  {%- endif -%}
  {%- capture style_block_section -%}
     {%- if section.settings.section_margin_top != blank or section.settings.section_margin_bottom != blank or section.settings.section_padding_top != blank or section.settings.section_padding_right != blank or section.settings.section_padding_left != blank or section.settings.section_padding_bottom != blank or section.settings.section_bg_color != blank or section.settings.section_bg_image != blank or section.settings.section_border != blank -%}
     <style type="text/css">.gl_custom_{{section.id}}{ {%- if section.settings.section_margin_top != blank -%} margin-top: {{s_margin_top}} !important;{%- endif -%}{%- if section.settings.section_margin_bottom != blank -%} margin-bottom: {{s_margin_bottom}} !important;{%- endif -%}{%- if section.settings.section_padding_top != blank -%}padding-top: {{section.settings.section_padding_top}} !important;{%- endif-%}{%- if section.settings.section_padding_right != blank -%}padding-right: {{section.settings.section_padding_right}} !important;{%- endif-%}{%- if section.settings.section_padding_bottom != blank -%}padding-bottom: {{section.settings.section_padding_bottom}} !important;{%- endif-%}{%- if section.settings.section_padding_left != blank -%}padding-left: {{section.settings.section_padding_left}} !important; {%- endif -%}{%- if section.settings.section_bg_color != blank -%}background-color: {{ section.settings.section_bg_color }} !important;{%- endif -%}{%- if section.settings.section_bg_image != blank -%}{%- assign image = section.settings.section_bg_image -%}{%- assign image_size = image.width | append:'x' -%} background-image: url({%-include 'gl_image_format',src: image , size: image_size -%}) !important; background-position: center !important; background-repeat: no-repeat !important; background-size: cover !important;{%- endif -%}{%- if section.settings.section_border != blank and section.settings.section_border_color != blank -%}border-width: {{ s_border }} !important; border-color: {{section.settings.section_border_color}} !important; border-style: {{section.settings.section_border_style}} !important{%- endif -%} }</style>
     {%- endif -%}
  {%- endcapture -%}
  {%- capture data_section -%}
    {%- if section.settings.row_stretch == 'stretch_row' -%}
     {%- assign class_has_fill = 'gl_row-has-fill' -%}
     data-gl='has_section_gl_js' data-gl-full-width='true' data-gl-full-width-init='true'
    {%- elsif section.settings.row_stretch == 'stretch_row_content' or section.settings.row_stretch == 'stretch_row_content_no_spaces' -%}
     {%- assign class_has_fill = 'gl_row-has-fill' -%}
     data-gl='has_section_gl_js' data-gl-full-width='true' data-gl-full-width-init='true' data-gl-stretch-content='true'
    {%- else -%}
    {%- assign class_has_fill = '' -%}
    {%- endif -%}
  {%- endcapture -%}
  {{style_block_section}}
  {%- assign current_page = '1' -%}
     {%- paginate collection.products by paginate_index -%}
     <div {{ data_section }} data-section-id="{{ section.id }}" data-section-type="gird-collection-section" {%- if section.settings.use_video and section.settings.video_url != blank %} data-gl-video-bg="{{ section.settings.video_url }}"{%- endif %} class="gl_custom_{{section.id}} featured-collection{%- if section.settings.row_stretch == 'stretch_row_content_no_spaces' %} gl_row-no-padding{%- endif %}{%- if section.settings.use_parallax %} basel-parallax{%- endif %} gl_row spb_row gl_row-fluid {{class_has_fill}} {%- if section.settings.use_video and section.settings.video_url != blank %} opacity-video-bg gl_video-bg-container gl_has_youtube{%- endif %}{%- if section.settings.full_height %} gl_row-o-full-height gl_row-o-columns-{{section.settings.columns_position}}{%- endif %}{%- if section.settings.equal_height %} gl_row-o-equal-height{%- endif -%}">
        <div class="spb_column gl_column_container gl_col-sm-12"> <div class="gl_column-inner"> <div class="spb_wrapper"> {%- comment -%} By default, featured products come from your Frontpage collection. This collection is empty by default and must have products added to it {%- endcomment -%} <div class="basel-products-element"> {%- if use_pagination == 'arrows' -%}<div class="basel-products-loader"></div>{%- endif -%} <div class="products elements-grid row basel-products-holder {{ settings_pagination }} {{ settings_grid }} grid-columns-{{ section.settings.grid_columns }}"> {%- for product in collection.products -%} {%- include gl_include -%} {%- unless use_pagination == 'more-btn-masonry' -%} {%- cycle '', '<div class="clearfix visible-xs-block"></div>' -%} {%- cycle '','','<div class="clearfix clearfix visible-sm-block"></div>' -%} {%- case section.settings.grid_columns -%} {%- when '2' -%} {%- cycle '','<div class="clearfix visible-md-block visible-lg-block"></div>' -%} {%- when '3' -%} {%- cycle '','','<div class="clearfix visible-md-block visible-lg-block"></div>' -%} {%- when '4' -%} {%- cycle '','','','<div class="clearfix visible-md-block visible-lg-block"></div>' -%} {%- when '6' -%} {%- cycle '','','','','','<div class="clearfix visible-md-block visible-lg-block"></div>' -%} {%- endcase -%} {%- endunless -%} {%- else -%} {%- comment -%} If collection is empty, show onboarding state For onboarding new users to your theme, we add some default products and onboarding tutorials to help populate their store {%- endcomment -%} {%- assign home_onboarding_index = 1 -%} {%- for i in (1..8) -%} {%- case i -%} {%- when 7 -%} {%- assign home_onboarding_index = 1 -%} {%- when 8 -%} {%- assign home_onboarding_index = 2 -%} {%- endcase -%} <div class="product-grid-item product basel-hover-alt col-xs-6 col-sm-4 col-md-3"> <div class="product-element-top"> <a href="/admin/products"> {{ 'product-' | append: home_onboarding_index | placeholder_svg_tag: 'product-item__image icon icon--placeholder' }} </a> </div> <h3 class="product-title"><a href="/admin/products">{{ 'homepage.onboarding.product_title' | t }}</a></h3> <div class="wrap-price"> <div class="wrapp-swap"> <div class="swap-elements"> <span class="price">£219.00</span> <div class="btn-add"><a href="/admin/products" class="button add_to_cart_button">{{ 'products.product.add_to_cart' | t }}</a></div> </div> </div> </div> </div> {%- assign home_onboarding_index = home_onboarding_index | plus: 1 -%} {%- endfor -%} {%- endfor -%} </div> {%- if paginate.pages > 1 -%} <div class="products-footer"> {%- if use_pagination == 'arrows' -%} {%- if paginate.previous.is_link -%} {%- assign previous_url = paginate.previous.url | split: '?' | last -%} <a href="{{ collection.url }}?{{ previous_url }}&q=paginate_{{paginate_index}}+hover_{{ section.settings.products_hover }}+columns_{{ section.settings.grid_columns }}+countdown_{{ section_settings_countdown }}+stylec_{{ section.settings.countdown_style }}+pagination_{{ use_pagination }}+glrow_{{ section.settings.row_stretch }}+loop_countdown_{{ loop_countdown }}+crop_{{section_settings_crop_img}}&view=ajax" class="btn basel-products-load-prev">Load previous products</a> {%- else -%} <a href="javascript:void(0);" class="btn basel-products-load-prev disabled">Load previous products</a> {%- endif -%} {%- if paginate.next.is_link -%} {%- assign next_url = paginate.next.url | split: '?' | last -%} <a href="{{ collection.url }}?{{ next_url }}&q=paginate_{{paginate_index}}+hover_{{ section.settings.products_hover }}+columns_{{ section.settings.grid_columns }}+countdown_{{ section_settings_countdown }}+stylec_{{ section.settings.countdown_style }}+pagination_{{ use_pagination }}+glrow_{{ section.settings.row_stretch }}+loop_countdown_{{ loop_countdown }}+crop_{{section_settings_crop_img}}&view=ajax" class="btn basel-products-load-next">Load next products</a> {%- else -%} <a href="javascript:void(0);" class="btn basel-products-load-prev next">Load next products</a> {%- endif -%} {%- elsif use_pagination == 'more-btn-masonry' or use_pagination == 'more-btn' -%} {%- assign next_url = paginate.next.url | split: '?' | last -%} <a href="{{ collection.url }}?{{ next_url }}&q=paginate_{{paginate_index}}+hover_{{ section.settings.products_hover }}+columns_{{ section.settings.grid_columns }}+countdown_{{ section_settings_countdown }}+stylec_{{ section.settings.countdown_style }}+pagination_{{ use_pagination }}+glrow_{{ section.settings.row_stretch }}+loop_countdown_{{ loop_countdown }}+crop_{{section_settings_crop_img}}&view=ajax" class="btn basel-products-load-more" >{{ 'sections.product_gird_carousel.load_more' | t }}</a> {%- endif -%} </div> {%- endif -%} </div> {%- if collection != blank and use_pagination == 'view-all' and paginate_index < paginate.items -%}<p style="text-align: center; margin-bottom: 35px"><a href="{{ collection.url }}" class="btn btn-color-primary btn-style-default btn-size-default">{{ 'sections.product_gird_carousel.view_all' | t }}</a></p>{%- endif -%} </div> </div> </div>
    </div>
     {%- endpaginate -%}
     {%- unless section.settings.row_stretch == 'default' -%}
      <div class="gl_row-full-width gl_clearfix"></div>
    {%- endunless -%}
{%- endif -%}
{%- schema -%}
  {
    "name": "Featured collection",
    "class": "index-section gl-gird-collection-section",
    "settings": [{
        "type": "header",
        "content": "== Row Settings"
      },
      {
        "type": "select",
        "id": "row_stretch",
        "options": [
         {
            "value": "default",
            "label": "Default"
          },
         {
            "value": "stretch_row",
            "label": "Stretch row"
          },
          {
            "value": "stretch_row_content",
            "label": "Stretch row and content"
          },
          {
            "value": "stretch_row_content_no_spaces",
            "label": "Stretch row and content (no paddings)"
          }
        ],
        "label": "___ Row stretch",
        "info": "Select stretching options for row and content (Note: stretched may not work properly if parent container has 'overflow: hidden' CSS property).",
        "default": "default"
      },
      {
        "type": "header",
        "content": "== General Settings"
      },
      {
        "type": "collection",
        "id": "home_featured_products",
        "label": "___ Collection"
      },
      {
        "type": "text",
        "id": "paginate_index",
        "label": "___ Items per page ( integer )",
        "info": "Number of items to show per page.",
        "default": "8"
      },
      {
        "type": "select",
        "id": "use_pagination",
        "label": "___ Pagination",
        "default": "arrows",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "more-btn",
            "label": " Load more button"
          },
          {
            "value": "more-btn-masonry",
            "label": " Load more masonry"
          },
          {
            "value": "arrows",
            "label": "Arrows"
          },
          {
            "value": "view-all",
            "label": "View all products"
          }
        ]
      },
      {
        "type": "header",
        "content": "___ Columns Settings"
      },
      {
        "type": "select",
        "id": "grid_columns",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "6",
            "label": "6"
          }
        ],
        "label": "Columns",
        "default": "4",
        "info": "Columns"
      },
      {
        "type": "header",
        "content": "== Design Settings"
      },
      {
        "type": "select",
        "id": "products_hover",
        "label": "__ Products hover",
        "default": "alt",
        "options": [
          {
            "value": "base",
            "label": "Base"
          },
          {
            "value": "alt",
            "label": "Alternative"
          },
          {
            "value": "button",
            "label": "Show button on hover on image"
          },
          {
            "value": "info",
            "label": "Full info on hover"
          },
          {
            "value": "link",
            "label": "Button on hover"
          },
          {
            "value": "standard",
            "label": "Standard button"
          },
          {
            "value": "excerpt",
            "label": "With excerpt"
          },
          {
            "value": "quick",
            "label": "Quick shop"
          }
        ]
      },
      {
        "type": "text",
        "id": "shop_image_size",
        "label": "Image Size (optional)",
        "info": "Products may have different sizes 'width x height'",
        "placeholder": "300x200"
      },
      {
        "type": "paragraph",
        "content": "Products hover not support Image Second: Show button on hover on image, Full info on hover."
      },
      {
        "type": "checkbox",
        "id": "sale_countdown",
        "default": false,
        "label": "__ Use Sale countdown",
        "info": "Countdown to the end sale date will be shown. Be sure you have set final date of the product sale price. product.metafields.meta.countdown ( 2017/08/17 )"
      },
      {
        "type": "checkbox",
        "id": "loop_sale_countdown",
        "default": false,
        "label": "Use Auto Loop countdown"
      },
      {
        "type": "select",
        "id": "countdown_style",
        "label": "Countdown style",
        "default": "dark",
        "options": [
          {
            "value": "light",
            "label": "Countdown timer light"
          },
          {
            "value": "dark",
            "label": "Countdown timer dark"
          },
          {
            "value": "transparent_1",
            "label": "Countdown timer transparent 1"
          },
          {
            "value": "transparent_2",
            "label": "Countdown timer transparent 2"
          }
        ]
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background color"
      },
      {
        "type": "color",
        "id": "section_border_color",
        "label": "Border color"
      },
      {
        "type": "select",
        "id": "section_border_style",
        "options": [
         {
            "value": "solid",
            "label": "Solid"
          },
         {
            "value": "dotted",
            "label": "Dotted"
          },
          {
            "value": "dashed",
            "label": "Dashed"
          },
          {
            "value": "double",
            "label": "Double"
          },
          {
            "value": "groove",
            "label": "Groove"
          },
          {
            "value": "Ridge",
            "label": "Ridge"
          },
          {
            "value": "inset",
            "label": "Inset"
          },
          {
            "value": "outset",
            "label": "Outset"
          }
        ],
        "label": "Border style",
        "default": "solid"
      },
      {
        "type": "text",
        "id": "section_border",
        "label": "Borders Integer px ( top-right-bottom-left )",
        "info": "0-0-1px-0"
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_padding_top",
        "label": "Padding top",
        "info": "60px"
      },
{
        "type": "text",
        "id": "section_padding_right",
        "label": "Padding right",
        "info": "60px"
      },
{
        "type": "text",
        "id": "section_padding_bottom",
        "label": "Padding bottom",
        "info": "60px"
      },
{
        "type": "text",
        "id": "section_padding_left",
        "label": "Padding left",
        "info": "60px"
      },
      {
        "type": "header",
        "content": "== Basel Extras"
      },
      {
        "type": "checkbox",
        "id": "hidden_section",
        "label": "Disable Section?",
        "info": "If checked the section won't be visible on the public side of your website. You can switch it back any time.",
        "default": false
      }],
    "presets": [{
      "name": "Product Gird ( load more )",
      "category": "Collections"
    }]
  }
{% endschema %}
