<div class="maintenance-content container" role="main">
   <article id="post-951" class="post-951 page type-page status-publish hentry">
     <div class="entry-content">
         {%- if canonical_url contains 'maintenance-page-2' and section.settings.tea_revolution_sc != blank -%}
            {%- include 'shortcode' load: section.settings.tea_revolution_sc -%}
         {%- elsif section.settings.layout == '1' and section.settings.tea_revolution_sc != blank -%}
            {%- include 'shortcode' load: section.settings.tea_revolution_sc -%}
         {%- else -%}
       <style>@media (max-width: 767px) {h1.gl_custom_heading.gl_custom_1468876024276 {font-size: 40px !important}}</style>
           <div class="has_section_gl_js gl_row spb_row gl_row-fluid gl_custom_1487005023315 gl_row-has-fill gl_row-o-full-height gl_row-o-columns-middle gl_row-flex" data-gl-full-width="true" data-gl-full-width-init="true" style="background-image: url({%- if section.settings.section_bg_image != blank -%}{%-include 'gl_image_format',src: section.settings.section_bg_image , size: '2048x' -%}{%-else-%}{{ '1-red.jpg' | asset_url }}{%- endif -%});">
             <div class="spb_column gl_column_container gl_col-sm-7">
                <div class="gl_column-inner">
                   <div class="spb_wrapper color-scheme-{{ section.settings.banner_text_color }}">
                     {%- if section.settings.logo -%}
                     <a href="/" itemprop="url" class="site-header__logo-image">
                      {%- capture image_size -%}{{ section.settings.logo_max_width }}x{%- endcapture -%}
                      <img src="{{ section.settings.logo | img_url: image_size }}"
                           srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                           alt="{{ section.settings.logo.alt | default: shop.name }}"
                           itemprop="logo">
                     </a>
                     {%- endif -%}
                     {%- if section.settings.header != blank -%}
                      <h1 style="font-size: 72px;line-height: 1;text-align: left" class="gl_custom_heading gl_custom_1468876024276"><strong>{{ section.settings.header }}</strong></h1>
                      {%- endif -%}
                      {%- if section.settings.sub_header != blank -%}
                      <h2 style="font-size: 38px;color: #636363;text-align: left" class="gl_custom_heading gl_custom_1468876004160">{{section.settings.sub_header}}</h2>
                      {%- endif -%}
                      {%- if section.settings.sub_text != blank -%}
                      <div class="spb_text_column spb_content_element ">
                         <div class="spb_wrapper">
                            <p style="text-align: left; opacity: 0.7; font-size: 16px;">{{section.settings.sub_text}}</p>
                         </div>
                      </div>
                      {%- endif -%}
                      {%- if section.settings.show_countdown and section.settings.date != blank -%}
                          {%- if section.settings.sub_countdown != blank -%}
                         <h2 style="font-size: 20px;color: #606060;text-align: left" class="gl_custom_heading gl_custom_1468876143458">{{section.settings.sub_countdown}}</h2>
                         {%- endif -%}
                         <div class="basel-countdown-timer color-scheme-dark timer-align-left timer-size-medium timer-style-base">
                            <div class="basel-timer" data-end-date='{{ section.settings.date }}'></div>
                         </div>
                     {%- endif -%}
                     {%- if section.settings.social_newsletter -%}
                     <div class="gl_empty_space" style="height: 32px"><span class="gl_empty_space_inner"></span></div>
                     <div class="spb_text_column spb_content_element color-scheme-dark gl_mb_10">
                        <div class="spb_wrapper">
                         {%- include 'gl_form_newlester' -%}
                        </div>
                     </div>
                      {%- endif -%}
                      {%- if section.settings.show_use_pass -%}
                      <div class="gl_empty_space" style="height: 32px"><span class="gl_empty_space_inner"></span></div>
                      <a class="jas-wc-help open-popup-link btn btn-color-black btn-style-default btn-size-medium" href="#popup_basel">{{ 'general.password_page.password_link' | t }}</a>
                      {%- endif -%}
                      <div class="gl_empty_space" style="height: 32px"><span class="gl_empty_space_inner"></span></div>
                      {%- if section.settings.social_enabled -%}
                         {%- if section.settings.share_type == '1' -%}
                              {%- assign gl_follow_social = false -%}
                           {%- elsif section.settings.share_type == '2' -%}
                              {%- assign gl_follow_social = true -%}
                           {%- endif -%}
                         {%- include 'social-sharing',gl_text_align:'left' , gl_design:'icons-design-colored', gl_size:'icons-size-default', follow_social:gl_follow_social -%}
                     {%- endif -%}
                   </div>
                </div>
             </div>
             <div class="spb_column gl_column_container gl_col-sm-5">
                <div class="gl_column-inner ">
                   <div class="spb_wrapper"></div>
                </div>
             </div>
          </div>
          <div class="gl_row-full-width gl_clearfix"></div>
         {%- endif -%}
     </div>
   </article>
 </div>
 <div id="popup_basel" class="pass_gl white-popup add-to-cart-popup popup-added_to_cart mfp-hide">
    <div class="modal__inner">
      <div class="modal__centered password-modal__content page-width text-center">
        <p class="password__form-heading h4">{{ 'general.password_page.login_form_heading' | t }}</p>
          {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            <label for="password" class="label--hidden hide hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
            <div class="input-group password__input-group">
              <input type="password" name="password" id="Password" class="input-group__field input--content-color" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
              <span class="input-group__btn">
                <button type="submit" name="commit" class="btn btn-color-black btn-style-default btn-size-medium">
                  {{ 'general.password_page.login_form_submit' | t }}
                </button>
              </span>
            </div>
          {% endform %}
        <p class="text_password">{{ 'general.password_page.admin_link_html' | t }}</p>
      </div>
    </div>
  </div>
 {%- schema -%}
 {
  "name": "Coming soon",
  "settings":[
      {
       "type": "select",
       "id": "banner_text_color",
       "options": [
        {
           "value": "light",
           "label": "Light"
         },
         {
           "value": "dark",
           "label": "Dark"
         }
       ],
       "label": "Color Scheme",
       "default": "dark"
     },
      {
       "type": "radio",
       "id": "layout",
       "default": "2",
       "options": [
         {
           "value": "1",
           "label": "Design 1 (Slider Revolution)"
         },
         {
           "value": "2",
           "label": "Design 2"
         }
       ],
       "label": "Design"
     },
     {
        "type": "header",
        "content": "== Design 1"
      },
    {
      "type":"textarea",
      "id":"tea_revolution_sc",
      "label":"Tea Revolution Shortcode",
      "info":"Example: [shopify-slider-1046]"
    },
    {
        "type": "paragraph",
        "content": "You can easily add the slider to this theme by installing our free [Nitro Powerfull Slider Partner](https://partner.teathemes.net/signup) app."
      },
      {
        "type": "header",
        "content": "== Design 2"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Heading",
        "default": "MAINTENANCE"
      },
      {
        "type": "text",
        "id": "sub_header",
        "label": "Heading",
        "default": "NEW WEB-SITE COMING SOON..."
      },
      {
        "type": "text",
        "id": "sub_text",
        "label": "Heading",
        "default": "Condimentum ipsum a adipiscing hac consectetur urna commodo elit parturient a molestie ut nisl parturient convallier ullamcorper phasellus mus cubilia eget."
      },
      {
        "type": "checkbox",
        "id": "show_countdown",
        "label": "Show Countdown timer?",
        "default": true
      },
      {
        "type": "text",
        "id": "sub_countdown",
        "label": "Heading",
        "default": "New store we be launched in:"
      },
      {
        "type": "text",
        "id": "date",
        "label": "Date",
        "default": "2017/12/30",
        "info":"Final date in the format Y/m/d. For example 2017/12/12"
      },
      {
        "type": "checkbox",
        "id": "social_newsletter",
        "label": "Show newsletter?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "use_mailchimp",
        "label": "Use Mailchimp?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_use_pass",
        "label": "Show using password?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_enabled",
        "label": "Show social?",
        "default": true
      },
      {
        "type": "radio",
        "id": "share_type",
        "default":"2",
        "options": [
          {
            "value": "1",
            "label": "Share"
          },
          {
            "value": "2",
            "label": "Follow"
          }
        ],
        "label": "Share buttons type"
      },
      {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "image_picker",
        "id": "section_bg_image",
        "label": "Background Image"
      }
  ]
}
{% endschema %}