<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>
  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  <!-- Social meta ================================================== -->
  {% include 'social-meta-tags' %}
  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'fonts.min.css' | asset_url | stylesheet_tag }}  
  {{ 'style.css' | asset_url | stylesheet_tag }}   
  {{ 'owl-carousel.css' | asset_url | stylesheet_tag }}  
  {{ 'slick.scss.css' | asset_url | stylesheet_tag }}
  {{ 'slick-theme.css' | asset_url | stylesheet_tag }}
  {{ 'flex-slider.css' | asset_url | stylesheet_tag }}
  {{ 'magnific-popup.css' | asset_url | stylesheet_tag }} 
  {{ 'animate.css' | asset_url | stylesheet_tag }}

  {% if settings.base_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.base_font | remove: 'Google+' }}:300,300italic,400,600,400italic,600italic,700,700italic,800,800italic">
  {% endif %}
  {% if settings.header_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.header_font | remove: 'Google+' }}:300,300italic,400,600,400italic,600italic,700,700italic,800,800italic">
  {% endif %}
  {% if settings.other_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.other_font | remove: 'Google+' }}:300,300italic,400,600,400italic,600italic,700,700italic,800,800italic">
  {% endif %}


  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}
  <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>  
  {{ 'jquery-2.2.0.min.js' | asset_url | script_tag }}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script> 

  {{ 'jquery-cookie.min.js' | asset_url | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  {{ 'jquery.flexslider.min.js' | asset_url | script_tag }}

  {% if settings.use_sticky_header %}
  {{ 'jquery.sticky.js' | asset_url | script_tag }}  
  {% endif %}

  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
  {{ 'bootstrap.min.js' | asset_url | script_tag }} 

  {{ 'jquery.fitvid.js' | asset_url | script_tag }}
  {% if template contains 'product' or template contains 'article' %}
  <script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "4a467312-eb52-4e56-a80a-d5930e0afac4", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
  {% endif %}
  {% if settings.preloader_enable %}
  <script>
    // Wait for window load
    $(window).load(function() {		
      var loader = $( '.se-pre-con' );
      if ( loader.length ) {
        $( window ).on( 'beforeunload', function() {
          loader.fadeIn( 500, function() {
            loader.children().fadeIn( 100 )
          });
        });
        loader.fadeOut(1500 );
        loader.children().fadeOut();
      }

    });
  </script> 
  {% endif %}

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  {% if settings.preloader_enable %}<div class="se-pre-con"></div> {% endif %}
  <div id="PageContainer"></div>   
  <div class="quick-view"></div>         

  {% section 'header-model-5' %}

  <main class="main-content">  
    {% include 'breadcrumb' %} 
    {% unless template contains "index" or template contains "about"  %}
    <div class="wrapper">
      {% endunless %}
      {% unless template contains "index" or template contains "contact"  %}
      <div class="dt-sc-hr-invisible-large"></div>
      {% endunless %}

      <div class="grid__item">            
        {{ content_for_layout }}		          
      </div>        

      {% unless template contains "about" or template contains "index" or template contains "contact" %}
      <div class="dt-sc-hr-invisible-large"></div>
      {% endunless %}

      {% unless template contains "index" or template contains "about"  %}
    </div>
    {% endunless %} 
  </main>


  {% section 'footer-model-12' %}


  {{ 'timber.js' | asset_url | script_tag }}  
  {{ 'jquery.inview.js' | asset_url | script_tag }}
  {{ 'jquery-easing-1.3.js' | asset_url | script_tag }}   
  {{ 'theme.js' | asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}   
  {{ 'jquery.history.js' | asset_url | script_tag }}  
  {{ 'jquery.storageapi.min.js' | asset_url | script_tag }}  
  {{ 'smartalert.js' | asset_url | script_tag }}
  {{ 'shop.js' | asset_url | script_tag }}  
  {{ 'owl.carousel.min.js' | asset_url | script_tag }}
  {{ 'jquery-ui-totop.js' | asset_url | script_tag }}   
  {{ 'jquery.tabs.min.js' | asset_url | script_tag }}  
  {{ 'slick.js' | asset_url | script_tag }}

  {% if template contains 'article' or template contains 'product' %}
  {% if settings.social_sharing_blog or settings.social_sharing_products %}
  {{ 'social-buttons.js' | asset_url | script_tag }}
  {% endif %}
  {% endif %}


    
  

  <script>
    window.use_sticky = {{ settings.use_sticky_header }};
    window.ajax_cart = {{ settings.use_ajax_cart }};
    window.money_format = "{{shop.money_without_currency }}";
    window.shop_currency = "{{ shop.currency }}";
    window.show_multiple_currencies = {{settings.enable_multiple_currencies}};
    window.enable_sidebar_multiple_choice = true;
    window.loading_url = "{{ 'loading.gif' | asset_url}}";     
    window.dropdowncart_type = "hover";
    window.file_url = "{{''|file_url}}";
    window.asset_url = "{{''|asset_url}}";
    window.items="{{ 'cart.general.items' | t }}";
    window.many_in_stock="{{ 'products.product.many_in_stock' | t  }}";
    window.out_of_stock="{{ 'products.product.out_of_stock' | t  }}";
    window.in_stock="{{ 'products.product.in_stock' | t  }}";
    window.unavailable="{{ 'products.product.unavailable' | t  }}";
    window.product_name="{{ 'products.compare.product_name' | t  }}";
    window.product_image="{{ 'products.compare.product_image' | t  }}";
    window.product_desc="{{ 'products.compare.product_desc' | t  }}";
    window.available_stock="{{ 'products.compare.available_stock' | t  }}";
    window.unavailable_stock="{{ 'products.compare.unavailable_stock' | t  }}";
    window.compare_note="{{ 'products.compare.compare_note' | t  }}";
    window.added_to_cmp="{{ 'products.compare.added_to_cmp' | t  }}";
    window.add_to_cmp="{{ 'products.compare.add_to_cmp' | t  }}";
    window.select_options="{{ 'products.product.select_options' | t  }}";
    window.add_to_cart="{{ 'products.product.add_to_cart' | t  }}";
    window.confirm_box="{{ 'products.compare.confirm_box' | t  }}";
    window.cancelButtonText="{{ 'products.compare.cancelButtonText' | t  }}";
        window.remove="{{ 'cart.label.remove' | t  }}";

	var  compare_list = []; 
  </script>  

  {{ 'countdown.js' | asset_url | script_tag }}
  {{ 'jquery.elevatezoom.js' | asset_url | script_tag }}
  
  {% if settings.single_product_layout_type != 'layout_style_6' and settings.single_product_layout_type != 'layout_style_7' and settings.single_product_layout_type != 'layout_style_8' and settings.single_product_layout_type != 'layout_style_9'  %}
  {{ 'jquery.fancybox.js' | asset_url | script_tag }}
  {% endif %}
  
  
  {% include 'qmodal' %}
  {% include 'modal-compare' %} 
  {% include 'modal-box' %}
  {% include 'currencies' %}
  {% include 'newsletter' %}  
  {% if template contains 'index' %}
  {{ 'wow.js' | asset_url | script_tag }}  
  {% endif %}
  <script src="{{ 'classie.js' | asset_url }}"></script>
  <script src="{{ 'latest-products.js' | asset_url }}"></script>

<script>
  $('.qtyplus').click(function(e){
    e.preventDefault();
    var currentVal = parseInt($('input[name="quantity"]').val());
    if (!isNaN(currentVal)) {
      $('input[name="quantity"]').val(currentVal + 1);
    } else {
      $('input[name="quantity"]').val(1);
    }

  });

  $(".qtyminus").click(function(e) {

    e.preventDefault();
    var currentVal = parseInt($('input[name="quantity"]').val());
    if (!isNaN(currentVal) && currentVal > 0) {
      $('input[name="quantity"]').val(currentVal - 1);
    } else {
      $('input[name="quantity"]').val(1);
    }

  });
</script>
  
  
 <script type="text/javascript">
    $('.quick-view .close-window').click(function() {  			
	$('.quick-view').switchClass("open-in","open-out");
	});
</script>
  <script src="{{ 'uisearch.js' | asset_url }}"></script>
  
  {% if settings.display_recently_viewed_products %}
  {% if template contains 'product' %}
  <script>
  Shopify.Products.recordRecentlyViewed();
  </script>
  {% endif %}
  <!-- End Recently Viewed Products -->
    {% endif %}
  
   {{ 'magnific-popup.js' | asset_url | script_tag }}
   <script type="text/javascript">
  if ( $( '.p-video' ).length > 0 ) {
			$( '.jas-popup-url' ).magnificPopup({
				disableOn: 0,
				tLoading: '<div class="loader"><div class="loader-inner"></div></div>',
				type: 'iframe'
			});
		}
     </script>
  
{% if settings.product_style_1 == 'style_11' %}    
<script type="text/javascript">
jQuery(document).ready(function($) {
$('.product_gallery').slick({ 
  slidesToShow: 1,
  dots: false,
  arrows: true
});
});
</script>

  {% endif %}
   {% include 'suggest-products' %}  
<!-- BEEKETINGSCRIPT CODE START -->{% include 'bk-tracking' %}<!-- BEEKETINGSCRIPT CODE END --></body>
</html>


