{%- if use_mailchimp == blank -%}{%- assign use_mailchimp = false -%}{%- endif -%}
{%- if section.settings.use_mailchimp or block.settings.use_mailchimp or use_mailchimp -%}
   {%- if settings.newsletter_form_action != "" -%}
   <form id="mc4wp-form-{{block.id}}" class="mc4wp-form mc4wp-form-{{block.id}} mc4wp-form-basic" method="post" action="{{ settings.newsletter_form_action }}" target="_blank" data-id="{{block.id}}">
    <div class="mc4wp-form-fields">
      <p class="mailchimp-input-icon">
        <label>Email address: </label>
        <input type="email" name="EMAIL" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}" value="{%- if customer -%}{{ customer.email }}{%- endif -%}" required="">
      </p>
      <p>
        <input type="submit" value="{{ 'general.newsletter_form.submit' | t }}">
      </p>
      {%- if bottom -%}<div class="hidden hide"></div>{%- endif -%}
    </div>
   </form>
   {%- else -%}
   <div style="text-align: center;"><strong><em>Add newsletter redirect link in General / MailChimp form action URL</em></strong></div>
   {%- endif -%}
   {%- else -%}
   {%- form 'customer', class:'mc4wp-form' -%}
   <div class="mc4wp-form-fields">
    <p class="mailchimp-input-icon">
      <input type="hidden" name="contact[tags]" value="newsletter">
      <label>Email address: </label>
      <input type="email" name="contact[email]" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}" value="{%- if customer -%}{{ customer.email }}{%- endif -%}" required="">
    </p>
    <p>
      <input type="submit" value="{{ 'general.newsletter_form.submit' | t }}">
    </p>
    {%- if bottom -%}<div class="hidden hide"></div>{%- endif -%}
   </div>
   {%- if form.posted_successfully? -%}
   <div class="mc4wp-response"><div class="mc4wp-alert mc4wp-success">{{ 'contact.form.post_success' | t }}</div></div>
   {%- elsif form.errors -%}
   <div class="mc4wp-response"><div class="mc4wp-alert mc4wp-error">{{ form.errors | default_errors }}</div></div>
   {%- endif -%}
   {%- endform -%}
{%- endif -%}