<div class="maintenance-content container" role="main">
   <article id="post-951" class="post-951 page type-page status-publish hentry">
     <div class="entry-content">
         {%- if canonical_url contains 'maintenance-page-2' and settings.tea_revolution_sc_pass != blank -%}
            {%- include 'shortcode' load: settings.tea_revolution_sc_pass -%}
         {%- elsif settings.layout_pass == '1' and settings.tea_revolution_sc_pass != blank -%}
            {%- include 'shortcode' load: settings.tea_revolution_sc_pass -%}
         {%- else -%}
           <div class="has_section_gl_js gl_row spb_row gl_row-fluid gl_custom_1487005023315 gl_row-has-fill gl_row-o-full-height gl_row-o-columns-middle gl_row-flex" data-gl-full-width="true" data-gl-full-width-init="true" style="background-image: url({%- if settings.section_bg_image_pass != blank -%}{%- assign image = settings.section_bg_image_pass -%}{%- assign image_size = image.width | append:'x' -%}{%-include 'gl_image_format',src: image , size: image_size -%}{%-else-%}https://via.placeholder.com/1920x1000{%- endif -%})">
             <div class="spb_column gl_column_container gl_col-sm-7">
                <div class="gl_column-inner">
                   <div class="spb_wrapper color-scheme-{{ settings.banner_text_color_pass }}">
                     {%- if settings.logo_pass -%}
                     <a href="/" itemprop="url" class="site-header__logo-image">
                      {%- capture image_size -%}{{ settings.logo_max_width_pass }}x{%- endcapture -%}
                      <img src="{{ settings.logo_pass | img_url: image_size }}"
                           srcset="{{ settings.logo_pass | img_url: image_size }} 1x, {{ settings.logo_pass | img_url: image_size, scale: 2 }} 2x"
                           alt="{{ settings.logo_pass.alt | default: shop.name }}"
                           itemprop="logo">
                     </a>
                     {%- endif -%}
                     {%- if settings.header_pass != blank -%}
                      <h1 style="font-size: 72px;line-height: 1;text-align: left" class="hidden-xs gl_custom_heading gl_custom_1468876024276"><strong>{{ settings.header_pass }}</strong></h1>
                      <h1 style="font-size: 40px;line-height: 1;text-align: left" class="visible-xs gl_custom_heading gl_custom_1468876024276"><strong>{{ settings.header_pass }}</strong></h1>
                      {%- endif -%}
                      {%- if settings.sub_header_pass != blank -%}
                      <h2 style="font-size: 38px;color: #636363;text-align: left" class="gl_custom_heading gl_custom_1468876004160">{{settings.sub_header_pass}}</h2>
                      {%- endif -%}
                      {%- if settings.sub_text_pass != blank -%}
                      <div class="spb_text_column spb_content_element ">
                         <div class="spb_wrapper">
                            <p style="text-align: left; opacity: 0.7; font-size: 16px;">{{settings.sub_text_pass}}</p>
                         </div>
                      </div>
                      {%- endif -%}
                      {%- if settings.show_countdown_pass and settings.date_pass != blank -%}
                          {%- if settings.sub_countdown_pass != blank -%}
                         <h2 style="font-size: 20px;color: #606060;text-align: left" class="gl_custom_heading gl_custom_1468876143458">{{settings.sub_countdown_pass}}</h2>
                         {%- endif -%}
                         <div class="basel-countdown-timer color-scheme-dark timer-align-left timer-size-medium timer-style-base">
                            <div class="basel-timer" data-end-date='{{ settings.date_pass }}'></div>
                         </div>
                     {%- endif -%}
                     {%- if settings.social_newsletter_pass -%}
                     <div class="gl_empty_space" style="height: 32px"><span class="gl_empty_space_inner"></span></div>
                     <div class="spb_text_column spb_content_element color-scheme-dark gl_mb_10">
                        <div class="spb_wrapper">
                         {%- include 'gl_form_newlester',use_mailchimp:settings.use_mailchimp_pass -%}
                        </div>
                     </div>
                      {%- endif -%}
                      {%- if settings.show_use_pass -%}
                      <div class="gl_empty_space" style="height: 32px"><span class="gl_empty_space_inner"></span></div>
                      <a class="jas-wc-help open-popup-link btn btn-color-black btn-style-default btn-size-medium" href="#popup_basel">{{ 'general.password_page.password_link' | t }}</a>
                      {%- endif -%}
                      <div class="gl_empty_space" style="height: 32px"><span class="gl_empty_space_inner"></span></div>
                      {%- if settings.social_enabled_pass -%}
                         {%- if settings.share_type_pass == '1' -%}
                              {%- assign gl_follow_social = false -%}
                           {%- elsif settings.share_type_pass == '2' -%}
                              {%- assign gl_follow_social = true -%}
                           {%- endif -%}
                         {%- include 'social-sharing',gl_text_align:'left' , gl_design:'icons-design-colored', gl_size:'icons-size-default', follow_social:gl_follow_social -%}
                     {%- endif -%}
                   </div>
                </div>
             </div>
             <div class="spb_column gl_column_container gl_col-sm-5">
                <div class="gl_column-inner ">
                   <div class="spb_wrapper"></div>
                </div>
             </div>
          </div>
          <div class="gl_row-full-width gl_clearfix"></div>
         {%- endif -%}
     </div>
   </article>
 </div>
 <div id="popup_basel" class="pass_gl white-popup add-to-cart-popup popup-added_to_cart mfp-hide">
    <div class="modal__inner">
      <div class="modal__centered password-modal__content page-width text-center">
        <p class="password__form-heading h4">{{ 'general.password_page.login_form_heading' | t }}</p>
          {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            <label for="password" class="label--hidden hide hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
            <div class="input-group password__input-group">
              <input type="password" name="password" id="Password" class="input-group__field input--content-color" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
              <span class="input-group__btn">
                <button type="submit" name="commit" class="btn btn-color-black btn-style-default btn-size-medium">
                  {{ 'general.password_page.login_form_submit' | t }}
                </button>
              </span>
            </div>
          {% endform %}
        <p class="text_password">{{ 'general.password_page.admin_link_html' | t }}</p>
      </div>
    </div>
  </div>