{%- include 'current_variant' -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
{%- unless image_size -%}
{%- assign image_size = '263x' -%}
{%- endunless -%}
{%- unless gl_colum_width -%}
{%- assign gl_colum_width = 'col-sm-4 col-md-3' -%}
{%- else -%}
{%- assign gl_colum_width = gl_colum_width | remove: "col-xs-6 " -%}
{%- endunless -%}
{%- assign gl_colum_mobile = ' ' -%}
{%- if gl_colum_width != 'col-galaxy' -%}{%- assign gl_colum_mobile = ' col-xs-6 ' -%}{%- endif -%}
{%- if settings.show_col_mobile -%}
{%- assign gl_colum_mobile = ' col-xs-12 ' -%}
{%- endif -%}
{%- include 'check_label_gl' -%}
{%- include 'check_color' -%}
{%- unless collection -%}
{%- assign collection = product.collections.last -%}
{%- endunless -%}
{%- if template contains 'collection' and current_tags.size > 0 and product.has_only_default_variant == false -%}
   {%- assign url_nt = current_variant.url -%}
{%- assign url_nt_bl = true -%}
{%- else -%}
{%- assign url_nt_bl = false -%}
   {%- assign url_nt = product.url -%}
{%- endif -%}
{%- if product.metafields.external and settings.catalog_mode == false -%}
  {%- assign check = product.metafields.external | first | last -%}
  {%- if check contains 'https:' or check  contains 'http:' -%}{%- assign check_external = true -%}{%-else-%}{%- assign check_external = false -%}{%-endif-%}
{%-endif-%}
<div class="product-grid-item product basel-hover-quick{{gl_colum_mobile}}{{ gl_colum_width }} purchasable{%- if sold_out %} outofstock{%- endif %}">
   <div class="product-element-top">
      {%- include 'product_element_image' -%}
      <div class="basel-buttons">
         {%- if settings.use_wishlist and pages['wishlist'].empty? != true -%} {%- include 'gl-wishlist-product' -%}{%- endif -%}
         <div class="clear"></div>
         {%- if settings.use_compare and pages['compare'].empty? != true -%}<div class="product-compare-button"><a href="#compare_popup" data-pid="{{product.handle}}_sp_{{product.id}}" class="compare button basel-tooltip" rel="nofollow"><span class="basel-tooltip-label">{{ 'sections.basel_tooltip.compare' | t }}</span>{{ 'sections.basel_tooltip.compare' | t }}</a></div>{%- endif -%}
         {%- if settings.use_quickview -%}<div class="quick-view"><a href="javascript void(0);" data-get="{{ url_nt | within: collection }}{%- if url_nt_bl -%}&{%- else %}/?{%- endif -%}view=quick_view" class="open-quick-view basel-tooltip"><span class="basel-tooltip-label">{{ 'sections.basel_tooltip.quick_view' | t }}</span>{{ 'sections.basel_tooltip.quick_view' | t }}</a></div>{%- endif -%}
      </div>
      {%- if settings.catalog_mode == false -%} 
      <div class="quick-shop-wrapper">
         <div class="quick-shop-close"><span>{{'sections.close_quick_shop' | t }}</span></div>
         {%- if linklists[product.handle].links.size == 0 -%}
         <div class="quick-shop-btn">
            {%- if product.variants.size > 1 and check_external == false -%}
               <a rel="nofollow" href="javascript void(0);" data-get="{{ url_nt }}{%- if url_nt_bl -%}&{%- else %}/?{%- endif -%}view=json" class="btn-quick-shop" data-handle="{{ product.handle }}" data-id="{{ product.id }}"><span>{{ 'products.product.quick_shop' | t }}</span></a>
            {%- elsif check_external == true -%}
               <a href="{{ check }}" rel="nofollow" class="button product_type_simple">{{ product.metafields.external | first | first }}</a>
            {%- else -%}
               {%- if sold_out -%}
               <a rel="nofollow" href="{{ url_nt | within: collection }}" class="button product_type_simple">{{'products.product.read_more'|t}}</a>
               {%- else -%}
               <a rel="nofollow" href="{{ url_nt | within: collection }}" data-pid="{{ product.variants.first.id}}" class="button product_type_simple add_to_cart_button ajax_add_to_cart">{{'products.product.add_to_cart'|t}}</a>
               {%- endif -%}
            {%- endif- %}
         </div>
         <div class="quick-shop-form" id="product-{{product.id}}"></div>
         {% else %}
         <div class="quick-shop-btn"><a class="button product_type_grouped" href="{{ url_nt | within: collection }}">{{ 'products.product.view' | t }}</a></div>
        {%- endif -%}
      </div>
      {%- endif -%}
   </div>
   {%- if settings.show_product_color and colour_count > 1 -%}
   <div class="swatches-wrapper">{%- include 'swatches_on_grid' -%}</div>
   {%- endif -%}
   <h3 class="product-title"><a href="{{ url_nt | within: collection }}">{{ product.title }}</a></h3>
   {%- if settings.show_product_rating -%}<div class="gl_star-rating"><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></div>{%- endif -%}
   <span class="price">
       {%- if product.price_varies -%}
       {{ product.price_min | money }} – {{ product.price_max | money }}
       {%- elsif on_sale -%}<del>{{ current_variant.compare_at_price  | money }}</del> <ins>{{ current_variant.price | money }}</ins>
       {%- else -%}
       {{ current_variant.price | money }}
       {%- endif -%}
    </span>
   {%- include 'basel_count_down' -%}
</div>