{%- unless gl_design -%}
{%- assign gl_design = 'icons-design-default' -%}
{%- endunless -%}
{%- unless gl_size -%}
{%- assign gl_size = 'icons-size-small' -%}
{%- endunless -%}
{%- unless gl_text_align -%}
{%- assign gl_text_align = 'center' -%}
{%- endunless -%}
{%- unless basel_tooltip -%}
{%- assign basel_tooltip = false -%}
{%- endunless -%}
{%- unless follow_social -%}
{%- assign follow_social = false -%}
{%- endunless -%}

{%- if template.name == 'article' or template.name == 'blog' or template.name == 'index' -%}
  {%- capture permalinkURL -%}{{ shop.url }}{{ article.url }}{%- endcapture -%}
  {%- capture shareTitle -%}{{ article.title | url_param_escape }}{%- endcapture -%}

{%- elsif template.name == 'product' -%}
  {%- capture permalinkURL -%}{{ shop.url }}{{ product.url }}{%- endcapture -%}
  {%- capture shareTitle -%}{{ product.title | url_param_escape }}{%- endcapture -%}

{%- elsif template.name == 'password' -%}
  {%- capture permalinkURL -%}{{ shop.url }}{%- endcapture -%}
  {%- capture shareTitle -%}{%- unless shop.description == blank -%}{{ shop.description | url_param_escape }}{%- else -%}{{ shop.name | url_param_escape }}{%- endunless -%}{%- endcapture -%}
{%- elsif template.name == 'index' -%}
  {%- capture permalinkURL -%}{{ shop.url }}{%- endcapture -%}
  {%- capture shareTitle -%}{%- unless shop.description == blank -%}{{ shop.description | url_param_escape }}{%- else -%}{{ shop.name | url_param_escape }}{%- endunless -%}{%- endcapture -%}
{%- elsif template.name == 'page' -%}
  {%- capture permalinkURL -%}{{ shop.url }}{{ page.url }}{%- endcapture -%}
  {%- capture shareTitle -%}{{ page.title | url_param_escape }}{%- endcapture -%}
{%- endif -%}
<ul class="social-icons text-{{gl_text_align}} social-share {{ gl_design }} {{ gl_size }}">
  {%- if follow_social == false -%}  
    {%- if settings.share_facebook -%}
     <li class="social-facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{ permalinkURL }}" target="_blank" class="{%- if basel_tooltip -%}basel-tooltip{%- endif -%}">{%- if basel_tooltip -%}<span class="basel-tooltip-label">{{ 'sections.basel_tooltip.facebook' | t }}</span>{%- endif -%}<i class="fa fa-facebook"></i>Facebook</a></li>
    {%- endif -%}
    {% if settings.share_twitter %}
     <li class="social-twitter"><a href="http://twitter.com/share?url={{ permalinkURL }}" target="_blank" class="{%- if basel_tooltip -%}basel-tooltip{%- endif -%}">{%- if basel_tooltip -%}<span class="basel-tooltip-label">{{ 'sections.basel_tooltip.twitter' | t }}</span>{%- endif -%}<i class="fa fa-twitter"></i>Twitter</a></li>
     {%- endif -%}
     {% if settings.share_google %}
     <li class="social-google"><a href="http://plus.google.com/share?url={{ permalinkURL }}" target="_blank" class="{%- if basel_tooltip -%}basel-tooltip{%- endif -%}">{%- if basel_tooltip -%}<span class="basel-tooltip-label">{{ 'sections.basel_tooltip.google' | t }}</span>{%- endif -%}<i class="fa fa-google-plus"></i>Google</a></li>
     {%- endif -%}
     {% if settings.share_email %}
     <li class="social-email"><a href="mailto:?subject=Check this {{ permalinkURL }}" target="_blank" class="{%- if basel_tooltip -%}basel-tooltip{%- endif -%}">{%- if basel_tooltip -%}<span class="basel-tooltip-label">{{ 'sections.basel_tooltip.email' | t }}</span>{%- endif -%}<i class="fa fa-envelope"></i>Email</a></li>
     {%- endif -%}
     {%- if product.featured_image or article.image -%}
        {%- if settings.share_pinterest -%}
        <li class="social-pinterest"><a href="http://pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media=http:{%- if template contains 'product' -%}{{ product | img_url: '1024x1024' }}{%- else -%}{{ article | img_url: '1024x1024' }}{%- endif -%}" target="_blank" class="{%- if basel_tooltip -%}basel-tooltip{%- endif -%}">{%- if basel_tooltip -%}<span class="basel-tooltip-label">{{ 'sections.basel_tooltip.pinterest' | t }}</span>{%- endif -%}<i class="fa fa-pinterest"></i>Pinterest</a></li>
        {%- endif -%}
        {%- if settings.share_tumblr -%}
           <li class="social-tumblr"><a data-content="http:{%- if template contains 'product' -%}{{ product | img_url: '1024x1024' }}{%- else -%}{{ article | img_url: '1024x1024' }}{%- endif -%}" href="//tumblr.com/widgets/share/tool?canonicalUrl={{ permalinkURL }}" target="_blank" class="{%- if basel_tooltip -%}basel-tooltip{%- endif -%}">{%- if basel_tooltip -%}<span class="basel-tooltip-label">{{ 'sections.basel_tooltip.tumblr' | t }}</span>{%- endif -%}<i class="fa fa-tumblr"></i>Tumblr</a></li>
        {%- endif -%}
      {%- endif -%}
  {%-else-%}
    {%- if settings.social_facebook_link != blank -%}<li class="social-facebook"><a href="{{ settings.social_facebook_link }}" target="_blank" class="{%- if basel_tooltip -%}basel-tooltip{%- endif -%}">{%- if basel_tooltip -%}<span class="basel-tooltip-label">{{ 'sections.basel_tooltip.facebook' | t }}</span>{%- endif -%}<i class="fa fa-facebook"></i>{{ 'sections.basel_tooltip.facebook' | t }}</a></li>{%-endif-%}
    {%- if settings.social_twitter_link != blank -%}<li class="social-twitter"><a href="{{ settings.social_twitter_link }}" target="_blank" class="{%- if basel_tooltip -%}basel-tooltip{%- endif -%}">{%- if basel_tooltip -%}<span class="basel-tooltip-label">{{ 'sections.basel_tooltip.twitter' | t }}</span>{%- endif -%}<i class="fa fa-twitter"></i>{{ 'sections.basel_tooltip.twitter' | t }}</a></li>{%-endif-%}
    {%- if settings.social_google_plus_link != blank -%}<li class="social-google"><a href="{{ settings.social_google_plus_link }}" target="_blank" class="{%- if basel_tooltip -%}basel-tooltip{%- endif -%}">{%- if basel_tooltip -%}<span class="basel-tooltip-label">{{ 'sections.basel_tooltip.google' | t }}</span>{%- endif -%}<i class="fa fa-google-plus"></i>{{ 'sections.basel_tooltip.google' | t }}</a></li>{%-endif-%}
    {%- if settings.social_pinterest_link != blank -%}<li class="social-pinterest"><a href="{{settings.social_pinterest_link}}" target="_blank" class="{%- if basel_tooltip -%}basel-tooltip{%- endif -%}">{%- if basel_tooltip -%}<span class="basel-tooltip-label">{{ 'sections.basel_tooltip.pinterest' | t }}</span>{%- endif -%}<i class="fa fa-pinterest"></i>{{ 'sections.basel_tooltip.pinterest' | t }}</a></li>{%-endif-%}
    {%- if settings.social_instagram_link != blank -%}<li class="social-instagram"><a href="{{ settings.social_instagram_link }}" target="_blank" class="{%- if basel_tooltip -%}basel-tooltip{%- endif -%}">{%- if basel_tooltip -%}<span class="basel-tooltip-label">{{ 'sections.basel_tooltip.instagram' | t }}</span>{%- endif -%}<i class="fa fa-instagram"></i>{{ 'sections.basel_tooltip.instagram' | t }}</a></li>{%-endif-%}
    {%- if settings.social_tumblr_link != blank -%}<li class="social-tumblr"><a href="{{ settings.social_tumblr_link }}" target="_blank" class="{%- if basel_tooltip -%}basel-tooltip{%- endif -%}">{%- if basel_tooltip -%}<span class="basel-tooltip-label">{{ 'sections.basel_tooltip.tumblr' | t }}</span>{%- endif -%}<i class="fa fa-tumblr"></i>{{ 'sections.basel_tooltip.tumblr' | t }}</a></li>{%-endif-%}
    {%- if settings.social_youtube_link != blank -%}<li class="social-youtube"><a href="{{ settings.social_youtube_link }}" target="_blank" class="{%- if basel_tooltip -%}basel-tooltip{%- endif -%}">{%- if basel_tooltip -%}<span class="basel-tooltip-label">{{ 'sections.basel_tooltip.youtube' | t }}</span>{%- endif -%}<i class="fa fa-youtube-play"></i>{{ 'sections.basel_tooltip.youtube' | t }}</a></li>{%-endif-%}
    {%- if settings.social_vimeo_link != blank -%}<li class="social-vimeo"><a href="{{ settings.social_vimeo_link }}" target="_blank" class="{%- if basel_tooltip -%}basel-tooltip{%- endif -%}">{%- if basel_tooltip -%}<span class="basel-tooltip-label">{{ 'sections.basel_tooltip.vimeo' | t }}</span>{%- endif -%}<i class="fa fa-vimeo"></i>{{ 'sections.basel_tooltip.vimeo' | t }}</a></li>{%-endif-%}
    {%- if settings.social_snapchat_link != blank -%}<li class="social-snapchat"><a href="{{ settings.social_snapchat_link }}" target="_blank" class="{%- if basel_tooltip -%}basel-tooltip{%- endif -%}">{%- if basel_tooltip -%}<span class="basel-tooltip-label">{{ 'sections.basel_tooltip.snapchat' | t }}</span>{%- endif -%}<i class="fa fa-snapchat"></i>{{ 'sections.basel_tooltip.snapchat' | t }}</a></li>{%-endif-%}
  {%-endif-%}
</ul>

