{% layout none %} 
<!DOCTYPE html>
<html> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/1195/7350/t/1/assets/fontawesome-iconpicker.min.css?14776044435245576982" rel="stylesheet" type="text/css" media="all" />
    <link href="//demo-rubbez.myshopify.com/services/assets/92857350/editor_asset/shortcode-helper.scss.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
    <div class="main-container page-wrapper page-shortcode">
      <div class="container">
        <div class="row">
          <div class="col-xs-12"> 
          </div>
          <div class="col-md-12">
            <button type="button" class="btn btn-info ribbon header-button"><h4><strong> <i class="glyphicon glyphicon-star-empty"></i> Shortcode generate tool Support for Shopify theme <i class="glyphicon glyphicon-star-empty"></i></strong></h4></button>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu hide hidden">
              <div class="list-group">

                <a href="#" class="list-group-item  text-center active">
                  <h4 class="glyphicon glyphicon-shopping-cart"></h4><br/>Product
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-picture"></h4><br/>Collections, Portfolio
                </a>
              </div>
            </div>
            <div class="col-xs-12 bhoechie-tab">
              <!-- flight section -->
              <div class="bhoechie-tab-content active">
                <form class="form-horizontal" id="form-product">
                  <div class="form-group">
                    <label for="inputTitle" class="col-sm-4 control-label">Title:</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="inputTitle" placeholder="SHOP THE LOOK" name="title">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputTitle" class="col-sm-4 control-label" >Title align: <span class="red required">*</span></label>
                    <div class="col-sm-8">
                      <select class="form-control" name="align">
                        <option value="left" selected="selected">left</option>
                         <option value="right">right</option>
                         <option value="center">center</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputTitle" class="col-sm-4 control-label">Total Number of products to show: <span class="red required">*</span></label>
                    <div class="col-sm-8">
                     <input type="number" step="1" min="1" name="limit" value="8" class="form-control" size="1" pattern="[0-9]*" inputmode="numeric" max="999">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputTitle" class="col-sm-4 control-label" >Slides per view: <span class="red required">*</span></label>
                    <div class="col-sm-8">
                      <select class="form-control" name="cols" >
                        <option value="1">1</option>
                        <option value="2"> 2</option>
                        <option value="3">3</option>
                         <option value="4" selected="selected">4</option>
                         <option value="5">5</option>
                        <option value="6"> 6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputTitle" class="col-sm-4 control-label" required >Collection to use :<span class="red required">*</span></label>
                    <div class="col-sm-8">
                      <select class="form-control" name="handle_collection" required>
                        <option value="">Select your collection</option>
                        {%- for collection in collections -%}
                        {%- if collection.products.size > 2 -%}
                        <option  value="{{collection.handle}}">{{collection.title}}</option>
                        {%- endif -%}
                        {%- endfor -%}
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                     <label for="inputTitle" class="col-sm-4 control-label" >Choose one of those hover effects for products: <span class="red required">*</span></label>
                    <div class="col-sm-8">
                      <select class="form-control" name="hover" >
                           <option value="base" selected="selected">Base</option>
                           <option value="alt">Alternative</option>
                           <option value="button">Show button on hover on image</option>
                           <option value="info">Full info on hover</option>
                           <option value="link">Button on hover</option>
                           <option value="standard">Standard button</option>
                           <option value="excerpt">With excerpt</option>
                            <option value="quick">Quick shop</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputTitle" class="col-sm-4 control-label">Hide pagination control? <span class="red required">*</span></label>
                    <div class="col-sm-8">
                      <select class="form-control" name="hide_pagination">
                        <option value="false"> false</option>
                         <option value="true" selected="selected">True</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputTitle" class="col-sm-4 control-label">Hide prev/next buttons? <span class="red required">*</span></label>
                    <div class="col-sm-8">
                      <select class="form-control" name="hide_buttons">
                        <option value="false"> false</option>
                         <option value="true" selected="selected">True</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputTitle" class="col-sm-4 control-label">Use Sale countdown: <span class="red required">*</span></label>
                    <div class="col-sm-8">
                      <select class="form-control" name="use_countdown">
                        <option value="false" selected="selected"> false</option>
                         <option value="true">True</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputTitle" class="col-sm-4 control-label">Use Auto Loop countdown: <span class="red required">*</span></label>
                    <div class="col-sm-8">
                      <select class="form-control" name="loop_countdown">
                        <option value="false" selected="selected"> false</option>
                         <option value="true">True</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                     <label for="inputTitle" class="col-sm-4 control-label" >Countdown style: <span class="red required">*</span></label>
                    <div class="col-sm-8">
                      <select class="form-control" name="collection_countdown_style">
                           <option value="light">Countdown timer light</option>
                           <option value="dark" selected="selected">Countdown timer dark</option>
                           <option value="transparent_1">Countdown timer transparent 1</option>
                           <option value="transparent_2">Countdown timer transparent 2</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputTitle" class="col-sm-4 control-label">View more button:</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="inputTitle" placeholder="if not use you can blank" name="btn_title">
                    </div>
                  </div>
                  <div class="form-group text-center">  
                    <h3>Demo layout:</h3> <hr>
                    <img class="preview-product" src="//cdn.shopify.com/s/files/1/1933/6253/files/lmFKb0v5R2WuAOdBM9N-Jg.jpg" class="img-thumbnail">
                  </div>
                  <div class="form-group">
                    <label for="">Result:</label>
                    <textarea class="form-control" rows="5" id="result-product"></textarea>
                    <div class="alert alert-success alert-dismissible fade in hidden-alert" role="alert">Now Copied to clipboard. Please paste to box shortcode to Blog post or Page content.</div>
                  </div>
                  <button type="button" class="btn btn-success btn-lg btn3d" id="generate-product"><span class="glyphicon glyphicon-send"></span> Generate </button>
                  <input type="reset" class="btn-lg btn3d btn btn-warning" value="Reset" style="width: 100%">
                </form>

              </div>
              <div class="bhoechie-tab-content">
                <h3>Shortcode Collections, Portfolio generate</h3>
                <form class="form-horizontal" id="form-collections">
                  <div class="form-group">
                    <label for="inputTitle" class="col-sm-4 control-label">Title (optional):<span class="red required">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="inputTitle" placeholder="collection product" name="title" required>
                    </div>
                  </div>
                  <div class="form-group">
                     <label for="inputTitle" class="col-sm-4 control-label" >Padding:</label>
                    <div class="col-sm-8">
                      <select class="form-control select-layout" name="padding">
                        <option value="10" selected="selected">10px</option>
                        <option value="15">15px</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                     <label for="inputTitle" class="col-sm-4 control-label" >Style:</label>
                    <div class="col-sm-8">
                      <select class="form-control select-layout" id="collection-preview" name="style">
                        <option value="style1" data-src="https://cdn.shopify.com/s/files/1/1674/8789/files/shortcode_3.jpg?9909620816668118006">Use Title</option>
                        <option  value="style2" data-src="https://cdn.shopify.com/s/files/1/1674/8789/files/Screenshot_4.jpg?2780926619585735727">No Title</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-6">
                      <label for="inputTitle" class="control-label">Link Image File Upload</label>
                    </div>
                    <div class="col-sm-6">
                      <label for="inputTitle" class="control-label">Image Title:</label>
                    </div>
                  </div> <hr>
                  {% for index  in (1..15) %}
                  <div class="form-group">
                    <div class="col-sm-6">
                      <input type="text" class="form-control"  placeholder="Link Image File Upload {{index}}" name="src{{index}}" >
                    </div>
                    <div class="col-sm-6">
                      <input type="text" class="form-control"  placeholder="Image Title {{index}}" name="link{{index}}" >
                    </div>
                  </div><hr>
                  {% endfor %}

                  <div class="form-group">  
                    <h3>Demo layout:</h3> <hr>
                    <img class="preview-collection" src="https://cdn.shopify.com/s/files/1/1674/8789/files/shortcode_3.jpg?9909620816668118006" class="img-thumbnail">
                  </div>
                  <div class="form-group">
                    <label for="">Result:</label>
                    <textarea class="form-control" rows="5" id="result-collections"></textarea>
                     <div class="alert alert-success alert-dismissible fade in hidden-alert" role="alert">Now Copied to clipboard. Please paste to box shortcode to Blog post or Page content.</div>
                  </div>
                  <button type="button" class="btn btn-success btn-lg btn3d" id="generate-collections"><span class="glyphicon glyphicon-send"></span> Generate </button>
                  <input type="reset" class="btn-lg btn3d btn btn-warning" value="Reset" style="width: 100%">
                </form>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
    <script src="//cdn.shopify.com/s/files/1/1195/7350/t/1/assets/jquery-1.11.3.min.js?14776044435245576982" type="text/javascript"></script>
    <script src="//cdn.shopify.com/s/files/1/1195/7350/t/1/assets/bootstrap.min.js?14776044435245576982" type="text/javascript"></script>
    <script src="//cdn.shopify.com/s/files/1/1195/7350/t/1/assets/fontawesome-iconpicker.min.js?14776044435245576982" type="text/javascript"></script>
    <script src="//cdn.shopify.com/s/files/1/1195/7350/t/1/assets/jquery-ui.js?14776044435245576982" type="text/javascript"></script>

    {{'shortcode-helper.js' | asset_url | script_tag }}
  </body>
</html>