<div class="main-page-wrapper">
   <!-- MAIN CONTENT AREA -->
   {%- include 'page_heading', page_title:page.title -%}
   <div class="container">
      <div class="row">
         <div class="site-content col-sm-12" role="main">
				<article id="post-{{page.id}}" class="post-{{page.id}} page type-page status-publish hentry">
					<div class="entry-content">
						<div data-gl-full-width="true" data-gl-full-width-init="true" data-gl-stretch-content="{%- if settings.general_layout == 'boxed' %}false{%- else -%}true{%- endif -%}" class="class_nt gl_row spb_row gl_row-fluid gl_row-no-padding" style="margin-bottom: 40px">
						   <div class="spb_column gl_column_container gl_col-sm-12">
						      <div class="gl_column-inner ">
						         <div class="spb_wrapper">
						            {{ page.content }}
						         </div>
						      </div>
						   </div>
						</div>
						<div class="gl_row-full-width gl_clearfix"></div>
					</div>
				</article>
			</div><!-- .site-content -->
      </div>
   </div>
</div>
<style>
  #post-{{page.id}} .class_nt{ padding: 0 50px}
  @media (max-width: 991px){
    #post-{{page.id}} .class_nt {
      padding: 0 15px
    }
  }
</style>
<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'js_cp_gl.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
<!--[if lte IE 9]><script src="{{ 'js_cp_gl.min.js' | asset_url }}"></script><![endif]-->