<div
  class="page__header"
  {% if settings.page_account_header_image %}
    style="background-image: url({{ settings.page_account_header_image | img_url: 'master' }});"
  {% endif %}
  >
  <div class="page-width">
    <header class="text-center">
      <h2 class="page__title">
        {{ 'customer.account.title' | t }}
      </h2>
      {% include 'breadcrumbs' %}
    </header>
  </div>
</div>

<div class="page__body">
  <div class="page-width">
      <div class="grid">
        <div class="grid__item one-whole medium-up--one-half">
          <div class="return-link-wrapper">
            <a href="/account">
              <i class="fa fa-long-arrow-left"></i>
              {{ 'customer.account.return' | t }}
            </a>
          </div>

          <button
            type="button"
            class="btn btn--sm address-new-toggle"
            >
            {{ 'customer.addresses.add_new' | t }}
          </button>

          <div id="AddressNewForm" class="hide form address-new-form-wrapper">
            {% form 'customer_address', customer.new_address %}
            <h3 class="address-form__title">
              {{ 'customer.addresses.add_new' | t }}
            </h3>

            <div class="grid">

              <div class="grid__item one-whole medium-up--one-half">
                <label for="AddressFirstNameNew">
                  {{ 'customer.addresses.first_name' | t }}
                </label>
                <input
                  type="text"
                  name="address[first_name]"
                  id="AddressFirstNameNew"
                  value="{{ form.first_name }}"
                  autocapitalize="words">
              </div>

              <div class="grid__item one-whole medium-up--one-half">
                <label for="AddressLastNameNew">
                  {{ 'customer.addresses.last_name' | t }}
                </label>
                <input
                  type="text"
                  name="address[last_name]"
                  id="AddressLastNameNew"
                  value="{{ form.last_name }}"
                  autocapitalize="words">
              </div>

              <div class="grid__item one-whole">
                <label for="AddressCompanyNew">
                  {{ 'customer.addresses.company' | t }}
                </label>
                <input
                  type="text"
                  name="address[company]"
                  id="AddressCompanyNew"
                  value="{{ form.company }}"
                  autocapitalize="words">
              </div>

              <div class="grid__item one-whole">
                <label for="AddressAddress1New">
                  {{ 'customer.addresses.address1' | t }}
                </label>
                <input
                  type="text"
                  name="address[address1]"
                  id="AddressAddress1New"
                  value="{{ form.address1 }}"
                  autocapitalize="words">
              </div>

              <div class="grid__item one-whole">
                <label for="AddressAddress2New">
                  {{ 'customer.addresses.address2' | t }}
                </label>
                <input
                  type="text"
                  name="address[address2]"
                  id="AddressAddress2New"
                  value="{{ form.address2 }}"
                  autocapitalize="words">
              </div>

              <div class="grid__item one-whole">
                <label for="AddressCityNew">
                  {{ 'customer.addresses.city' | t }}
                </label>
                <input
                  type="text"
                  name="address[city]"
                  id="AddressCityNew"
                  value="{{ form.city }}"
                  autocapitalize="words">
              </div>

              <div class="grid__item one-whole">
                <label for="AddressCountryNew">
                  {{ 'customer.addresses.country' | t }}
                </label>
                <select
                  name="address[country]"
                  id="AddressCountryNew"
                  class="select--address-form"
                  data-default="United States">
                  {{ country_option_tags }}
                </select>
              </div>

              <div class="grid__item one-whole">
                <div id="AddressProvinceContainerNew" style="display: none">
                  <label for="AddressProvinceNew">
                    {{ 'customer.addresses.province' | t }}
                  </label>
                  <select
                    name="address[province]"
                    id="AddressProvinceNew"
                    class="select--address-form"
                    data-default="{{ form.province }}">
                  </select>
                </div>
              </div>

              <div class="grid__item one-whole">
                <label for="AddressZipNew">
                  {{ 'customer.addresses.zip' | t }}
                </label>
                <input
                  type="text"
                  name="address[zip]"
                  id="AddressZipNew"
                  value="{{ form.zip }}"
                  autocapitalize="characters">
              </div>

              <div class="grid__item one-whole">
                <label for="AddressPhoneNew">
                  {{ 'customer.addresses.phone' | t }}
                </label>
                <input
                  type="tel"
                  name="address[phone]"
                  id="AddressPhoneNew"
                  value="{{ form.phone }}"
                  pattern="[0-9\-]*">
              </div>

              <div class="grid__item one-whole">
                <div class="checkbox--set-default checkbox-faker">
                  <label for="address_default_address_new">
                    {{ form.set_as_default_checkbox }}
                    <i class="fa fa-square-o"></i>
                    <span>&nbsp;{{ 'customer.addresses.set_default' | t }}</span>
                  </label>
                </div>
              </div>

              <div class="grid__item one-whole">
                <input
                  type="submit"
                  class="btn btn--sm"
                  value="{{ 'customer.addresses.add' | t }}">
                <button
                  type="button"
                  class="btn btn--sm address-new-toggle address--cancel"
                  >
                  {{ 'customer.addresses.cancel' | t }}
                </button>
              </div>

            </div>

            {% endform %}

          </div>
        </div>

        <div class="grid__item one-whole medium-up--one-half">
          {% paginate customer.addresses by 5 %}
          <h3 class="account__title">
            {{ 'customer.addresses.title' | t }}
          </h3>

          {% for address in customer.addresses %}

            <div class="address-wrapper">
              {% if address == customer.default_address %}
                <span class="address__default-text">
                  {{ 'customer.addresses.default' | t }}
                </span>
              {% endif %}
              <table class="table table--border">
                <tbody>
                  <tr class="responsive-table-row">
                    <td class="text-right">
                      {{ 'customer.account.name' | t }}
                    </td>
                    <td>
                      {{ address.name }}
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right">
                      {{ 'customer.account.email' | t }}
                    </td>
                    <td>
                      {{ customer.email }}
                    </td>
                  </tr>
                  {%- capture full_city_addr -%}
                    {{- address.city -}},&nbsp;
                    {%- if address.province_code != blank -%}
                      {{- address.province_code -}},&nbsp;
                    {%- endif -%}
                    {{- address.country -}}
                  {%- endcapture -%}

                  <tr>
                    <td class="text-right">
                      {{ 'customer.addresses.address1' | t }}
                    </td>
                    <td>
                      {{ address.address1 }}
                    </td>
                  </tr>
                  {% if address.address2 != "" %}
                    <tr>
                      <td class="text-right">
                        {{ 'customer.addresses.address2' | t }}
                      </td>
                      <td>
                        {{ address.address2 }}
                      </td>
                    </tr>
                  {% endif %}
                  <tr>
                    <td class="text-right">
                      {{ 'customer.addresses.country' | t }}
                    </td>
                    <td>
                      {{ full_city_addr }}
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right">
                      {{ 'customer.addresses.zip' | t }}
                    </td>
                    <td>
                      {{ address.zip }}
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right">
                      {{ 'customer.addresses.phone' | t }}
                    </td>
                    <td>
                      {{ address.phone }}
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="address__buttons">
                <button
                  type="button"
                  class="btn btn--sm address-edit-toggle"
                  data-form-id="{{ address.id }}"
                  >
                  {{ 'customer.addresses.edit' | t }}
                </button>
                <button
                  type="button"
                  class="btn btn--sm address-delete"
                  data-form-id="{{ address.id }}"
                  data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                  >
                  {{ 'customer.addresses.delete' | t }}
                </button>
              </div>

              <div id="EditAddress_{{ address.id }}" class="hide form address-edit-form-wrapper">
                {% form 'customer_address', address %}

                <h4 class="address-form__title">
                  {{ 'customer.addresses.edit_address' | t }}
                </h4>

                <div class="grid">
                  <div class="grid__item one-whole medium-up--one-half">
                    <label for="AddressFirstName_{{ form.id }}">
                      {{ 'customer.addresses.first_name' | t }}
                    </label>
                    <input
                      type="text"
                      name="address[first_name]"
                      id="AddressFirstName_{{ form.id }}"
                      value="{{ form.first_name }}"
                      autocapitalize="words">
                  </div>
                  <div class="grid__item one-whole medium-up--one-half">
                    <label for="AddressLastName_{{ form.id }}">
                      {{ 'customer.addresses.last_name' | t }}
                    </label>
                    <input
                      type="text"
                      name="address[last_name]"
                      id="AddressLastName_{{ form.id }}"
                      value="{{ form.last_name }}"
                      autocapitalize="words">
                  </div>
                  <div class="grid__item one-whole">
                    <label for="AddressCompany_{{ form.id }}">
                      {{ 'customer.addresses.company' | t }}
                    </label>
                    <input
                      type="text"
                      name="address[company]"
                      id="AddressCompany_{{ form.id }}"
                      value="{{ form.company }}"
                      autocapitalize="words">
                  </div>
                  <div class="grid__item one-whole">
                    <label for="AddressAddress1_{{ form.id }}">
                      {{ 'customer.addresses.address1' | t }}
                    </label>
                    <input
                      type="text"
                      name="address[address1]"
                      id="AddressAddress1_{{ form.id }}"
                      value="{{ form.address1 }}"
                      autocapitalize="words">
                  </div>
                  <div class="grid__item one-whole">
                    <label for="AddressAddress2_{{ form.id }}">
                      {{ 'customer.addresses.address2' | t }}
                    </label>
                    <input
                      type="text"
                      name="address[address2]"
                      id="AddressAddress2_{{ form.id }}"
                      value="{{ form.address2 }}"
                      autocapitalize="words">
                  </div>
                  <div class="grid__item one-whole">
                    <label for="AddressCity_{{ form.id }}">
                      {{ 'customer.addresses.city' | t }}
                    </label>
                    <input
                      type="text"
                      name="address[city]"
                      id="AddressCity_{{ form.id }}"
                      value="{{ form.city }}"
                      autocapitalize="words">
                  </div>
                  <div class="grid__item one-whole">
                    <label for="AddressCountry_{{ form.id }}">
                      {{ 'customer.addresses.country' | t }}
                    </label>
                    <select
                      name="address[country]"
                      id="AddressCountry_{{ form.id }}"
                      class="address-country-option select--address-form"
                      data-form-id="{{ form.id }}"
                      data-default="{{ form.country }}">
                      {{ country_option_tags }}
                    </select>
                  </div>
                  <div class="grid__item one-whole">
                    <div id="AddressProvinceContainer_{{ form.id }}" style="display: none">
                      <label for="AddressProvince_{{ form.id }}">
                        {{ 'customer.addresses.province' | t }}
                      </label>
                      <select
                        name="address[province]"
                        id="AddressProvince_{{ form.id }}"
                        class="select--address-form"
                        data-default="{{ form.province }}">
                      </select>
                    </div>
                  </div>
                  <div class="grid__item one-whole">
                    <label for="AddressZip_{{ form.id }}">
                      {{ 'customer.addresses.zip' | t }}
                    </label>
                    <input
                      type="text"
                      name="address[zip]"
                      id="AddressZip_{{ form.id }}"
                      value="{{ form.zip }}"
                      autocapitalize="characters">
                  </div>
                  <div class="grid__item one-whole">
                    <label for="AddressPhone_{{ form.id }}">
                      {{ 'customer.addresses.phone' | t }}
                    </label>
                    <input
                      type="tel"
                      name="address[phone]"
                      id="AddressPhone_{{ form.id }}"
                      value="{{ form.phone }}"
                      pattern="[0-9\-]*">
                  </div>
                  {% unless address == customer.default_address %}
                    <div class="grid__item one-whole">
                      <div class="checkbox--set-default checkbox-faker">
                        <label for="address_default_address_{{ form.id }}">
                          {{ form.set_as_default_checkbox }}
                          <i class="fa fa-square-o"></i>
                          <span>&nbsp;{{ 'customer.addresses.set_default' | t }}</span>
                        </label>
                      </div>
                    </div>
                  {% endunless %}
                  <div class="grid__item one-whole">
                    <input
                      type="submit"
                      class="btn btn--sm"
                      value="{{ 'customer.addresses.update' | t }}">
                    <button
                      type="button"
                      class="btn btn--sm address-edit-toggle address--cancel"
                      data-form-id="{{ form.id }}"
                      >
                      {{ 'customer.addresses.cancel' | t }}
                    </button>
                  </div>
                </div>

                {% endform %}
              </div>
            </div>
          {% endfor %}

          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}

          {% endpaginate %}
        </div>
      </div>
  </div>
</div>
