<div class="page__header" {% if settings.page_account_header_image %}style="background-image: url({{ settings.page_account_header_image | img_url: 'master' }});"{% endif %}>
  <div class="page-width">
    <header class="text-center">
      <h2 class="page__title">{{ 'customer.login.title' | t }}</h2>
      {% include 'breadcrumbs' %}
    </header>
  </div>
</div>

<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-sixth large-up--one-half large-up--push-one-quarter">
      <div class="text-center">

        <div class="form form-reset-password">
          {% form 'reset_customer_password' %}

            <h1>{{ 'customer.reset_password.title' | t }}</h1>

            <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

            {{ form.errors | default_errors }}

            <label for="ResetPassword" class="label-hidden">
              {{ 'customer.reset_password.password' | t }}
            </label>
            <input type="password"
              name="customer[password]"
              id="ResetPassword"
              class="{% if form.errors contains 'password' %}input-error{% endif %}"
              placeholder="{{ 'customer.reset_password.password' | t }}">

            <label for="PasswordConfirmation" class="label-hidden">
              {{ 'customer.reset_password.password_confirm' | t }}
            </label>
            <input type="password"
              name="customer[password_confirmation]"
              id="PasswordConfirmation"
              class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
              placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

            <input type="submit" class="btn" value="{{ 'customer.reset_password.submit' | t }}">
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>
