{% assign filterTitleList = ',' %}


<select name="SortTags" id="SortTags">
  <option value=""> {{ "collections.general.all_collections" | t }}</option>
  {% for tag in collection.all_tags %}

    {% assign splitedTag = tag | split: '-' %}
    {% assign filterTitle = splitedTag[1] %}
    {% assign filterName = splitedTag[2] %}

    {% if tag contains "filter-" %}

    {% capture compareFilterTitle %},{{ filterTitle }},{% endcapture %}

      {% unless filterTitleList contains compareFilterTitle %}
          </optgroup>
          <optgroup label="{{ filterTitle | capitalize}}">
          {% capture tempTitleList %}{{filterTitleList}}{{ filterTitle }},{% endcapture %}
          {% assign filterTitleList = tempTitleList %}
      {% endunless %}

      {% if current_tags contains tag %}
        <option value="{{ tag | handle }}" selected>{{ filterName }}</option>
      {% else %}
        <option value="{{ tag | handle }}">{{ filterName }}</option>
      {% endif %}

    {% endif %}

  {% endfor %}

  {% unless section.settings.hide_non_categorized %}

    <optgroup label="Other">
      {% for tag in collection.all_tags %}

        {% unless tag contains "deal-" or tag contains "filter-" or tag contains "countdown-" %}

          {% if current_tags contains tag %}
            <option value="{{ tag | handle }}" selected>{{ tag }}</option>
          {% else %}
            <option value="{{ tag | handle }}">{{ tag }}</option>
          {% endif %}
        {% endunless %}
      {% endfor %}
    </optgroup>

  {% endunless %}

</select>
<script>
  /* Product Tag Filters - Good for any number of filters on any type of collection pages */
  var collFilters = jQuery('#SortTags');
  collFilters.change(function() {
    var newTags = [];
    collFilters.each(function() {
      if (jQuery(this).val()) {
        newTags.push(jQuery(this).val());
      }
    });
    if (newTags.length) {
      var query = newTags.join('+');
      window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('tag', query);
    }
    else {
      {% if collection.handle %}
      window.location.href = '/collections/{{ collection.handle }}';
      {% elsif collection.products.first.type == collection.title %}
      window.location.href = '{{ collection.title | url_for_type }}';
      {% elsif collection.products.first.vendor == collection.title %}
      window.location.href = '{{ collection.title | url_for_vendor }}';
      {% endif %}
    }
  });
</script>
