<div class="collection-filter">
  <h3 class="collection-filter__title">{{ 'collections.sorting.title' | t }}:</h3>
  <ul class="collection-filter__items no-bullets">
    <li>
      <a href="?sort_by=manual">{{ 'collections.sorting.featured' | t }}</a>
    </li>
    <li>
      <a href="?sort_by=best-selling">{{ 'collections.sorting.best_selling' | t }}</a>
    </li>
    <li>
      <a href="?sort_by=title-ascending">{{ 'collections.sorting.az' | t }}</a>
    </li>
    <li>
      <a href="?sort_by=title-descending">{{ 'collections.sorting.za' | t }}</a>
    </li>
    <li>
      <a href="?sort_by=price-ascending">{{ 'collections.sorting.price_ascending' | t }}</a>
    </li>
    <li>
      <a href="?sort_by=price-descending">{{ 'collections.sorting.price_descending' | t }}</a>
    </li>
    <li>
      <a href="?sort_by=created-descending">{{ 'collections.sorting.date_descending' | t }}</a>
    </li>
    <li>
      <a href="?sort_by=created-ascending">{{ 'collections.sorting.date_ascending' | t }}</a>
    </li>
  </ul>
</div>
