<div id="DesktopNavDrawer" class="drawer drawer--desktop-left">
  <div class="drawer__header">
    <div class="drawer__title h3">{{ 'layout.drawers.browse' | t }}</div>
    <div class="drawer__close js-drawer-close">
      <button type="button" class="icon-fallback-text">
        <span class="icon icon-x" aria-hidden="true"></span>
        <span class="fallback-text">{{ 'layout.drawers.close_menu' | t }}</span>
      </button>
    </div>
  </div>
  <!-- begin mobile-nav -->
  <div class="mobileMenu">
    <ul class="mobile-nav">
      {% for link in linklists.main-menu.links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <li>
            <span>{{ link.title }}</span>
            <ul>
              {% for childlink in linklists[child_list_handle].links %}
                {% assign grandchild_list_handle = childlink.title | handleize %}
                {% if linklists[grandchild_list_handle].links != blank %}
                  <li>
                    <span>{{ childlink.title }}</span>
                    <ul>
                      {% for grandchildlink in linklists[grandchild_list_handle].links %}
                        <li>
                          <a href="{{ grandchildlink.url }}">{{ grandchildlink.title | escape }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li>
                    <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}

    </ul>
  </div>
</div>
