<div class="product-images__image grid__item one-whole">
  <ul class="no-bullets js-product-image" data-arrows="{{ section.settings.gallery_arrows }}">
    {% for image in product.images %}
      {% if section.settings.display_banner  %}
        {% unless forloop.index == product.images.size %}
        <li>
          {% if image.alt contains 'youtube' %}
            {% include 'product-video-embed' %}
          {% else %}
          <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" data-original="{{ image.src | img_url: 'original' }}" data-zoom-type="{{ section.settings.gallery_zoom_type }}">
          {% endif %}
        </li>
        {% endunless %}
      {% else %}
        <li>
          {% if image.alt contains 'youtube' %}
            {% include 'product-video-embed' %}
          {% else %}
          <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" data-original="{{ image.src | img_url: 'original' }}" data-zoom-type="{{ section.settings.gallery_zoom_type }}">
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
<div class="product-images__thumbs grid__item one-whole">
  <ul class="no-bullets js-product-thumbs product-thumbs--horizontal" data-arrows="{{ section.settings.thumbs_arrows }}" data-vertical="false">
    {% for image in product.images %}
      {% if section.settings.display_banner   %}
        {% unless forloop.index == product.images.size %}
        <li>
          <div class="thumb-overlay"><!-- product page image -->
            <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}" data-id="{{ image.id }}">
          </div>
        </li>
        {% endunless %}
      {% else %}
        <li>
          <div class="thumb-overlay"><!-- product page image -->
            <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}" data-id="{{ image.id }}">
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
