{% if menu_type == "text-menu" %}

  {% assign li_width = 250 %}



  <ul class="sf-menu sf-js-enabled sf-arrows {% if linklists.main-menu.links.size >= 5 %}sf-menu-shrink-2x{% else if linklists.main-menu.links.size >= 4 %}sf-menu-shrink{% endif %}">
    {% for link in linklists.main-menu.links %}
      {% assign child_list_handle = link.title | handleize %}
      {% if forloop.index <= 5 %}
        {% if linklists[child_list_handle].links != blank %}
          <li{% if link.active %} class="current"{% endif %}>
            <a href="{{ link.url }}" class="sf-with-ul">{{ link.title }}</a>

            <ul style="display: none;  width: {% if  linklists[child_list_handle].links.size > 6 %} {{ li_width | times: section.settings.submenu_columns }}px; {% else %} {{ li_width }}px; {% endif %}">
              {% for childlink in linklists[child_list_handle].links %}
                {% assign grandchild_list_handle = childlink.title | handleize %}
                {% if linklists[grandchild_list_handle].links != blank %}
                  <li{% if childlink.active %} class="current"{% endif %}>
                    <a href="{{ childlink.url }}" class="sf-with-ul">{{ childlink.title }}</a>
                    <ul>
                      {% for grandchildlink in linklists[grandchild_list_handle].links %}
                        <li{% if grandchildlink.active %} class="current"{% endif %}>
                          <a href="{{ grandchildlink.url }}">{{ grandchildlink.title | escape }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li{% if childlink.active %} class="current"{% endif %}>
                    <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li{% if link.active %} class="current"{% endif %}>
            {% comment %}
            <a href="{{ link.url }}">{{ link.title | truncate: 18, "" }} {% if link.title.size >= 18 %}<div class="dimmer"></div>{% endif %}</a>
            {% endcomment %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if linklists.main-menu.links.size > 5 %}
    <li style="box-sizing: border-box; " >
      <a href="#" class="js-drawer-open-desktop-left" style="color: rgba(0, 0, 0, 0.50); ">more <i class="fa fa-bars" aria-hidden="true"></i></a>
    </li>
    {% endif %}

  </ul>

{% else %}
  <ul class="cbp-hsmenu  {% if linklists.main-menu.links.size >= 5 %}sf-menu-shrink-2x{% else if linklists.main-menu.links.size >= 4 %}sf-menu-shrink{% endif %}">
    {% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if forloop.index <= 5 %}

    {% if linklists[child_list_handle].links != blank %}
    <li{% if link.active %} class="current"{% endif %}>
      <a href="{{ link.url }}">{{ link.title | truncate: 10 }} etst</a>
      <ul class="cbp-hssubmenu">
        {% for childlink in linklists[child_list_handle].links %}
          {% if childlink.type == "product_link" %}
          <li class="product-menu__item">
            <a href="{{ childlink.url }}" alt="{{ childlink.title | escape }}">
              <span class="content-img">
                <img class="product-menu__item-image" src="{{ childlink.object.featured_image | img_url: 'x160' }}" alt="{{ childlink.object.title }}">
              </span>
              <div class="product-menu__item-info">
                {{ childlink.title | escape }} <br>
                {% if section.settings.display_product_price %}
                  {%- assign money_price = childlink.object.price | money -%}
                  {% if childlink.object.compare_at_price > childlink.object.price %}
                    <s class="product-price__old">{{ childlink.object.compare_at_price | money }}</s>
                    <strong class="product-price__sale">{{ money_price }}</strong>
                  {% else %}
                    {{ money_price }}
                  {% endif %}
                {% endif %}
              </div>
            </a>
          </li>
          {% elsif childlink.type == "collection_link" %}
          <li>
            <a href="{{ childlink.url }}" alt="{{ childlink.title | escape }}">
              <img src="{{ childlink.object.image | img_url: '160x' }}" alt="{{ childlink.object.title }}">
              <span>{{ childlink.title | escape }}</span>
            </a>
          </li>
          {% else %}
          <li>
            <a href="{{ childlink.url }}"><span>{{ childlink.title | escape }}</span></a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    {% else %}
    <li{% if link.active %} class="current"{% endif %}>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}

    {% if linklists.main-menu.links.size > 5 %}
      <li style="border-bottom: 5px solid rgba(0, 0, 0, 0.10); box-sizing: border-box; " >
        <a href="#" class="js-drawer-open-desktop-left" style="color: rgba(0, 0, 0, 0.50); ">more <i class="fa fa-bars" aria-hidden="true"></i></a>
      </li>
    {% endif %}

  </ul>
{% endif %}
