
{% unless section.settings.display_banner_product_title %}
<div class="product-info__title">
  {% if featured_product_section %}
    <h3><a href="{{ product_url }}">{{ product.title }}</a></h3>
  {% else %}
    <h3 itemprop="name">{{ product.title }}</h3>
  {% endif %}
</div>
{% endunless %}

{% if settings.app_product_reviews_enabled != blank %}
  {% if settings.app_product_reviews_enabled == "product_reviews" %}
    <a href="#" class="open-reviews-tab">
      <div class="product-rating">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>
    </a>
  {% elsif settings.app_product_reviews_enabled == "loox_reviews" %}
      <div class="product-rating">
        <a href="#" class="open-reviews-tab">
          <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
        </a>
      </div>
  {% elsif settings.app_product_reviews_enabled == "yotpo_reviews" %}
    <a href="#" class="open-reviews-tab">
      <div class="product-rating">
        <div class="yotpo bottomLine"
             data-appkey="{{ settings.yotpo_app_key }}"
             data-domain="{{shop.permanent_domain | escape }}"
             data-product-id="{{ product.id }}"
             data-product-models="{{ product.id }}"
             data-name="{{ product.title | escape }}"
             data-url="{{ shop.url }}{{ product.url }}"
             data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
             data-description="{{ product_description | escape }}"
             data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
        </div>
      </div>
    </a>
  {% endif %}
{% endif %}
<div class="product-price">
  {% include 'product-page-price' %}
</div>
{% if product_short_desc != blank %}
  <div class="product-short-description">
    {{ product_short_desc }}
  </div>
{% else %}
  <br>
{% endif %}

{% if btn_text == blank %}
  {%- assign btn_text = 'products.product.add_to_cart' | t -%}
{% endif %}

{% if featured_product_section and btn_action == 'product_page' %}
  <a href="{{ product_url }}" class="btn btn--special btn--full product-card__button">{{ btn_text }}</a>
{% elsif featured_product_section and btn_action == 'none' %}
{% else %}
  <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form product-form--desktop product-form-product_{{ product.id }}" data-section="product_{{ product.id }}" data-action-type="{{ btn_action }}">
    <div class="{% if section.settings.product_options_style contains 'swatches' %}product-options--swatches{% endif %} content-product-variants">
      {% include 'product-quantity-selector' %}
      {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
        {%- assign show_label = true -%}
        {% for option in product.options_with_values %}
          {% unless option.values contains 'Default Title' %}
            {% unless option.values.size == 1 and section.settings.hide_variant_with_one_option %}
              {%- assign option_index = forloop.index0 -%}
              {% include 'product-option' %}
              {% if section.settings.product_options_style contains 'swatches' %}
                {% include 'product-swatch' %}
              {% endif %}
            {% endunless %}
          {% endunless %}
        {% endfor %}
        {%- assign show_label = false -%}
      {% endunless %}
    </div>

    <div class="product-form__cart">
      <button type="submit" name="add" id="AddToCart-product_{{ product.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn btn--special btn--full product-form__cart-submit product-form__cart--trigger product-atc-btn" >
        <span class="product-form__cart-submit-text" data-original-text="{{ btn_text }}">
          {% if current_variant.available %}
            {{ btn_text }}
          {% else %}
            {{ 'products.product.sold_out' | t }}
          {% endif %}
        </span>
        {% if settings.countdown_offer_enabled %}
            <span class="countdown-offer-clock hide"  >
              <i class="fa fa-clock-o" aria-hidden="true"></i> <span class="countdown-clock" >0d 0h 0m 0s</span>
            </span>
        {% endif %}
      </button>
    </div>
    <select name="id" id="ProductSelect-product_{{ product.id }}--desktop" class="product-form__variants no-js hider">
      {% for variant in product.variants %}
        {% if variant.available %}
          <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
            {{ variant.title }}
          </option>
        {% else %}
          <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </form>
{% endif %}

{% if section.settings.display_icons %}
  {% include 'product-icons' %}
{% endif %}
