{% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
  {%- assign has_variants = true -%}
{% else %}
  {%- assign has_variants = false -%}
{% endunless %}
{% if collection == blank %}
  {%- assign product_url = product.url -%}
{% else %}
  {%- assign product_url = product.url | within: collection -%}
{% endif %}
<div class="product-card{% if card_hoverable == 'hoverable' %} product-card--hoverable{% else %} product-card--no-hover{% endif %}   {% if section.settings.second_image_on_hover and product.images[1] != blank %} second-img--hover{% endif %}" data-product-id="{{ product.id }}">

  <a href="{{ product_url }}" class="product-card__image">
    <div class="reveal">
      <div class="img-container">
        {% if product.compare_at_price > product.price %}
          {%- assign discount_percent = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round -%}
          <div class="ribbon">
            <div class="ribbon--red product-discount">
              – {{ discount_percent }}%
            </div>
          </div>
        {% endif %}
        <img class="first-product-image" src="{{ product.images.first | img_url: '400x400', crop: 'center'}}" alt="{{ product.images.first.alt | escape }}">
        {% if section.settings.second_image_on_hover and product.images[1] != blank %}
          <img class="second-product-image" src="{{ product.images[1] | img_url: '400x400', crop: 'center' }}" alt="{{ product.images.last.alt | escape }}" />
        {% endif %}
      </div>
    </div>
  </a>
  <div class="product-card__info">
    {% if settings.app_product_reviews_enabled != blank %}
      {% if settings.app_product_reviews_enabled == "product_reviews" %}
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      {% elsif settings.app_product_reviews_enabled == "loox_reviews" %}
        <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
      {% elsif settings.app_product_reviews_enabled == "yotpo_reviews" %}
        <div class="yotpo bottomLine"
             data-product-id="{{ product.id }}">
        </div>
      {% endif %}
    {% endif %}
    <div class="product-card__title product-card__title--{{ settings.product_card_title_style }}">
      <a href="{{ product_url }}">{{ product.title }}</a>
      <div class="dimmer"></div>
    </div>
    <div class="product-card__price product-price">
      {% include 'product-price' %}
    </div>
    {% if card_show_description %}
      <div class="product-card__description">
        {% include "product-description-split",
          product_description: product.description,
          excerpt_size: "18",
          product_short_desc: blank
        %}
        {{ product_short_desc }}
      </div>
    {% endif %}
  </div>
  {% if  section.settings.add_to_cart != 'none' %}
    <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form product-card__form product-form-product_{{ product.id }}" data-section="product_{{ product.id }}" data-variants="{% if has_variants %}true{% else %}false{% endif %}" data-action-type="{{ btn_action }}" >
      {% if btn_action contains 'add_to_cart' %}
        {%- assign current_variant = product.selected_or_first_available_variant -%}
        {% if settings.show_multiple_currencies and has_variants %}
          {% comment %}
            Used to replace currency in the dropdown
          {% endcomment %}
          <ul class="variant-prices-ref hide">
            {% for variant in product.variants %}
              {% if variant.available %}
                <li data-variant-id="{{ variant.id }}">{{ variant.price | money }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
        <select name="id" id="ProductSelect-product_{{ product.id }}" data-section="product_{{ product.id }}" class="product-form__variants {% if has_variants %}product-form__variants--has-variants{% else %}hide{% endif %}">
          {% if has_variants %}
            <option class="hide" value="" disabled="disabled" selected="selected">
              {{ btn_text }}
            </option>
          {% endif %}
          {% for variant in product.variants %}
            {% if variant.available %}
              <option {% if has_variants == false and variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}" class="money">
                {{ variant.title }} - {{ variant.price | money }}
              </option>
            {% else %}
              <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <div class="product-form__item product-form__item--submit{% if has_variants %} hide{% endif %}">
          <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn btn--special btn--full product-card__button product-form__cart-submit">
            <span>
              {% if current_variant.available %}
                {{ btn_text }}
              {% else %}
                {{ 'products.product.sold_out' | t }}
              {% endif %}
            </span>
          </button>
        </div>
      {% elsif btn_action == 'product_page' %}
        <a href="{{ product_url }}" class="btn btn--special btn--full product-card__button">{{ btn_text }}</a>
      {% endif %}
    </form>
  {% endif %}
  {% unless product.empty? %}
    <script type="application/json" id="ProductJson-product_{{ product.id }}">{{ product | json }}</script>
    {% if has_variants %}
      {% capture prod_thumbs %}{% for image in product.images -%}"{{ image.src | img_url: '400x400', crop: 'center' }}"{% if forloop.index < product.images.size %},{% endif %}{% endfor -%}
      {% endcapture %}
<script type="application/json" id="ProductImages-{{ product.id }}">{"thumbs":[{{prod_thumbs}}]}</script>
    {% endif %}
  {% endunless %}
</div>
