<div class="product-form-position-normal">
  <!-- cart form -->
  <div class="product-form-wrapper">
    <div class="js-sticky-btn-start large--hide"></div>
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <div class="form-meta large--hide">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
      </div>
      <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form product-form--mobile product-form-product_{{ product.id }}" data-section="product_{{ product.id }}" data-action-type="{{ btn_action }}">
        <!-- mobile product options wrapper -->
        <div class="product-form-options-wrapper product-options--mobile large--hide">
          {% capture qty_selector_html %}
            <div class="product-options grid--full">
              <div class="grid__item one-quarter"></div>
              <div class="grid__item two-quarters text-center">
                {%- assign show_label = true -%}
                {% include 'product-quantity-selector' %}
              </div>
              <div class="grid__item one-quarter"></div>
            </div>
          {% endcapture %}
          {% if product.options.size == 1 and product.variants[0].title == 'Default Title' %}
            {{ qty_selector_html }}
          {% else %}
            {% if section.settings.product_options_style contains 'swatches' %}
              <div class="product-options--swatches grid--full text-center">
                {% for option in product.options_with_values %}
                  {%- assign option_index = forloop.index0 -%}
                  {% include 'product-option' %}<!-- Never remove the product-option include, swatches need the select inputs to work! -->
                  {% include 'product-swatch' %}
                {% endfor %}
              </div>
              {{ qty_selector_html }}
            {% else %}

              {%- assign show_label = section.settings.display_option_labels -%}
              {%- assign options_count_mod = product.options.size | modulo: 2 -%}
              {% if options_count_mod == 0 %}
                {%- assign max_options = product.options.size -%}
              {% else %}
                {%- assign max_options = product.options.size | minus: 1 -%}
              {% endif %}
              {% if section.settings.options_layout == '2-column' %}
                {%- assign option_cell_size = "one-half" -%}
              {% else %}
                {%- assign option_cell_size = "one-whole" -%}
              {% endif %}
              {% comment %}
                Show maximum, but even amount of options
              {% endcomment %}
              <div class="product-options grid--full">
                {% for option in product.options_with_values limit: max_options %}
                  {% capture current %}{% cycle 'first', 'last' %}{% endcapture %}
                  <div class="grid__item {{ option_cell_size }}">
                    {%- assign option_index = forloop.index0 -%}
                    {% include 'product-option' %}
                  </div>
                {% endfor %}
                {% if product.options.size > max_options %}
                  {% for option in product.options_with_values offset: max_options %}
                    {%- assign current = 'first' -%}
                    <div class="grid__item {{ option_cell_size }}">
                      {%- assign option_index = max_options | plus: forloop.index0 -%}
                      {% include 'product-option' %}
                    </div>
                    <div class="grid__item {{ option_cell_size }}">
                      {% include 'product-quantity-selector' %}
                    </div>
                  {% endfor %}
                {% else %}
                  <div class="grid__item one-quarter"></div>
                  <div class="grid__item two-quarters text-center">
                    {%- assign show_label = true -%}
                    {% include 'product-quantity-selector' %}
                  </div>
                  <div class="grid__item one-quarter"></div>
                {% endif %}
              </div>
            {% endif %}
          {% endif %}
        </div>

        <!-- desktop product options wrapper -->
        <div class="{% if section.settings.product_options_style contains 'swatches' %}product-options--swatches{% endif %} content-product-variants product-options--desktop medium-down--hide">
          {% include 'product-quantity-selector' %}
          {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
            {%- assign show_label = true -%}
            {% for option in product.options_with_values %}
              {% unless option.values contains 'Default Title' %}
                {% unless option.values.size == 1 and section.settings.hide_variant_with_one_option %}
                  {%- assign option_index = forloop.index0 -%}
                  {% include 'product-option' %}
                  {% if section.settings.product_options_style contains 'swatches' %}
                    {% include 'product-swatch' %}
                  {% endif %}
                {% endunless %}
              {% endunless %}
            {% endfor %}
            {%- assign show_label = false -%}
          {% endunless %}
        </div>

        <select name="id" id="ProductSelect-product_{{ product.id }}--desktop" class="product-form__variants no-js hider">
          {% for variant in product.variants %}
            {% if variant.available %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                {{ variant.title }}
              </option>
            {% else %}
              <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
            {% endif %}
          {% endfor %}
        </select>

        {% if settings.app_uploadery_enabled != blank %}
        <div id="uploadery-container"></div>
        {% endif %}
        <div class="product-form__cart medium-down--hide">
          <button type="submit" name="add" id="AddToCart-product_{{ product.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn btn--special btn--full product-form__cart-submit product-form__cart--trigger product-atc-btn" >
            <span class="product-form__cart-submit-text" data-original-text="{{ 'products.product.add_to_cart' | t }}">
              {% if current_variant.available %}
                {{ 'products.product.add_to_cart' | t }}
              {% else %}
                {{ 'products.product.sold_out' | t }}
              {% endif %}
            </span>
            {% if settings.countdown_offer_enabled %}
              <span class="countdown-offer-clock hide"  >
                <i class="fa fa-clock-o" aria-hidden="true"></i> <span class="countdown-clock" >0d 0h 0m 0s</span>
              </span>
            {% endif %}
          </button>
        </div>
        {% if section.settings.sticky_add_to_cart and section.settings.display_normal_add_to_cart == false %}
          {% comment %}
            Cart button is hidden in mobile version and sticky version used
            see snippets/cart-sticky-button.liquid
          {% endcomment %}
        {% else %}
          <div class="product-form__cart large--hide">
            <button type="submit" name="add" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn btn--special btn--full product-form__cart-submit product-atc-btn" >
              <span class="product-form__cart-submit-text">
                {% if current_variant.available %}
                  {{ 'products.product.add_to_cart' | t }}
                {% else %}
                  {{ 'products.product.sold_out' | t }}
                {% endif %}
              </span>
              {% if settings.countdown_offer_enabled %}
                <span class="countdown-offer-clock hide"  >
                  <i class="fa fa-clock-o" aria-hidden="true"></i> <span class="countdown-clock" >0d 0h 0m 0s</span>
                </span>
              {% endif %}
            </button>
          </div>
        {% endif %}
       </form>
    </div>
  </div>
</div>