{% capture product_description_html %}
  <div class="product-info__description{% unless section.settings.limit_description == 'none' %} product-info__description--shrunk{% endunless %}" data-original-height="{{ section.settings.limit_description }}">
    <div class="product-info__full_description rte" itemprop="description">
      {{ product_description }}
    </div>
  </div>
  <button type="button" class="icon-fallback-text product-info__more">
    <span class="icon icon-chevron-thin-down" aria-hidden="true"></span>
    <span class="fallback-text">{{ "products.product.read_more" | t }}</span>
  </button>
{% endcapture %}

{% if section.settings.use_tabs %}

  {% assign product_match = product.handle | prepend: "product/" %}
  {% assign reviews_tab_default_position = true %}
  {% assign description_tab_default_position = true %}

  {% for link in linklists["product-tabs"].links %}
    {% if link.title == "global" or link.title contains "global/" or link.title == product_match %}
      {% assign tab_link = link.url | replace: '#', '' | downcase %}
      {% if tab_link == "reviews" %}
        {% assign reviews_tab_default_position = false %}
      {% endif %}
      {% if tab_link == "description" %}
        {% assign description_tab_default_position = false %}
      {% endif %}
    {% endif %}
  {% endfor %}


  {% capture reviews_tab %}

    <dt class="accordion__tab-title" class="reviews-tab">Reviews</dt>
    {% if settings.app_product_reviews_enabled != blank %}
      <dd class="accordion__tab-content rte">
        {% if settings.app_product_reviews_enabled == "product_reviews" %}
          <div id="shopify-product-reviews" class="js-delete--mobile" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
          {% elsif settings.app_product_reviews_enabled == "loox_reviews" %}
          <div id="looxReviews" class="js-delete--mobile" data-product-id="{{product.id}}">{{ product.metafields.loox.reviews }}</div>
          {% elsif settings.app_product_reviews_enabled == "yotpo_reviews" %}
          <div class="yotpo yotpo-main-widget js-delete--mobile"
               data-product-id="{{ product.id }}"
               data-name="{{ product.title | escape }}"
               data-url="{{ shop.url }}{{ product.url }}"
               data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
               data-description="{{ product_description | escape }}">
          </div>
        {% endif %}
      </dd>
    {% else %}
      <dd class="accordion__tab-content rte">
        <h3 class="text-meta text-center">Product Reviews app integration required</h3>
        <p class="text-meta text-center">Please enable integration in General Settings > Apps</p>
      </dd>
    {% endif %}

  {% endcapture %}

  {% capture description_tab %}
    <dt class="accordion__tab-title">{{ "products.product.tabs.description" | t }}</dt>
    <dd class="accordion__tab-content" data-closed="{{ section.settings.description_tab_closed }}">
      {{ product_description_html }}
    </dd>
  {% endcapture %}

  <dl class="accordion">

  {% if description_tab_default_position %}
    {{ description_tab }}
  {% endif %}

{% else %}
  {{ product_description_html }}
{% endif %}

{% if section.settings.use_tabs  %}
    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
        {% if block.type == 'tab' and block.settings.display_in_mobile %}
          {% assign blog = blogs[block.settings.blog] %}
          {% include "product-tabs-content", tab_content: blank %}
          {% if tab_content != blank %}
            <dt class="accordion__tab-title">
              {% if block.settings.title != blank %}
                {{ block.settings.title }}
              {% else %}
                {{ blog.title }}
              {% endif %}
            </dt>
            <dd class="accordion__tab-content rte">
              {{ tab_content }}
            </dd>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if section.settings.product_reviews and section.settings.use_tabs and reviews_tab_default_position %}
      {{ reviews_tab }}
    {% endif %}

    {% if linklists["product-tabs"].links.size > 0 %}
      {% for link in linklists["product-tabs"].links %}
        {%- assign tab_content = blank -%}
        {% include "product-tab-content", tab_content: tab_content %}


        {% if tab_link == "description"  %}
          {{ description_tab }}
        {% endif %}

        {% if tab_link == "reviews" and section.settings.product_reviews %}
          {{ reviews_tab }}
        {% endif %}


        {% if tab_content != blank %}
          <dt class="accordion__tab-title">
            {% assign title_slice = link.object.title  | split: '||' %}
            {{ title_slice[0] | strip }}
          </dt>
          <dd class="accordion__tab-content rte">
            {{ tab_content }}
          </dd>
        {% endif %}
      {% endfor %}
    {% endif %}

  </dl>
{% endif %}

{% if section.settings.product_reviews and section.settings.use_tabs == false  %}
  {% if settings.app_product_reviews_enabled != blank %}
    {% if settings.app_product_reviews_enabled == "product_reviews" %}
      <div style="width: 100%;" id="shopify-product-reviews" class="js-delete--mobile" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
    {% elsif settings.app_product_reviews_enabled == "loox_reviews" %}
      <div style="width: 100%;" id="looxReviews" class="js-delete--mobile" data-product-id="{{product.id}}">{{ product.metafields.loox.reviews }}</div>
    {% elsif settings.app_product_reviews_enabled == "yotpo_reviews" %}
      <div class="yotpo yotpo-main-widget js-delete--mobile"
           data-product-id="{{ product.id }}"
           data-name="{{ product.title | escape }}"
           data-url="{{ shop.url }}{{ product.url }}"
           data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
           data-description="{{ product_description | escape }}">
      </div>
    {% endif %}
  {% else %}
    <div style="margin-top: 40px;">
      <h3 class="text-meta text-center">Product Reviews app integration required</h3>
      <p class="text-meta text-center">Please enable integration in General Settings > Apps</p>
    </div>
  {% endif %}
{% endif %}