{% if section.settings.breadcrumbs %}
<header class="page-header">
  {% include 'breadcrumb' %}
</header>
{% endif %}

<div data-section-id="{{ section.id }}" data-section-type="contact-template">

{% if section.settings.map_enable and section.settings.map_position == 'top' %}
  {% include 'map' %}
{% endif %}

{% if section.settings.display_page %}
  <div class="standard-page">
    <div class="standard-page__body">

      <h2 class="standard-page__title">{{ page.title }}</h2>
      <div class="rte">
        {{ page.content }}
      </div>

    </div>
  </div>
{% endif %}

{% if section.settings.map_enable and section.settings.map_position == 'middle' %}
  {% include 'map' %}
{% endif %}

<div class="standard-page">
  <div class="standard-page__body">

    <div class="grid">
      <div class="grid__item one-whole large--two-quarters{% if section.settings.promo_product == blank %} push--large--one-quarter{% endif %}">
        <div class="contact-form__wrapper form-vertical">

          {% if section.settings.form_title != blank %}
            <h2 class="standard-page__title text-center">{{ section.settings.form_title }}</h2>
          {% endif %}

          {% if section.settings.form_description != blank %}
            {{ section.settings.form_description }}
          {% endif %}
          {% include 'contact-form' %}
        </div>
      </div>
      {% unless section.settings.promo_product == blank %}
        <div class="grid__item medium-down--hide large--two-quarters contact-promo">
          {% if section.settings.form_title != blank %}
            <h2 class="standard-page__title contact-promo__title text-center">{{ section.settings.promo_product_title }}</h2>
          {% endif %}
          {%- assign product = all_products[section.settings.promo_product] -%}
          {%- assign btn_action = section.settings.btn_action -%}
          {%- assign btn_text = section.settings.btn_text -%}
          {%- assign card_show_description = true -%}
          {%- assign card_hoverable = section.settings.add_to_cart -%}
          {% include 'product-card' %}
        </div>
      {% endunless %}
    </div>
  </div>
</div>

{% if section.settings.map_enable and section.settings.map_position == 'bottom' %}
  {% include 'map' %}
{% endif %}

</div>

{% schema %}
  {
    "name": "Contact page",
    "class": "contact-page",
    "settings": [
      {
        "type": "checkbox",
        "id": "breadcrumbs",
        "label": "Display breadcrumbs",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "display_page",
        "label": "Display page content",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "display_phone_number",
        "label": "Display phone number",
        "default": false
      },
      {
        "type": "header",
        "content": "Form"
      },
      {
        "type": "text",
        "id": "form_title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "form_description",
        "label": "Description"
      },
      {
        "type": "header",
        "content": "Promo product"
      },
      {
        "type": "product",
        "id": "promo_product",
        "label": "Product"
      },
      {
        "type": "text",
        "id": "promo_product_title",
        "label": "Promo block title",
        "default": "You can't miss this one!"
      },
      {
        "type": "select",
        "id": "btn_action",
        "label": "Button action",
        "options": [
          {
            "value": "none",
            "label": "None (hide button)"
          },
          {
            "value": "add_to_cart",
            "label": "Add to cart and stay on page"
          },
          {
            "value": "add_to_cart_redirect",
            "label": "Add to cart and go to cart page"
          },
          {
            "value": "add_to_cart_checkout",
            "label": "Add to cart and go to checkout"
          },
          {
            "value": "product_page",
            "label": "Product page"
          }
        ],
        "default": "add_to_cart"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button text",
        "default": "Add to Cart"
      },
      {
        "type": "checkbox",
        "id": "hoverable",
        "label": "Use hover effect in desktop version",
        "default": true
      },
      {
        "type": "header",
        "content": "Map"
      },
      {
        "type": "checkbox",
        "id": "map_enable",
        "label": "Enable map",
        "default": false
      },
      {
        "type": "text",
        "id": "map_api_key",
        "label": "API Key",
        "info": "Please generate your own API key at [developers.google.com](https://developers.google.com/maps/documentation/embed/guide#api_key)"
      },
      {
         "type": "select",
         "id": "map_mode",
         "label": "Map Mode",
         "options": [
            {"value": "place", "label": "Place mode"},
            {"value": "search", "label": "Search mode"},
            {"value": "view", "label": "View mode (coordinates)"}
          ],
         "default": "search",
         "info": "Learn more about [map modes](https://developers.google.com/maps/documentation/embed/guide#map_modes)"
      },
      {
         "type": "text",
         "id": "map_query",
         "label": "Location query or coordinates",
         "default": "coffee shops near Montreal, QC, Canada",
         "info": "Provide search query, [Place ID](https://developers.google.com/places/place-id) or coordinates eg. 45.5017,-73.5673"
      },
      {
         "type": "select",
         "id": "map_zoom",
         "label": "Initial zoom",
         "options": [
            {"value": "1", "label": "1"},
            {"value": "2", "label": "2"},
            {"value": "3", "label": "3"},
            {"value": "4", "label": "4"},
            {"value": "5", "label": "5"},
            {"value": "6", "label": "6"},
            {"value": "7", "label": "7"},
            {"value": "8", "label": "8"},
            {"value": "9", "label": "9"},
            {"value": "10", "label": "10"},
            {"value": "11", "label": "11"},
            {"value": "12", "label": "12"},
            {"value": "13", "label": "13"},
            {"value": "14", "label": "14"},
            {"value": "15", "label": "15"},
            {"value": "16", "label": "16"},
            {"value": "17", "label": "17"},
            {"value": "18", "label": "18"},
            {"value": "19", "label": "19"},
            {"value": "20", "label": "20"}
          ],
         "default": "12"
      },
      {
        "type": "checkbox",
        "id": "map_satelite",
        "label": "Satellite view",
        "default": false
      },
      {
        "type": "text",
        "id": "map_title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "map_description",
        "label": "Description"
      },
      {
         "type": "select",
         "id": "map_position",
         "label": "Position",
         "options": [
            {"value": "top", "label": "Before page content"},
            {"value": "middle", "label": "After page content"},
            {"value": "bottom", "label": "After form"}
          ],
         "default": "bottom"
      },
      {
        "type": "select",
        "id": "map_display",
        "label": "Display",
        "default": "all",
        "options": [
          {"value": "all", "label": "Desktop & Mobile"},
          {"value": "desktop", "label": "Desktop only"}
        ]
      },
      {
        "type": "text",
        "id": "map_height",
        "label": "Max height",
        "default": "450",
        "info": "Number value eg. 450"
      },
      {
        "type": "html",
        "id": "map_custom",
        "label": "Custom map HTML",
        "info": "For advanced users: generate your code using [Google Maps Embed API](https://developers.google.com/maps/documentation/embed/)"
      }
    ]
  }
{% endschema %}
