{%- assign card_hoverable = section.settings.add_to_cart -%}

<div data-section-id="{{ section.id }}" data-section-type="slider-section">

  {% if section.settings.title != blank %}
    <h2 class="text-center section-heading">{{ section.settings.title | escape }}</h2>
  {% endif %}

  {% comment %}
    Only enable slider if there are more than 3 products
  {% endcomment %}
  {% if section.blocks.size > 3 %}
    <div class="slider-wrapper">
      <div class="product-list slider" id="slider_{{ section.id }}">
        {% for block in section.blocks limit: section.blocks.size %}
          <div class="product-list__item slider__slide--{{ block.id }}" {{ block.shopify_attributes }}>
            {% if block.settings.product != blank %}
              {%- assign product = all_products[block.settings.product] -%}
              {%- assign btn_action = block.settings.btn_action -%}
              {%- assign btn_text = block.settings.btn_text -%}
              {% include 'product-card' %}
            {% else %}
              {% include 'blank-product-card' %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% elsif section.blocks.size > 0 %}
    {% case  section.blocks.size %}
      {% when 3 %}
        {%- assign col_sizes = "one-whole medium--one-third" -%}
      {% when 2 %}
        {%- assign col_sizes = "one-half medium--one-half" -%}
      {% when 1 %}
        {%- assign col_sizes = "one-whole medium--one-third push--medium--one-third" -%}
    {% endcase %}
    <div class="grid no-slider--grid small--hide">
      {% for block in section.blocks limit: section.blocks.size %}
        <div class="grid__item {{ col_sizes }}" {{ block.shopify_attributes }}>
          {% if block.settings.product != blank %}
            {%- assign product = all_products[block.settings.product] -%}
            {%- assign btn_action = block.settings.btn_action -%}
            {%- assign btn_text = block.settings.btn_text -%}
            {% include 'product-card' %}
          {% else %}
            {% include 'blank-product-card' %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="slider-wrapper medium--hide large--hide">
      <div class="product-list slider" {% if section.blocks.size > 1 %}id="slider_{{ section.id }}"{% endif %}>
        {% for block in section.blocks limit: section.blocks.size %}
          <div class="product-list__item slider__slide--{{ block.id }}" {{ block.shopify_attributes }}>
            {% if block.settings.product != blank %}
              {%- assign product = all_products[block.settings.product] -%}
              {%- assign btn_action = block.settings.btn_action -%}
              {%- assign btn_text = block.settings.btn_text -%}
              {% include 'product-card' %}
            {% else %}
              {% include 'blank-product-card' %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>

  {% else %}
    <div class="grid no-slider--grid">
      <div class="grid__item one-whole medium--one-third push--medium--one-third">
        {% include 'blank-product-card' %}
      </div>
    </div>
  {% endif %}

</div>

{% schema %}
  {
    "name": "Featured products",
    "class": "section-featured-products",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured Products"
      },
      {
        "type": "radio",
        "id": "add_to_cart",
        "label": "Add to cart button location:",
        "default": "below_the_product",
        "options": [
          {"value": "below_the_product", "label": "Below the product"},
          {"value": "hoverable", "label": "On hover"},
          {"value": "none", "label": "None"}
        ]
      },
      {
        "type": "checkbox",
        "id": "second_image_on_hover",
        "label": "Display a second product image on hover",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "select",
            "id": "btn_action",
            "label": "Button action",
            "options": [
              {
                "value": "none",
                "label": "None (hide button)"
              },
              {
                "value": "add_to_cart",
                "label": "Add to cart and stay on page"
              },
              {
                "value": "add_to_cart_redirect",
                "label": "Add to cart and go to cart page"
              },
              {
                "value": "add_to_cart_checkout",
                "label": "Add to cart and go to checkout"
              },
              {
                "value": "product_page",
                "label": "Product page"
              }
            ],
            "default": "add_to_cart"
          },
          {
            "type": "text",
            "id": "btn_text",
            "label": "Button text",
            "default": "Add to Cart"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured products",
        "category": "Products"
      }
    ]
  }
{% endschema %}
