<style>
.section-footer {background-color:{{ section.settings.color_bg }}}
  {% if section.settings.footer_width_size == 'normal' %}
    {% assign footer_container_size = '1024px' %}
  {% elsif section.settings.footer_width_size == 'large' %}
    {% assign footer_container_size = '1180px' %}
  {% elsif section.settings.footer_width_size == 'wide' %}
    {% assign footer_container_size = '1300px' %}
  {% elsif section.settings.footer_width_size == 'full' %}
    {% assign footer_container_size = '100%' %}
  {% endif %}
.section-footer .section-footer__container{max-width:{{ footer_container_size }}}
.section-footer .footer-col__title{color:{{ section.settings.color_headings }}}
.section-footer .footer-col__content, .section-footer .newsletter-form{color:{{ section.settings.color_text }}}
.section-footer .footer-col__content a:not(.btn){color:{{ section.settings.color_links }}}
.section-footer .footer-col__linklist-item a{color:{{ section.settings.color_menu_items }}}
.section-footer .btn{background-color:{{ section.settings.color_button_bg }};border-color:{{ section.settings.color_button_border }};color:{{ section.settings.color_button_text }}}
.section-footer .sub-footer{background-color:{{ section.settings.color_social_bg }}}
.section-footer .social-icons li a{color:{{ section.settings.color_social_icons }}}
</style>

{%- assign desktop_cols = 0 -%}
{% for block in section.blocks %}
  {% if block.settings.display != 'mobile' and block.settings.display != 'hidden' %}
    {%- assign desktop_cols = desktop_cols | plus: 1 -%}
  {% endif %}
{% endfor %}

{% case desktop_cols %}
  {% when 2 %}
    {%- assign col_size = 'one-whole medium--one-half' -%}
  {% when 3 %}
    {%- assign col_size = 'one-whole medium--one-third' -%}
  {% when 4 %}
    {%- assign col_size = 'one-whole medium--one-half large--one-quarter' -%}
  {% when 5 %}
    {%- assign col_size = 'one-whole large--one-fifth' -%}
  {% when 6 %}
    {%- assign col_size = 'one-whole large--one-sixth' -%}
  {% else %}
    {%- assign col_size = 'one-whole' -%}
{% endcase %}

<div class="section-footer__wrapper{% if section.settings.display_border %}--bordered{% endif %} {% unless section.settings.mobile_display_footer_cart_product %}mobile-hidden-product-cart{% endunless %}">

  <div class="section-footer__container">

    <div class="grid--full">
      {% for block in section.blocks %}
        {% case block.settings.display %}
          {% when "mobile" %}
            {%- assign visibility_classes = " hide small--show" -%}
          {% when "desktop" %}
            {%- assign visibility_classes = " small--hide" -%}
          {% when "hidden" %}
            {%- assign visibility_classes = " hide" -%}
          {% else %}
            {%- assign visibility_classes = "" -%}
        {% endcase %}
        <div class="footer-col footer-col--{{ block.type }} grid__item {{ col_size }}{{ visibility_classes }}" {{ block.shopify_attributes }}>
          {% case block.type %}
            {% when 'menu' %}
              <h4 class="footer-col__title text-{{ block.settings.align_text }} {% if block.settings.is_collapsible %} menu-collapse-btn collapsed {% endif %}" data-collapsible-id="{{ forloop.index }}">
                {{ block.settings.title }}
              </h4>
              {% if linklists[block.settings.menu].links.size > 0 %}
                <ul class="footer-col__linklist {% if block.settings.is_collapsible %}collapsible-content collapsed {% endif %} collapsible-id-{{ forloop.index }}" style="margin-left: {{ block.settings.left_margin }}">
                  {% for link in linklists[block.settings.menu].links %}
                    <li class="footer-col__linklist-item text-{{ block.settings.align_items }}">
                      <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% when 'page' %}
              {% assign page = pages[block.settings.page] %}
              {% if page %}
                <h4 class="footer-col__title text-{{ block.settings.align_text }}">
                  {{ page.title }}
                </h4>
                <div class="footer-col__content">
                  {% if block.settings.words_limit != blank and block.settings.words_limit != 'disable' %}
                    {{ page.content | truncatewords: block.settings.words_limit }}
                    {% if block.settings.button_label != blank %}
                      <div class="text-center">
                        <a href="{{ page.url }}" class="btn">
                          {{ block.settings.button_label }}
                        </a>
                      </div>
                    {% endif %}
                  {% else %}
                    {{ page.content }}
                  {% endif %}
                </div>
              {% endif %}
            {% when 'content' %}
              <div class="text-{{ block.settings.align_text }}">
                {% if block.settings.title != blank %}
                  <h4 class="text-{{ block.settings.align_text }} footer-col__title">{{ block.settings.title | escape }}</h4>
                {% endif %}
                {% if block.settings.text != blank %}
                  <div class="footer-col__content">
                    {{ block.settings.text }}
                  </div>
                {% endif %}
                {% if block.settings.button_label != blank and block.settings.button_link != blank %}
                  <a href="{{ block.settings.button_link }}" class="btn">
                    {{ block.settings.button_label }}
                  </a>
                {% endif %}
              </div>
            {% when 'image' %}
              <div class="text-{{ block.settings.align_text }}">
                {% if block.settings.title != blank %}
                  <h4 class="text-{{ block.settings.align_text }} footer-col__title">{{ block.settings.title | escape }}</h4>
                {% endif %}
                {% if block.settings.image_link != blank %}
                  <a href="{{ block.settings.image_link }}">
                    <img src="{{ block.settings.image | img_url: "master" }}">
                  </a>
                {% else %}
                    <img src="{{ block.settings.image | img_url: "master" }}">
                {% endif %}
              </div>
            {% when 'html' %}
              {% if block.settings.code != blank %}
                {{ block.settings.code }}
              {% endif %}
            {% when 'newsletter' %}
              {% if block.settings.title != blank %}
                <h4 class="footer-col__title text-{{ block.settings.align_text }}">{{ block.settings.title | escape }}</h4>
              {% endif %}
              <div class="text-{{ block.settings.align_text }}">
                {% include 'newsletter-form' %}
              </div>
          {% endcase %}
        </div>
      {% endfor %}
    </div>
  </div>

  {% if section.settings.display_social or
        section.settings.powered_by or
        section.settings.payment_icons or
        section.settings.theme_copyright %}
    <div class="sub-footer">
      <div class="grid--full">
        <div class="grid__item one-whole large--one-third push--large--one-third">
          {% if section.settings.display_social %}
            {% include 'social-icons-list' %}
          {% endif %}
        </div>
        <div class="grid__item one-whole large--one-third push--large--one-third sub-footer__right">
          {% if section.settings.payment_icons %}
            <div class="payment-icons">
              {% for type in shop.enabled_payment_types %}
                <img src="{{ type | payment_type_img_url }}" alt="{{ type | replace: "_", " " | capitalize }}" />
              {% else %}
                <p style="height:36px;font-size:1rem;padding-top:12px;">
                  {{ "layout.footer.configure_payment_methods" | t }}
                </p>
              {% endfor %}
            </div>
          {% endif %}
          {% if section.settings.powered_by or section.settings.theme_copyright %}
            <div class="copyright-text{% unless section.settings.payment_icons %}{% if section.settings.display_social %} copyright-text--with-margin{% else %} copyright-text--with-small-margin{% endif %}{% endunless %}">
              {% if section.settings.powered_by %}
                <span class="powered-by">{{ "layout.footer.powered_by" | t }} <a href="http://getshopify.tabarnapp.com" target="_blank">Shopify</a></span>
              {% endif %}
              {% if section.settings.theme_copyright %}
                {% capture theme_url %}{% if section.settings.affiliate_link != blank %}{{ section.settings.affiliate_link }}{% else %}http://offers.konversiontheme.com/{% endif %}{% endcapture %}
                <span class="theme-by">{{ "layout.footer.theme_by" | t }} <a href="{{ theme_url | trim }}" target="_blank">Konversion</a></span>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</div>


{% schema %}
  {
    "name": "Footer",
    "class": "section-footer",
    "max_blocks": 6,
    "settings": [
      {
        "type": "checkbox",
        "id": "display_border",
        "label": "Display border",
        "default": false,
        "info": "Displays separator line between page content and footer"
      },
      {
        "type": "select",
        "id": "footer_width_size",
        "label": "Width size",
        "options": [
          {"value": "normal", "label": "Normal"},
          {"value": "large", "label": "Large"},
          {"value": "wide", "label": "Wide"},
          {"value": "full", "label": "Full"}
        ],
        "default": "normal"
      },
      {
        "type": "checkbox",
        "id": "mobile_display_footer_cart_product",
        "label": "Display the footer on product and cart pages ",
        "default": false,
        "info": "On mobile version"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Background color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "color_headings",
        "label": "Headings",
        "default": "#393939"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#393939"
      },
      {
        "type": "color",
        "id": "color_links",
        "label": "Links",
        "default": "#393939"
      },
      {
        "type": "color",
        "id": "color_menu_items",
        "label": "Menu items",
        "default": "#393939"
      },
      {
        "type": "color",
        "id": "color_button_bg",
        "label": "Button background",
        "default": "transparent"
      },
      {
        "type": "color",
        "id": "color_button_border",
        "label": "Button border",
        "default": "#393939"
      },
      {
        "type": "color",
        "id": "color_button_text",
        "label": "Button text",
        "default": "#393939"
      },
      {
        "type": "header",
        "content": "Subfooter"
      },
      {
        "type": "checkbox",
        "id": "display_social",
        "label": "Social links section",
        "default": true,
        "info": "Configure your social accounts at General Settings > Social media"
      },
      {
        "type": "checkbox",
        "id": "powered_by",
        "label": "Enable Powered by Shopify",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "payment_icons",
        "label": "Enable payment icons",
        "default": false,
        "info": "Configure [payment methods](/admin/settings/payments)"
      },
      {
        "type": "color",
        "id": "color_social_bg",
        "label": "Subfooter background color",
        "default": "#0d0d0d"
      },
      {
        "type": "color",
        "id": "color_social_icons",
        "label": "Subfooter icons color",
        "default": "#ffffff"
      },
      {
        "type": "header",
        "content": "Affiliate link"
      },
      {
        "type": "paragraph",
        "content": "Let the theme copyright link in the footer of your store and earn up to 40% commission in sales. [Learn more](http://jv.konversiontheme.com/)"
      },
      {
        "type": "checkbox",
        "id": "theme_copyright",
        "label": "Enable theme copyright link",
        "default": true
      },
      {
        "type": "text",
        "id": "affiliate_link",
        "label": "Konversion affiliate link",
        "info": "[Apply to our affiliate program](http://jv.konversiontheme.com/)"
      }
    ],
    "blocks": [
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Footer menu"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "default": "footer"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Align title",
            "default": "center",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"},
              {"value": "right", "label": "Right"}
            ]
          },
          {
            "type": "select",
            "id": "align_items",
            "label": "Align items",
            "default": "left",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"},
              {"value": "right", "label": "Right"}
            ]
          },
          {
            "type": "select",
            "id": "left_margin",
            "label": "Left margin",
            "default": "0",
            "options": [
              {"value": "0", "label": "0"},
              {"value": "10%", "label": "10%"},
              {"value": "20%", "label": "20%"},
              {"value": "30%", "label": "30%"},
              {"value": "40%", "label": "40%"}
            ]
          },
          {
            "type": "select",
            "id": "display",
            "label": "Display",
            "default": "all",
            "options": [
              {"value": "all", "label": "Desktop & Mobile"},
              {"value": "mobile", "label": "Mobile only"},
              {"value": "desktop", "label": "Desktop only"}
            ]
          },
          {
            "type": "checkbox",
            "id": "is_collapsible",
            "label": "Is collapsible",
            "default": false,
            "info": "Collapse the content of the menu. Only works on mobile version."
          }
        ]
      },
      {
        "type": "page",
        "name": "Page",
        "settings": [
          {
             "type": "page",
             "id": "page",
             "label": "Page"
          },
          {
             "type": "select",
             "id": "words_limit",
             "label": "Words limit",
             "options": [
                {"value": "disable", "label": "Disable"},
                {"value": "10", "label": "10"},
                {"value": "11", "label": "11"},
                {"value": "12", "label": "12"},
                {"value": "13", "label": "13"},
                {"value": "14", "label": "14"},
                {"value": "15", "label": "15"},
                {"value": "16", "label": "16"},
                {"value": "17", "label": "17"},
                {"value": "18", "label": "18"},
                {"value": "19", "label": "19"},
                {"value": "20", "label": "20"},
                {"value": "21", "label": "21"},
                {"value": "22", "label": "22"},
                {"value": "23", "label": "23"},
                {"value": "24", "label": "24"},
                {"value": "25", "label": "25"},
                {"value": "26", "label": "26"},
                {"value": "27", "label": "27"},
                {"value": "28", "label": "28"},
                {"value": "29", "label": "29"},
                {"value": "30", "label": "30"},
                {"value": "35", "label": "35"},
                {"value": "40", "label": "40"},
                {"value": "45", "label": "45"},
                {"value": "50", "label": "50"},
                {"value": "60", "label": "60"},
                {"value": "70", "label": "70"},
                {"value": "80", "label": "80"},
                {"value": "90", "label": "90"},
                {"value": "100", "label": "100"}
              ],
             "default": "25",
             "info": "Truncate content"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Read more"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Align title",
            "default": "center",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"},
              {"value": "right", "label": "Right"}
            ]
          },
          {
            "type": "select",
            "id": "display",
            "label": "Display",
            "default": "all",
            "options": [
              {"value": "all", "label": "Desktop & Mobile"},
              {"value": "mobile", "label": "Mobile only"},
              {"value": "desktop", "label": "Desktop only"}
            ]
          }
        ]
      },
      {
        "type": "content",
        "name": "Custom content",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Footer content"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Why do we use it?<br> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Align",
            "default": "left",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"},
              {"value": "right", "label": "Right"}
            ]
          },
          {
            "type": "select",
            "id": "display",
            "label": "Display",
            "default": "all",
            "options": [
              {"value": "all", "label": "Desktop & Mobile"},
              {"value": "mobile", "label": "Mobile only"},
              {"value": "desktop", "label": "Desktop only"}
            ]
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Footer image"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "image_link",
            "label": "Image link"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Align",
            "default": "left",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"},
              {"value": "right", "label": "Right"}
            ]
          },
          {
            "type": "select",
            "id": "display",
            "label": "Display",
            "default": "all",
            "options": [
              {"value": "all", "label": "Desktop & Mobile"},
              {"value": "mobile", "label": "Mobile only"},
              {"value": "desktop", "label": "Desktop only"}
            ]
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Column Heading",
            "default": "Subscribe"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button text",
            "default": "SUBSCRIBE"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Align",
            "default": "center",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"},
              {"value": "right", "label": "Right"}
            ]
          },
          {
            "type": "select",
            "id": "display",
            "label": "Display",
            "default": "all",
            "options": [
              {"value": "all", "label": "Desktop & Mobile"},
              {"value": "mobile", "label": "Mobile only"},
              {"value": "desktop", "label": "Desktop only"}
            ]
          }
        ]
      },
      {
        "type": "html",
        "name": "Raw HTML code",
        "settings": [
          {
            "type": "html",
            "id": "code",
            "label": "Custom HTML",
            "info": "Can be used for third-party scripts integration"
          },
          {
            "type": "select",
            "id": "display",
            "label": "Display",
            "default": "hidden",
            "options": [
              {"value": "all", "label": "Desktop & Mobile"},
              {"value": "mobile", "label": "Mobile only"},
              {"value": "desktop", "label": "Desktop only"},
              {"value": "hidden", "label": "Hidden"}
            ]
          }
        ]
      }
    ]
  }
{% endschema %}
