<!-- invert logo color -->
  {% if section.settings.invert_logo_color%}
            {% assign styleColor = "invert-section-logos" %}
          {% else %}
            {% assign styleColor = "section-logos" %}
  {% endif %}
<!-- end of invert logo color -->

<div class="{{styleColor}}__wrapper">

  {% if section.settings.title != blank %}
    <h2 class="text-center section-heading">{{ section.settings.title | escape }}</h2>
  {% endif %}

  <div class="page-width--large">
    <div class="logos-list text-center clearfix">
      {% for block in section.blocks %}
        <div class="logos__item" {{ block.shopify_attributes }}>
          {% if block.settings.image != blank %}
            {{ block.settings.image | img_url: '160x160' | img_tag: 'Logo Image', 'logos__image' }}
          {% else %}
            {{ "blank-logo.png" | asset_img_url: '160x160' | img_tag: 'Logo Image', 'logos__image' }}
          {% endif %}
        </div>
      {% else %}
        {% for i in (1..4) %}
          <div class="logos__item">
            {{ "blank-logo.png" | asset_img_url: '160x160' | img_tag: 'Logo Image', 'logos__image' }}
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Logo list",
    "class": "section-logos",
    "max_blocks": 8,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Logo list"
      },
      {
        "type": "checkbox",
        "id": "invert_logo_color",
        "label": "Invert color"
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Recommended ratio 1:1 (square)"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo List",
        "category": "Images",
        "blocks": [
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          }
        ]
      }
    ]
  }
{% endschema %}
