<header class="page-header medium-down--hide">
  {% include 'breadcrumb' %}
</header>

{% case section.settings.sidebar_size %}
  {% when 'one-quarter' %}
    {%- assign content_size = "one-whole large--three-quarters" -%}
  {% when 'one-third' %}
    {%- assign content_size = "one-whole large--two-thirds" -%}
  {% else %}
    {%- assign content_size = "one-whole large--one-half" -%}
{% endcase %}
<div class="grid">
  {% if section.settings.sidebar_location == "left" %}
    <div class="grid__item one-whole large--{{ section.settings.sidebar_size }}">
      {% include 'page-sidebar' %}
    </div>
  {% endif %}
  <div class="grid__item {{ content_size }}">
    <div class="standard-page">
      {% if section.settings.display_page_title %}
        <h2 class="standard-page__title">{{ page.title }}</h2>
      {% endif %}
      <div class="standard-page__body">
        {{ page.content }}
      </div>
    </div>
  </div>
  {% if section.settings.sidebar_location == "right" %}
    <div class="grid__item one-whole large--{{ section.settings.sidebar_size }}">
      {% include 'page-sidebar' %}
    </div>
  {% endif %}
</div>


{% schema %}
  {
    "name": "Page with sidebar",
    "class": "page-sidebar",
    "settings": [
      {
        "type": "header",
        "content": "Page"
      },
      {
        "type": "checkbox",
        "id": "display_page_title",
        "label": "Display page title",
        "default": true
      },
      {
        "type": "header",
        "content": "Sidebar"
      },
      {
        "type": "text",
        "id": "sidebar_title",
        "label": "Sidebar title"
      },
      {
        "type": "select",
        "id": "sidebar_location",
        "label": "Sidebar position",
        "options": [
          {
            "value": "left", "label": "Left"
          },
          {
            "value": "right", "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "select",
        "id": "sidebar_size",
        "label": "Sidebar size",
        "options": [
          {
            "value": "one-quarter", "label": "25%"
          },
          {
            "value": "one-third", "label": "33.33%"
          },
          {
            "value": "one-half", "label": "50%"
          }
        ],
        "default": "one-quarter"
      }
    ],
    "blocks": [
      {
        "type": "page",
        "name": "Page",
        "settings": [
          {
             "type": "text",
             "id": "title",
             "label": "Section Title"
          },
          {
             "type": "page",
             "id": "page",
             "label": "Page"
          }
        ]
      },
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
             "type": "text",
             "id": "title",
             "label": "Section Title"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Align title",
            "default": "left",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"},
              {"value": "right", "label": "Right"}
            ]
          },
          {
            "type": "select",
            "id": "align_items",
            "label": "Align items",
            "default": "left",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"},
              {"value": "right", "label": "Right"}
            ]
          }
        ]
      },
      {
        "type": "content",
        "name": "Content block",
        "settings": [
          {
             "type": "text",
             "id": "title",
             "label": "Block Title",
             "default": "Block Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Why do we use it?<br> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Align",
            "default": "left",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"},
              {"value": "right", "label": "Right"}
            ]
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Recommended size 1800x200 px"
          },
          {
            "type": "select",
            "id": "image_size",
            "label": "Image Size",
            "options": [
              {"value": "256x256", "label": "256px"},
              {"value": "512x512", "label": "512px"},
              {"value": "768x768", "label": "768px"},
              {"value": "1024x1024", "label": "1024px"},
              {"value": "1600x1600", "label": "1600px"}
            ],
            "default": "512x512"
          },
          {
            "type": "select",
            "id": "crop_type",
            "label": "Crop Type",
            "options": [
              {"value": "top", "label": "Top"},
              {"value": "center", "label": "Center"},
              {"value": "bottom", "label": "Bottom"},
              {"value": "left", "label": "Left"},
              {"value": "right", "label": "Right"}
            ],
            "default": "center"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      },
      {
        "type": "contact",
        "name": "Contact Form",
        "settings": [
          {
             "type": "text",
             "id": "title",
             "label": "Section Title"
          },
          {
            "type": "select",
            "id": "align_button",
            "label": "Align button",
            "default": "center",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"},
              {"value": "right", "label": "Right"}
            ]
          }
        ]
      }
    ]
  }
{% endschema %}
