<div data-section-id="{{ section.id }}" data-section-type="slider-section" class="{% if section.settings.inverted %} section-testimonials--alt{% endif %}">
  <div class="page-width--large">
  {% if section.blocks.size == 1 %}
    {% assign grid_item_size = 'one-whole' %}
  {% elsif section.blocks.size == 2 %}
    {% assign grid_item_size = 'one-half' %}
  {% else %}
    {% assign grid_item_size = 'one-third' %}
  {% endif %}

  {% if section.blocks.size == 0 %}
    {%- assign blank_testimonial_text = "This store offers amazing products!
     I spend so much money here and I love it!" -%}
    {%- assign blank_testimonial_sign = "Derek Morin, Tabarnapp" -%}
    {%- assign blank_testimonial_url = "https://tabarnapp.com" -%}
    {%- assign blank_testimonial_img = 'blank-testimonial-image.png' | asset_img_url: '90x90', crop: 'center' | img_tag: 'Picture' -%}
  {% endif %}

  {% if section.settings.type == 'slider' %}
    <div class="slider-wrapper">
      <div class="testimonial-list slider slider--content" data-content-slider="true" data-slider-effect="{{ section.settings.effect }}" data-slider-dots="true" id="slider_{{ section.id }}">
        {% for block in section.blocks limit: section.blocks.size %}
          <div class="testimonial slider__slide--{{ block.id }}" {{ block.shopify_attributes }}>
            {%- assign testimonial = block.settings -%}
            <h2 class="testimonial__title">{{ section.settings.title | escape }}</h2>
            <div class="grid">
              <div class="testimonial__text grid__item ten-twelfths push--one-twelfth "{% if testimonial.image == blank %}style="margin-top: 40px;"{% endif %}>
                {{ testimonial.text | newline_to_br }}
              </div>
            </div>
            {% if testimonial.image != blank %}
            <div class="testimonial__image small--hide">
              <img src="{{ testimonial.image | img_url: '90x90', crop: 'center' }}" alt="{{ testimonial.name }}">
            </div>
            {% endif %}
            <p class="testimonial__sign">
              {% if testimonial.link != blank %}
                <a href="{{ block.settings.link }}" target="_blank">
              {% endif %}
              {{ testimonial.name }}{% if testimonial.company != blank %}, {{ testimonial.company }}{% endif %}
              {% if testimonial.link != blank %}
                </a>
              {% endif %}
            </p>
          </div>
        {% else %}
          <div class="testimonial slider__slide--999999">
            <h2 class="testimonial__title">{{ section.settings.title | escape }}</h2>
            <div class="grid">
              <div class="testimonial__text grid__item ten-twelfths push--one-twelfth">
                {{ blank_testimonial_text | newline_to_br }}
              </div>
            </div>
            <div class="testimonial__image small--hide">
              {{ blank_testimonial_img }}
            </div>
            <p class="testimonial__sign">
              <a href="{{ blank_testimonial_url }}" target="_blank">
                {{ blank_testimonial_sign }}
              </a>
            </p>
          </div>
        {% endfor %}
      </div>
    </div>

  {% elsif section.settings.type == 'grid' %}
    <div class="grid-wrapper">

      <div class="grid">
        <div class="grid__item">
          <div class="grid testimonial-list ">

            <h2 class="testimonial__title text-center">{{ section.settings.title | escape }}</h2>



            {% for block in section.blocks limit: section.blocks.size %}
              <div class="grid__item {{ grid_item_size }} small--one-whole testimonial" {{ block.shopify_attributes }}>
                {%- assign testimonial = block.settings -%}

                <div class="inner-content">
                    {% if testimonial.image != blank %}
                      <div class="testimonial__image ">
                        <img src="{{ testimonial.image | img_url: '90x90', crop: 'center' }}" alt="{{ testimonial.name }}">
                      </div>
                    {% endif %}

                    <p class="testimonial__sign">
                      {% if testimonial.link != blank %}
                        <a href="{{ block.settings.link }}" target="_blank">
                      {% endif %}
                      {{ testimonial.name }}{% if testimonial.company != blank %}, {{ testimonial.company }}{% endif %}
                      {% if testimonial.link != blank %}
                        </a>
                      {% endif %}

                    </p>
                    <div class="grid">
                      <div class="testimonial__text grid__item ten-twelfths push--one-twelfth">
                        {{ testimonial.text | truncate: 100 | newline_to_br }}

                      </div>
                    </div>

                  </div>

              </div>

            {% else %}
              <div class="grid__item one-whole small--one-whole testimonial">
                <div class="inner-content">
                  <div class="testimonial__image ">
                    {{ blank_testimonial_img }}
                  </div>
                  <p class="testimonial__sign">
                    <a href="{{ blank_testimonial_url }}" target="_blank">
                      {{ blank_testimonial_sign }}
                    </a>
                  </p>
                  <div class="grid">
                    <div class="testimonial__text grid__item ten-twelfths push--one-twelfth">
                      {{ blank_testimonial_text | truncate: 100 | newline_to_br  }}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  {% endif %}

  </div>
</div>

{% schema %}
  {
    "name": "Testimonials",
    "class": "section-testimonials",
    "max_blocks": 12,
    "settings": [
      {
        "type": "select",
        "id": "type",
        "label": "Type",
        "default": "grid",
        "options": [
          {"value": "grid", "label": "Grid"},
          {"value": "slider", "label": "Slider"}
        ]
      },
      {
        "type": "checkbox",
        "id": "inverted",
        "label": "Invert color",
        "default": false
      },
      {
        "type": "select",
        "id": "effect",
        "label": "Effect",
        "default": "fade",
        "info": "Only if type is Slider",
        "options": [
          {"value": "slide", "label": "Slide"},
          {"value": "fade", "label": "Fade"}
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "info": "Limited to 100 characters"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Recommended ratio 1:1 (square)"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Name"
          },
          {
            "type": "text",
            "id": "company",
            "label": "Company"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Content"
      }
    ]
  }
{% endschema %}
