<h1 class="section-instagram_feed">Instagram section</h1>
<div class="section-logos__wrapper">
  {% if section.settings.instTitle != blank %}
    <h2 class="text-center section-heading">{{ section.settings.instTitle | escape }}</h2>
  {% endif %}

  <div class="page-width--large">
    <div class="logos-list text-center clearfix">
      {% for block in section.blocks %}
        <div class="logos__item" {{ block.shopify_attributes }}>
          {% if block.settings.instImage != blank %}
            {{ block.settings.instImage | img_url: '160x160' | img_tag: 'Logo Image', 'section__instagram_feed' }}
          {% else %}
            {{ "blank-logo.png" | asset_img_url: '160x160' | img_tag: 'Logo Image', 'section__instagram_feed' }}
          {% endif %}
        </div>
      {% else %}
        {% for i in (1..4) %}
          <div class="logos__item">
            {{ "blank-logo.png" | asset_img_url: '160x160' | img_tag: 'Logo Image', 'section__instagram_feed' }}
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>

</div>
{% schema %}
  {
    "name": "instagramSection",
    "class": "section-instagram_feed",
    "max_blocks": 6,
    "settings": [
      {
        "type": "text",
        "id": "instTitle",
        "label": "Heading",
        "default": "Instagram feed"
      }
    ],
    "blocks": [
      {
        "type": "image_picker",
        "name": "instagram_content_name",
        "settings": [
          {
            "type": "image_picker",
            "id": "instImage",
            "label": "Image",
            "info": "Recommended ratio 1:1 (square)"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Instagram feed",
        "category": "Images",
        "blocks": [
          {
            "type": "image_picker"
          },
          {
            "type": "image_picker"
          },
          {
            "type": "image_picker"
          },
          {
            "type": "image_picker"
          }
        ]
      }
    ]
  }
{% endschema %}