{% unless section.settings.display == "disable"  %}

{%- assign topbar_height = 40 -%}
{%- assign header_height_mobile = 60 -%}
{%- assign header_height_desktop = 55 -%}
{% if settings.header_height == 'tall' %}
  {%- assign header_height = 120 -%}
{% else %}
  {%- assign header_height = header_height_desktop  -%}
{% endif %}
{%- assign body_padding_mobile = topbar_height | plus: header_height_mobile -%}
{%- assign body_padding = topbar_height | plus: header_height -%}
<style>
{% if section.settings.display == "mobile" or section.settings.display == "all"  %}
@media screen and (max-width: 1023px) {
body.fixed-header--all .main-content,body.fixed-header--mobile .main-content{padding-top:{{ body_padding_mobile }}px}
.product-add-to-cart-bar{top:{{ body_padding_mobile }}px}
}
{% endif %}
{% if section.settings.display == "desktop" or section.settings.display == "all"  %}
@media screen and (min-width: 1024px) {
body.fixed-header--all .main-content,body.fixed-header--desktop .main-content{padding-top:{{ body_padding }}px}
.product-add-to-cart-bar{top:{{ body_padding }}px}
}
{% endif %}
</style>

{% if section.settings.show_facebook_share_button or section.settings.show_facebook_like_button  %}
  {%- assign display_facebook_buttons = true -%}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% endif %}

<style>
.section-topbar{background-color:{{ section.settings.color_bg }}}
.section-topbar .section-topbar__message{color:{{ section.settings.color_text }}}
.section-topbar .section-topbar__message .section-topbar__message-link,.section-topbar .section-topbar__message .section-topbar__message--phone{color:{{ section.settings.color_text }}}
.section-topbar .btn.section-topbar__button{color:{{ section.settings.color_button_text }};background-color:{{ section.settings.color_button_bg }};border-color:{{ section.settings.color_button_border }}}
</style>
{% if section.settings.message_text != blank or section.settings.message_link_text != blank %}
  {%- assign has_announcement = true -%}
{% endif %}
{% case section.settings.display %}
  {% when "mobile" %}
    {%- assign visibility_classes = " hide small--show" -%}
    {% unless has_announcement %}
      {%- assign visibility_classes = " small--hide" -%}
    {% endunless %}
  {% when "desktop" %}
    {%- assign visibility_classes = " small--hide" -%}
  {% else %}
    {%- assign visibility_classes = "" -%}
    {% unless has_announcement %}
      {%- assign visibility_classes = " small--hide" -%}
    {% endunless %}
{% endcase %}
<div class="section-topbar{{ visibility_classes }}">
  <div class="grid--full">
    <div class="grid__item medium-down--hide one-third ">
      {% if display_facebook_buttons and section.settings.facebook_buttons_position == 'left' %}
        {% include 'facebook-buttons' %}
      {% elsif section.settings.social_icons and section.settings.facebook_buttons_position != 'left' %}
        {% include 'social-icons-list' %}
      {% endif %}
    </div>
    <div class="grid__item medium-down--one-whole one-third ">
    {% if section.settings.message_text != blank or section.settings.message_link_text != blank %}
      <div class="section-topbar__message {{ visibility_classes }}">
        {% if section.settings.message_link != blank and section.settings.message_link_text == blank %}
          <a href="{{ section.settings.message_link }}" class="section-topbar__message-link">
            {{ section.settings.message_text }}
          </a>
        {% elsif section.settings.message_link != blank and section.settings.message_link_text != blank %}
          {% if section.settings.is_phone_number %}
            <a class="section-topbar__message--phone" href="tel:{{ section.settings.message_text | replace: ' ', '' }}">
              {{ section.settings.message_text | escape }}
            </a>
          {% else %}
            {{ section.settings.message_text | escape }}
          {% endif %}
          <a href="{{ section.settings.message_link }}" class="btn btn--secondary section-topbar__button">
            {{ section.settings.message_link_text }}
          </a>
        {% else %}
          {% if section.settings.is_phone_number %}
            <a class="section-topbar__message--phone" href="tel:{{ section.settings.message_text | replace: ' ', '' }}">
              {{ section.settings.message_text | escape }}
            </a>
          {% else %}
            {{ section.settings.message_text }}
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
    </div>
    <div class="section-topbar__controls grid__item medium-down--hide one-third ">



      {% if settings.show_multiple_currencies %}
        {% include 'currency-picker' %}
      {% endif %}

      {% if display_facebook_buttons and section.settings.facebook_buttons_position == 'right' %}
        {% include 'facebook-buttons' %}
      {% elsif section.settings.social_icons and section.settings.facebook_buttons_position != 'right' %}
        {% include 'social-icons-list' %}
      {% endif %}

    </div>
  </div>
</div>

{% endunless %}

{% schema %}
  {
    "name": "Topbar",
    "settings": [
      {
        "type": "select",
        "id": "display",
        "label": "Display",
        "default": "all",
        "options": [
          {"value": "all", "label": "Desktop & Mobile"},
          {"value": "mobile", "label": "Mobile only"},
          {"value": "desktop", "label": "Desktop only"},
          {"value": "disable", "label": "Disable"}
        ]
      },
      {
        "type": "checkbox",
        "id": "social_icons",
        "label": "Display social icons on desktop",
        "default": true,
        "info": "Set up your social profiles at General Settings > Social Media"
      },

      {
      "type": "header",
      "content": "Facebook Buttons"
      },
      {
      "type": "select",
      "id": "facebook_buttons_position",
      "label": "Position",
      "default": "left",
      "options": [
      {"value": "left", "label": "Left"},
      {"value": "right", "label": "Right"}
      ],
      "info": "Switch position with social links"
      },
      {
      "type": "text",
      "id": "facebook_page_link",
      "label": "Facebook page link",
      "info": "https://www.facebook.com/shopify"
      },

      {
      "type": "checkbox",
      "id": "show_facebook_like_button",
      "label": "Display Facebook Like button",
      "default": false
      },
      {
      "type": "checkbox",
      "id": "show_facebook_share_button",
      "label": "Display Facebook Share button",
      "default": false
      },
      {
        "type": "header",
        "content": "Announcement / Tel."
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Announcement message or phone number"
      },
      {
        "type": "checkbox",
        "id": "is_phone_number",
        "label": "This is a phone number",
        "default": false,
        "info": "If checked people can start call by tapping the number"
      },
      {
        "type": "text",
        "id": "message_link_text",
        "label": "Call to action button text",
        "info": "Optional"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Call to action link"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Background color",
        "default": "#191919"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Announcement text color",
        "default": "#a5a5a5"
      },
      {
        "type": "color",
        "id": "color_button_bg",
        "label": "Announcement button background",
        "default": "transparent"
      },
      {
        "type": "color",
        "id": "color_button_border",
        "label": "Announcement button border",
        "default": "#a5a5a5"
      },
      {
        "type": "color",
        "id": "color_button_text",
        "label": "Announcement button text",
        "default": "#ffffff"
      }
    ]
  }
{% endschema %}
