<div class="social-links">
  <ul>
    {% if settings.social_twitter_url != blank %}
    <li><a title="Twitter" class="twitter" target="_blank" href="{{ settings.social_twitter_url }}">{% include 'svg-twitter' %}</a></li>
    {% endif %}
    {% if settings.social_facebook_url != blank %}
    <li><a title="Facebook" class="facebook" target="_blank" href="{{ settings.social_facebook_url }}">{% include 'svg-facebook' %}</a></li>
    {% endif %}
    {% if settings.social_tumblr_url != blank %}
    <li><a title="Tumblr" class="tumblr" target="_blank" href="{{ settings.social_tumblr_url }}">{% include 'svg-tumblr' %}</a></li>
    {% endif %}
    {% if settings.social_youtube_url != blank %}
    <li><a title="Youtube" class="youtube" target="_blank" href="{{ settings.social_youtube_url }}">{% include 'svg-youtube' %}</a></li>
    {% endif %}
    {% if settings.social_vimeo_url != blank %}
    <li><a title="Vimeo" class="vimeo" target="_blank" href="{{ settings.social_vimeo_url }}">{% include 'svg-vimeo' %}</a></li>
    {% endif %}
    {% if settings.social_instagram_url != blank %}
    <li><a title="Instagram" class="instagram" target="_blank" href="{{ settings.social_instagram_url }}">{% include 'svg-instagram' %}</a></li>
    {% endif %}
    {% if settings.social_pinterest_url != blank %}
    <li><a title="Pinterest" class="pinterest" target="_blank" href="{{ settings.social_pinterest_url }}">{% include 'svg-pinterest' %}</a></li>
    {% endif %}
    {% if settings.social_google_url != blank %}
    <li><a title="Google+" class="google" target="_blank" href="{{ settings.social_google_url }}">{% include 'svg-google-plus' %}</a></li>
    {% endif %}
    {% if settings.social_rss_url != blank %}
    <li><a title="RSS" class="rss" target="_blank" href="{{ settings.social_rss_url }}">{% include 'svg-rss' %}</a></li>
    {% endif %}
  </ul>
</div>